.archive {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  width: calc(100% - 2rem);
  max-width: $width-site - 2rem;
  margin: 0 auto;

  &::after {
    content: '';
    width: calc(100% / 3 - .625rem);
  }

  @media screen and (max-width: 1023px) {
    max-width: $width-content;
  }

  @media screen and (max-width: 479px) {
    width: 100%;
  }
}
