.footer {
  display: flex;
  flex-flow: row wrap;

  width: 100%;
  max-width: $width-site;
  margin: 2rem 0;
  padding-left: 1rem;
  padding-right: 1rem;

  .footer__copy {
    display: block;

    width: 50%;
    padding-right: 0;

    margin-bottom: 0;

    line-height: 1.4;
    font-size: .8125rem;
    font-weight: 500;
    letter-spacing: .5px;

    p {
      margin-bottom: .5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $color-light;

      &:hover {
        filter: brightness(120%);
      }
    }

    @media screen and (max-width:1023px) {
      width: 100%;
      padding: 0;
    }
  }

  .footer__logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    width: 25%;
    padding-right: 1rem;

    .footer__logo-desc {
      display: block;
      cursor: default;

      max-width: 15rem;
      padding-top: 1rem;
      line-height: 1.4;
      font-size: .8125rem;
      font-weight: 500;
      letter-spacing: .5px;
    }

    .footer__logo-link {
      display: block;
      align-self: flex-start;
    }

    .footer__logo-image {
      display: block;

      width: 6.25rem;
      height: 1.875rem;
    }

    @media screen and (max-width: 1023px) {
      display: none;
    }
  }

  .footer__nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    width: 25%;
    padding-right: 1rem;

    .footer__nav-menu {
      display: block;
    }

    .footer__nav-item {
      display: block;

      padding: .125rem 0;
    }

    .footer__nav-link {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1;
      color: $color-white;

      &:hover {
        filter: brightness(60%);
      }
    }

    .footer__nav-social {
      display: flex;

      padding-top: 1rem;

      .social__item:first-child {
        margin-left: 0;
      }
    }

    @media screen and (max-width: 1023px) {
      width: 100%;
      padding-bottom: 1rem;
    }
  }

  @media screen and (max-width: 1023px) {
    max-width: $width-tablet;
    margin: 1rem 0;
  }
}
