.navbar {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 100%;
  align-items: center;
  justify-content: flex-start;

  width: 100%;

  .navbar__social {
    padding-right: 1.5rem;

    @media screen and (max-width: 1023px) {
      width: 100%;
      margin-top: 1rem;
      padding: 1rem 0 0;

      color: $color-white;

      border-top: solid 1px rgba(255, 255, 255, .25);
    }
  }

  .navbar__menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1023px) {
      .menu {
        margin-bottom: 1rem;

        .menu__item {
          font-size: 1.25rem;
          font-weight: 700;
        }

        @media screen and (max-width: 767px) {
          flex-flow: column wrap;
        }
      }
    }
  }

  .navbar__pages {
    display: none;

    .menu .menu__item {
      font-size: .875rem;

      &:after {
        content: '•';
      }

      .menu__item-link {
        padding: 0;
        margin-right: .5rem;
      }
    }

    .menu .menu__item:last-child {
      &:after {
        display: none;
      }

      .menu__item-link {
        margin-right: 0;
      }
    }

    @media screen and (max-width: 1023px) {
      display: flex;
    }
  }

  @media screen and (max-width: 1023px) {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;

    opacity: 0;
    width: 100%;
    padding: 1rem;

    transform: translateY(-100%);
    transition: transform .25s;

    &.navbar--expand {
      visibility: visible;

      opacity: 1;
      transform: translateY(0);

      &:after {
        content: '';
        @include full-size(-1);
        background-color: $color-primary;
      }
    }
  }
}
