.navbar {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 100%;
  align-items: center;
  justify-content: flex-start;

  width: 100%;

  .navbar__social {
    padding-right: 1.5rem;

    @media screen and (max-width: 1023px) {
      width: 100%;
      margin-top: 1rem;
      padding: 1rem 0 0;

      color: $color-white;

      border-top: solid 1px rgba(255, 255, 255, .25);
    }
  }

  .navbar__menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1023px) {
      width: 100%;
      margin: 0;
    }
  }

  .navbar__mobile {
    display: none;

    @media screen and (max-width: 1023px) {
      display: flex;
      margin-bottom: .5rem;
    }
  }

  @media screen and (max-width: 1023px) {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;

    width: 100%;
    padding: 1rem;
    background-color: $color-primary;

    transform: translateY(-100%);
    transition: transform .25s;

    &.navbar--expand {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body.is-navbar {
  #wpadminbar {
    @media screen and (max-width: 600px) {
      top: -46px;
    }
  }

  @media screen and (max-width: 1023px) {
    position: fixed;
    left: 0;

    width: 100%;
    overflow: hidden;

    &:after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      z-index: 4;

      width: 100%;
      height: 100vh;

      background: rgba(0, 0, 0, .75);
    }
  }
}
