.post {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  flex: 1 1 42.25rem;
  position: relative;

  overflow: hidden;

  & > :first-child {
    margin-top: 1rem;
  }

  &.post--page {
    flex: 1 1 auto;

    .entry-content {
      padding-top: 2rem;

      @media screen and (max-width: 767px) {
        padding-top: 1.5rem;
      }
    }
  }

  &.post--generator {
    flex: 1 1 auto;

    .entry-footer > * {
      max-width: calc(#{$width-wide} + 4rem);
    }

    .entry-comments {
      margin: 0;

      .entry-comments__widget .comments {
        max-width: calc(#{$width-wide} + 4rem);
      }
    }
  }

  &.post--chat {
    flex: 0 1 44rem;
    align-items: center;

    & > * {
      margin-top: 1rem;
    }

    .entry-header, .entry-content {
      padding: 2rem 1rem;

      @media screen and (max-width: 767px) {
        padding: 1.5rem 1rem;
      }
    }
  }

  &.post--aside {
    flex: 1 1 auto;
  }
}
