.post {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  flex: 1 1 42.25rem;
  position: relative;

  overflow: hidden;

  & > :first-child {
    margin-top: 1rem;
  }

  &.post--page {
    flex: 1 1 auto;

    .entry-content {
      padding-top: 2rem;
      padding-bottom: 4rem;

      @media screen and (max-width: 767px) {
        padding-top: 1.5rem;
        padding-bottom: 2rem;
      }
    }
  }

  &.post--generator {
    flex: 1 1 auto;

    .entry-footer > * {
      max-width: calc(#{$width-wide} + 4rem);
    }

    .entry-comments > * {
      max-width: calc(#{$width-wide} + 4rem);
    }

    .entry-bottom > * {
      max-width: calc(#{$width-wide} + 4rem);
    }
  }

  &.post--cards {
    flex: 0 1 48rem;
    align-items: center;

    & > * {
      margin-top: 1rem;
    }

    .entry-header {
      padding: 2rem 1rem;

      @media screen and (max-width: 767px) {
        padding: 1.5rem 1rem;
      }
    }

    .entry-content {
      padding: 3rem 1rem;

      @media screen and (max-width: 767px) {
        padding: 1.5rem 1rem;
      }
    }

    .entry-comments + .entry-footer {
      margin-top: 0;
    }

    .entry-comments + .entry-bottom {
      margin-top: 0;
    }

    .entry-footer + .entry-bottom {
      margin-top: 0;
    }
  }

  &.post--feature {
    flex: 0 1 48rem;
    align-items: center;

    .entry-header {
      padding: 2rem 1rem;

      @media screen and (max-width: 767px) {
        padding: 1.5rem 1rem;
      }
    }

    .entry-content {
      padding: 1rem;

      @media screen and (max-width: 767px) {
        padding: 1rem;
      }
    }

    .entry-content + .entry-comments {
      margin-top: 1rem;
    }

    .entry-content + .entry-footer {
      margin-top: 1rem;
    }

    .entry-content + .entry-bottom {
      margin-top: 1rem;
    }
  }

  &.post--quiz {
    flex: 0 1 44rem;
    align-items: center;

    .entry-comments {
      background-color: transparent;
    }

    .entry-footer {
      background-color: transparent;
    }

    .entry-bottom {
      background-color: transparent;
    }
  }

  &.post--story {
    flex: 1 1 auto;

    .entry-story {
      margin-top: 0;
    }
  }

  &.post--aside {
    flex: 1 1 auto;
  }
}
