.post {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  flex: 1 1 42.25rem;
  position: relative;

  overflow: hidden;

  & > :first-child {
    margin-top: 1rem;
  }

  &.post--page {
    flex: 1 1 auto;

    .entry-content {
      padding: 2rem 1rem;

      @media screen and (max-width: 767px) {
        padding: 1rem;
      }
    }
  }

  &.post--aside {
    flex: 1 1 auto;
  }

  &.post--chat {
    flex: 0 1 44rem;
    align-items: center;

    & > * {
      margin-top: 1rem;
    }

    .entry-header,
    .entry-content {
      padding: 2rem 1rem;

      @media screen and (max-width: 767px) {
        padding: 1rem;
      }
    }
  }
}
