.search {
  display: none;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100vh;
  overflow: auto;

  background-color: rgba(0, 0, 0, .95);
  transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;

  .search__layer {
    width: 40.625rem;
    padding: 8.75rem 1rem 6rem;
    max-width: 100%;

    @media screen and (max-width: 767px) {
      padding-top: 7.5rem;
    }
  }

  .search__field {
    display: block;
    position: relative;

    width: 100%;

    .search__field-input {
      display: block;

      width: 100%;
      padding: 0;
      line-height: 1.75;
      font-size: 2rem;
      font-weight: 500;

      color: $color-white;

      border-bottom: solid 1px $color-white;
      border-radius: 0;

      @media screen and (max-width: 767px) {
        font-size: 1.5rem;
      }
    }
  }

  .search__results {
    display: block;

    margin-top: 1rem;

    .search__results-head {
      display: block;

      margin-top: 2rem;
      font-size: 1.375rem;
      font-weight: 500;
      line-height: 1.25;

      @media screen and (max-width: 767px) {
        margin-top: 1rem;
        font-size: 1.25rem;
      }
    }

    .search__results-text {
      display: block;

      margin-top: .75rem;
      font-size: .875rem;
      line-height: 1.5;
      color: rgba(255, 255, 255, .75);
    }

    .search__results-link {
      display: block;
      position: relative;

      margin-top: 2rem;

      border-top: solid 1px rgba(255, 255, 255, .4);

      &:first-child {
        border-top: none;
      }

      @media screen and (max-width: 767px) {
        margin-top: 1rem;
      }
    }
  }

  &.search--expand {
    display: flex;
    z-index: 4;
  }
}
