.search {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  max-width: $width-site;
  min-height: 60vh;

  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;

  & > * {
    display: flex;
    justify-content: center;
    flex: 0 1 48rem;

    max-width: 100%;
    margin: 1rem 0;

    background-color: $color-white;
  }

  .gsc-adBlock {
    display: none;
  }

  .gsc-control-cse {
    display: block;

    width: $width-content;
    max-width: 100%;
    padding: 2rem 1rem;

    font-family: $font-regular;
    font-weight: 400;

    @media screen and (max-width: 767px) {
      padding: 1.5rem 1rem;
    }
  }

  .gsc-input-box {
    padding: 0;
    border: solid 1px rgba($color-black, .625);
    border-radius: 2px;
  }

  .gsc-input-box .gsib_a {
    padding: .625rem;
    padding-right: 2.5rem;

    @media screen and (max-width: 767px) {
      padding: .5rem;
      padding-right: 2rem;
    }
  }

  .gsc-input-box .gsib_b {
    display: none;
  }

  .gsc-input-box input.gsc-input {
    text-indent: 0 !important;
    background: none !important;

    font-size: 1.25rem;
    font-weight: 500;

    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }

  .gsc-input-box input.gsc-input::placeholder {
    font-size: 1.25rem;
    font-weight: 400;

    color: rgba($color-text, .25);

    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }

  .gsc-result-info-container {
    display: none;
  }

  .gsc-search-box {
    position: relative;
  }

  .gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 0;
  }

  .gsc-search-button {
    position: absolute;
    top: 0;
    right: 0;

    width: 2.5rem;
    height: 100%;
    padding: 0;

    background: transparent;
    border: none;
  }

  .gsc-search-button:focus {
    box-shadow: none;
  }

  .gsc-search-button:hover {
    background: transparent;
    border: none;
  }

  .gsc-search-button svg {
    fill: $color-text;

    width: 1rem;
    height: 1rem;
  }

  .gsc-orderby {
    display: flex;
    align-items: center;

    margin: .5rem 0;
  }

  .gsc-selected-option-container {
    display: none;
  }

  .gsc-option-menu-invisible {
    display: flex;
  }

  .gsc-option-menu-item {
    display: block;

    margin: 0 .5rem 0 0;
    padding: 0;

    background: transparent;
    border: none;
  }

  .gsc-option {
    padding: .5rem 1rem;
    line-height: 1;

    font-size: .75rem;
    font-weight: 500;
    text-transform: uppercase;

    color: $color-text;
    background-color: rgba($color-black, .05);
  }

  .gsc-option-menu-item-highlighted .gsc-option {
    color: $color-text;
    background-color: $color-gcse;
  }

  .gsc-orderby-label {
    padding-right: .75rem;

    font-size: .875rem;
    font-weight: 500;

    color: $color-text;

    @media screen and (max-width: 479px) {
      display: none;
    }
  }

  .gsc-results {
    width: 100%;

    .gs-no-results-result .gs-snippet,
    .gs-error-result .gs-snippet {
      margin: 0;
      font-size: .875rem;
      background-color: transparent;

      border: none;
    }

    .gs-spelling {
      padding: 0 .25rem;

      font-size: 1rem;
      font-weight: 500;

      a {
        text-decoration: none;
        color: $color-primary;
      }
    }

    .gs-spelling-original {
      margin-top: .25rem;
      font-size: .875rem;
      font-weight: 400;
    }

    .gsc-result {
      margin: 0;
      padding: 1.5rem 0;

      border-bottom: 1px solid rgba($color-black, .125);
    }

    .gsc-result:hover {
      border-bottom: 1px solid rgba($color-black, .125);
    }

    .gs-result:hover .gs-visibleUrl {
      color: rgba($color-text, .75);
    }

    .gs-result {
      position: relative;
      margin: 0 -.25rem;
    }

    .gsc-table-result {
      font-family: $font-regular;
      font-size: .875rem;
    }

    .gs-snippet {
      font-size: .875rem;
      color: $color-text;

      @media screen and (max-width: 767px) {
        font-size: .8125rem;
      }
    }

    .gs-snippet b {
      padding: 0 .125rem;
      background-color: $color-gcse;
    }

    .gs-snippet b:first-child {
      background: transparent;
    }

    .gs-title, .gs-title * {
      text-decoration: none;
      color: $color-text;
    }

    .gs-visibleUrl {
      margin: .25rem 0;
      color: rgba($color-text, .5);
      transition: color .25s;
    }

    a.gs-title, a.gs-title * {
      font-size: 1.375rem;
      font-weight: 700;
      line-height: 1.125;

      @media screen and (max-width: 767px) {
        font-size: 1.125rem;
      }
    }

    a.gs-title b {
      padding: 0 .125rem;
      background-color: $color-gcse;
    }

    a.gs-title:after {
      content: '';
      @include full-size;
    }

    .gsc-cursor-box {
      margin: 2rem 0 0;

      @media screen and (max-width: 767px) {
        margin: 1.5rem 0 0;
      }
    }

    .gsc-cursor-box .gsc-cursor-page {
      outline: none;

      padding: .375rem .625rem;

      font-size: .875rem;
      font-weight: 500;

      color: $color-text;
      background-color: rgba($color-text, .05);
    }

    .gsc-cursor-box .gsc-cursor-page:hover {
      text-decoration: none;
    }

    .gsc-cursor-box .gsc-cursor-current-page {
      color: $color-text;
      background-color: $color-gcse;
    }
  }

  .gcsc-more-maybe-branding-root {
    display: none;
  }

  .gcsc-find-more-on-google-root {
    display: none;
  }

  .gcsc-branding {
    display: none;
  }

  @media screen and (max-width: 1023px) {
    max-width: 100%;
  }

  @media screen and (max-width: 479px) {
    padding-left: 0;
    padding-right: 0;
  }
}
