.select {
  display: flex;
  position: relative;

  width: calc(100% / 4 - 1rem);
  margin: 1rem 1rem 0 0;
  overflow: hidden;

  .select__link {
    display: block;
    position: relative;

    width: 100%;
    padding: 0 1rem 2rem;

    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;

    color: $color-select;
    background-color: $color-white;

    transition: color .25s, background .25s;

    strong {
      display: block;

      font-size: 10rem;
      font-weight: 400;
      line-height: 1;

      @media screen and (max-width: 767px) {
        font-size: 6rem;
      }
    }

    &:hover {
      color: $color-white;
      background-color: $color-select;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
    }
  }

  @media screen and (max-width: 1023px) {
    width: calc(100% / 2 - 1rem);
  }

  @media screen and (max-width: 479px) {
    width: calc(100% - 1rem);
  }

}
