.select {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-self: flex-start;
  position: relative;

  width: 100%;
  margin-top: 1rem;
  padding: 0 0 2rem 1rem;
  overflow: hidden;

  background-color: $color-white;

  .select__head {
    position: relative;
    z-index: 2;

    width: calc(100% + 2rem);
    margin-left: -1rem;

    color: $color-white;
    background-color: $color-select;
  }

  .select__link {
    display: block;
    position: relative;

    width: calc(100% / 4 - 1rem);
    margin: 1rem 1rem 0 0;
    padding: 1rem 1rem 3rem;
    overflow: hidden;

    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;

    color: $color-select;
    background-color: $color-white;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, .25);

    transition: box-shadow .25s;

    strong {
      display: block;

      margin: .25rem 0 .5rem;
      font-size: 12rem;
      font-weight: 500;
      line-height: .875;

      transform: translateX(-.025em);

      @media screen and (max-width: 767px) {
        font-size: 7rem;
        margin: 0 0 .25rem;
      }
    }

    &:hover {
      box-shadow: 0 0 20px 2px rgba(0, 0, 0, .375);
    }

    @media screen and (max-width: 1023px) {
      width: calc(100% / 2 - 1rem);
    }

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 479px) {
      width: calc(100% - 1rem);
      padding-bottom: 2rem;
    }
  }
}
