.caption {
  display: block;

  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0;

  .caption__title {
    display: inline-block;
    cursor: default;

    font-size: 3rem;
    font-weight: 700;
    line-height: 1.25;
    color: transparent;

    background: linear-gradient(90deg, $color-title-start, $color-title-finish);
    background-clip: text;
    -webkit-background-clip: text;

    &:first-letter {
      text-transform: uppercase;
    }

    &.caption__title--author {
      background: linear-gradient(90deg, $color-author-start, $color-author-finish);
      background-clip: text;
      -webkit-background-clip: text;
    }

    &.caption__title--pure {
      font-size: 4.875rem;
      line-height: 1;
      color: $color-white;
      background: none;

      @media screen and (max-width: 767px) {
        font-size: 3.75rem;
      }

      @media screen and (max-width: 479px) {
        font-size: 2.5rem;
      }
    }

    &.caption__title--large {
      font-size: 10rem;
      line-height: 1;

      @media screen and (max-width: 1299px) {
        font-size: 7.5rem;
      }

      @media screen and (max-width: 1023px) {
        font-size: 6rem;
      }

      @media screen and (max-width: 767px) {
        font-size: 3.75rem;
      }

      @media screen and (max-width: 479px) {
        font-size: 2.5rem;
      }
    }

    @media screen and (max-width: 1023px) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.875rem;
    }
  }

  .caption__text {
    display: block;
    cursor: default;

    margin: .75rem 0;
    max-width: 54rem;

    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.5;
    color: $color-white;

    .button {
      width: auto;
      margin-top: 1.5rem;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0;
      text-transform: none;

      border-radius: 5px;
    }

    @media screen and (max-width: 1023px) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.125rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1rem;
    }
  }

  &.special {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: .625rem .5rem;
    font-weight: 700;
    line-height: 1;

    background-color: #e05915;
    color: $color-white;

    h1 {
      font-size: 2.5rem;

      @media screen and (max-width: 1023px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 767px) {
        font-size: 1.875rem;
      }

      @media screen and (max-width: 478px) {
        font-size: 1.5rem;
      }

    }
  }
}
