.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  width: 100%;
  max-width: $site-width;
  margin-top: 1rem;

  padding-left: 1rem;
  padding-right: 1rem;

  &.content--press {
    margin-top: 0;
  }

  &.content--slim {
    max-width: $slim-width;
  }

  @media screen and (max-width: 479px) {
    padding-left: 0;
    padding-right: 0;
  }
}
