.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  width: 100%;
  max-width: $width-site;
  margin-top: 1rem;

  padding-left: 1rem;
  padding-right: 1rem;

  &.content--news {
    max-width: $width-news;
  }

  &.content--post {
    justify-content: center;

    @media screen and (max-width: 1023px) {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 1023px) {
    max-width: $width-tablet;
  }

  @media screen and (max-width: 479px) {
    padding-left: 0;
    padding-right: 0;
  }
}
