.glide {
  display: flex;
  position: relative;
  z-index: -1;

  width: 100%;
  height: calc(100vh - 7rem);
  min-height: 28rem;

  color: $color-white;
  background-color: $color-black;

  opacity: 0;
  transition: opacity .5s;

  .glide__track {
    overflow: hidden;
  }

  .glide__slides {
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
    user-select: none;

    width: 100%;
    height: 100%;
    padding: 0;

    backface-visibility: hidden;
    transform-style: preserve-3d;
    overflow: hidden;

    touch-action: pan-Y;
  }

  .glide__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;

    width: 100%;
    height: 100%;

    .glide__slide-meta {
      width: 100%;
      padding-bottom: 1rem;
      color: $color-white;
    }

    .glide__slide-title {
      display: block;

      width: 100%;
      max-width: 40rem;
      margin-bottom: 1.5rem;

      font-size: 3.5rem;
      font-weight: 700;
      line-height: 1;
      letter-spacing: .5px;

      transform: translateX(-3px);

      em {
        font-family: $font-serif;
        font-weight: 400;
      }

      @media screen and (max-width: 1023px) {
        margin-bottom: .75rem;
        font-size: 3rem;
        line-height: 1.075;
      }

      @media screen and (max-width: 767px) {
        font-size: 2.5rem;
        line-height: 1.125;
      }

      @media screen and (max-width: 479px) {
        font-size: 2rem;
        line-height: 1.125;
      }
    }

    .glide__slide-wrap {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: flex-start;
      position: relative;

      width: calc(100% - 8rem);
      height: 100%;
      max-width: calc(#{$site-width} - 2rem);

      padding: 4rem 0 3rem;

      @media screen and (max-width: 767px) {
        align-items: center;
        width: calc(100% - 4rem);
      }

      @media screen and (max-width: 479px) {
        width: calc(100% - 2rem);
        padding-top: 3rem;
      }
    }

    .glide__slide-kicker {
      position: absolute;
      top: 2rem;
      left: 0;

      font-size: .8125rem;
      font-weight: 500;
      letter-spacing: .25px;

      @media screen and (max-width: 479px) {
        top: 1rem;
      }
    }

    .glide__slide-image {
      flex: 1;

      width: 100%;
      max-width: 40rem;

      height: 100%;
      max-height: calc(40rem * (var(--image-ratio)));

      background-size: contain;
      background-repeat: no-repeat;

      @media screen and (max-width: 44rem) {
        max-height: calc((100vw - 4rem) * (var(--image-ratio)));
      }

      @media screen and (max-width: 479px) {
        max-height: calc((100vw - 2rem) * (var(--image-ratio)));
      }
    }

    .glide__slide-entry {
      display: block;

      width: 100%;
      max-width: 40rem;

      font-size: 1rem;
      font-weight: 700;

      h1, h2 {
        margin: 1rem 0;

        font-size: 2.5rem;
        line-height: 1.075;

        @media screen and (max-width: 767px) {
          font-size: 2rem;
          line-height: 1.125;
        }

        @media screen and (max-width: 479px) {
          margin: .75rem 0;
          font-size: 1.5rem;
          line-height: 1.25;
        }
      }

      h3 {
        margin: 1rem 0;

        font-size: 2rem;
        line-height: 1.125;

        @media screen and (max-width: 767px) {
          font-size: 1.5rem;
          line-height: 1.25;
        }

        @media screen and (max-width: 479px) {
          margin: .75rem 0;
          font-size: 1.375rem;
        }
      }

      h4 {
        margin: 1rem 0;

        font-size: 1.5rem;
        line-height: 1.25;

        @media screen and (max-width: 767px) {
          font-size: 1.25rem;
          line-height: 1.375;
        }

        @media screen and (max-width: 479px) {
          margin: .75rem 0;
          font-size: 1.125rem;
        }
      }

      p {
        margin: 1rem 0;

        @media screen and (max-width: 479px) {
          margin: .75rem 0;
          font-size: .875rem;
          font-weight: 500;
        }
      }
    }
  }

  .glide__backdrop {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: -1;

    background-size: cover;
    background-position: center;
  }

  .glide__shadow {
    flex: 1;
  }

  .glide__bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;

    transform: translateX(-50%);

    .glide__bullets-item {
      width: 6px;
      height: 6px;
      margin: 0 .75rem;

      opacity: 1;
      background: $color-white;

      border-radius: 50%;

      &.glide__bullets-item--active {
        transform: scale(2);
      }

      @media screen and (max-width: 767px) {
        width: 4px;
        height: 4px;
      }
    }
  }

  .glide__control {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    outline: none;
    visibility: visible;
    cursor: pointer;

    width: 100%;
    height: 100%;
    min-width: 4rem;
    margin: 0;
    opacity: .5;

    font-size: 2rem;

    transition: all .25s;

    &:hover {
      opacity: 1;
    }

    &.glide__control--next {
      justify-content: flex-end;
      right: 0;

      width: calc(100% - 45rem);
      max-width: calc(50% - 2rem);

      padding-right: 1rem;
    }

    &.glide__control--prev {
      justify-content: flex-start;
      left: 0;

      width: calc((100% - #{$site-width}) / 2);
      padding-left: 1rem;
    }

    &.glide__control--disabled {
      display: none;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &.glide--slider {
    opacity: 1;
  }
}
