.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5;

  width: 100%;

  color: $color-text;
  background-color: $color-white;

  .header__topline {
    max-width: $site-width;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
