.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  width: 100%;
  margin-bottom: 1rem;

  @media screen and (max-width: 479px) {
    padding-left: 0;
    padding-right: 0;
  }
}
