.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  width: 100%;
  max-width: $width-site;

  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  &.navigation--news {
    max-width: $width-news;

    @media screen and (max-width: 1023px) {
      max-width: $width-tablet;
    }
  }

  @media screen and (max-width: 1023px) {
    max-width: $width-tablet;
  }

  @media screen and (max-width: 479px) {
    padding-left: 0;
    padding-right: 0;
  }
}
