.post {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  flex: 1 1 42.25rem;
  position: relative;

  margin-top: 1rem;
  overflow: hidden;

  &.post--page {
    flex: 1 1 auto;

    .entry-content {
      width: 100%;
      padding-top: 2rem;
    }
  }

  &.post--aside {
    flex: 1 1 auto;
  }

  &.post--chat {
    flex: 0 1 44rem;
    align-items: center;

    .entry-header {
      padding: 2rem;

      @media screen and (max-width: 767px) {
        padding: 1rem;
      }
    }

    .entry-content {
      margin-top: 1rem;
      padding: 2rem;

      .figure--outer {
        width: calc(100% + 4rem);
        margin-left: -2rem;
        margin-right: -2rem;
      }

      @media screen and (max-width: 767px) {
        padding: 1rem;
      }
    }

    .entry-footer {
      margin-top: 1rem;
    }
  }
}
