.refers {
  display: block;
  position: relative;

  width: 100%;
  overflow: hidden;

  color: $color-text;
  background-color: $color-white;

  & > * {
    width: 100%;
    max-width: calc(#{$width-content} + 4rem);
    margin: 1.5rem auto;

    background-color: $color-sheet;
  }

  .tags {
    padding: .75rem 2rem;
  }

  .share {
    justify-content: space-between;
    padding: .75rem 2rem;

    .share__link {
      flex: 1 1 auto;
    }
  }
}
