.slider {
  display: block;

  width: 100%;
  height: auto;
  min-height: calc(100vh - 4rem);

  .slider__background {
    display: flex;
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;

    z-index: -1;

    background-size: cover;
    background-position: center;
  }

  .slider__shadow {
    flex: 1;
  }

  .slider__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: default;

    width: calc(100% - 8rem);
    height: 100%;

    padding-top: 4.75rem;
    padding-bottom: 3.25rem;

    .slider__item-meta {
      position: absolute;
      top: 2rem;

      color: $color-white;
    }

    .slider__item-title {
      display: block;

      width: 100%;
      margin-bottom: 1.5rem;

      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.075;
      letter-spacing: .5px;

      em {
        font-family: $font-serif;
        font-weight: 400;
      }

      @media screen and (max-width: 1023px) {
        margin-bottom: .75rem;
        font-size: 2rem;
        line-height: 1.125;
      }

      @media screen and (max-width: 767px) {
        font-size: 1.625rem;
        line-height: 1.25;
      }
    }

    .slider__item-excerpt {
      display: block;

      width: 100%;
      margin-bottom: 1rem;

      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.6;
      letter-spacing: .125px;

      @media screen and (max-width: 767px) {
        font-size: 1rem;
      }
    }

    .slider__item-entry {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: flex-start;
      position: relative;

      width: auto;
      max-width: $content-width;
      margin-right: 4rem;

      @media screen and (max-width: 1023px) {
        width: 100%;
        margin-right: 0;
      }
    }

    .slider__item-media {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      position: relative;

      width: auto;
      height: auto;

      max-width: $content-width;
    }

    .slider__item-image {
      display: block;
      align-self: flex-start;
      object-fit: contain;

      width: auto;
      max-height: 30rem;

      transition: .25s;
    }

    .slider__item-caption {
      display: flex;

      width: 100%;
      margin: 1rem 0 0;
      font-size: .875rem;
      font-weight: 500;
      line-height: 1.5;

      color: $color-white;

      .slider__item-notice {
        display: inline-block;
        flex-grow: 1;

        width: 0;
      }
    }

    .custom {
      a {
        color: $color-white;

        border-bottom: solid 1px $color-white;

        &:hover {
          border-bottom-color: transparent;
        }
      }
    }

    @media screen and (max-width: 1023px) {
      flex-flow: row wrap;

      width: 100%;
      max-width: 36rem;
    }

    @media screen and (max-width: 767px) {
      align-items: flex-start;

      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .swiper-slide {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: relative;

    overflow: hidden;
  }

  .swiper-pagination-bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 1rem;

    .swiper-pagination-bullet {
      height: .375rem;
      width: .375rem;
      margin: 0 .75rem;

      opacity: 1;
      background: $color-white;

      &.swiper-pagination-bullet-active {
        height: .75rem;
        width: .75rem;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    outline: none;
    visibility: visible;

    height: 100%;
    min-width: 4rem;
    margin: 0;
    opacity: .5;

    font-size: 2rem;
    background-size: 1.25rem;

    transition: all .25s;

    &:hover {
      opacity: 1;
    }

    &.swiper-button-disabled {
      visibility: hidden;

      opacity: 0;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .swiper-button-next {
    right: 0;

    width: 50%;
    background-position: right 2rem center;


    &:after {
      content: "";
      display: flex;

      width: 200%;
    }
  }

  .swiper-button-prev {
    left: 0;

    width: calc((100% - #{$site-width}) / 2);
    background-position: 2rem center;
  }
}

body.admin-bar {
  .slider {
    min-height: calc(100vh - 6rem);

    @media screen and (max-width: 1023px) {
      min-height: calc(100vh - 5.25rem);
    }

    @media screen and (max-width: 782px) {
      min-height: calc(100vh - 6.125rem);
    }
  }
}
