$color-black: #000000;
$color-white: #ffffff;
$color-primary: #1e488f;

$color-text: #111111;
$color-light: #7ab9f9;
$color-sheet: #faf9f3;
$color-success: #78bb13;
$color-alert: #ab0f0f;

$color-club: #eaa728;

$font-regular: "Formular", sans-serif;
$font-serif: "PT Serif", serif;

$width-content: 40rem;
$width-tablet: 42rem;
$width-site: 80rem;
$width-news: 58.25rem;


body {
  display: block;

  color: $color-white;
  background-color: $color-black;
  line-height: 1.4;
  font-weight: normal;
  font-family: $font-regular;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.body--search {
    overflow: hidden;

    .wrap {
      filter: blur(1.5px);
    }

    .footer {
      filter: blur(1.5px);
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: .25s;

  cursor: pointer;
  outline: none;

  time {
    cursor: pointer;
  }
}

button {
  background-color: transparent;
  transition: .25s;

  cursor: pointer;
  outline: none;

  &[disabled] {
    pointer-events: none;
  }
}

input {
  background-color: transparent;

  outline: none;
}

time {
  cursor: default;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: #ffff00;
}

::placeholder {
  color: grey;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: scale(0);
  }

  10% {
    transform: scale(1);
  }

  80% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
