@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:700&subset=cyrillic');


/**
 * body background
 */
body.is-archive {
}

body.is-archive:after {
  content: '';

  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url('https://knife.media/wp-content/uploads/2020/06/blacksoil.jpg');
  background-size: cover;

  background-color: #101010;
}


/**
 * header styles
 */
.is-archive .header {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2rem;

  color: #fff;
  background-color: #101010;
}

.is-archive .header__button.header__button--search {
  display: none;
}

.is-archive .header__button.header__button--menu {
  display: none;
}

.is-archive .header__navbar {
  display: none;
}

.is-archive .header__logo {
  margin: auto;
  background-color: #101010;
}

.is-archive .header__logo-link {
  width: 6rem;
  height: 2.5rem;

  background-image: url('images/logo-knife.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 1023px) {
  .is-archive .header__logo-link {
    width: 5rem;
    height: 2rem;
  }
}

.is-archive .header .header__logo .header__logo-image {
  display: none;
}


/**
 * archive styles
 */
.archive {
  width: calc(100% - 2rem);
  font-family: 'Montserrat Alternates', sans-serif;
}


/**
 * caption styles
 */
.is-archive .caption {
  font-family: 'Montserrat Alternates', sans-serif;
}

.is-archive .caption__description {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;

  max-width: 100%;
  margin: 1rem 0 0;
  padding: 1rem 2rem;
  text-align: center;

  color: #101010;
  background-color: #fff;

  border-radius: .625rem;
}

@media screen and (max-width: 479px) {
  .is-archive .caption__description {
    padding: 1rem;
  }
}

.is-archive .caption__description h1 {
  width: 26rem;
  height: 4rem;
  margin-bottom: .5rem;
  text-indent: -9999rem;

  background-image: url('images/logo-black.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.is-archive .caption__description p {
  font-size: 1.125rem;
  max-width: 50rem;
}

@media screen and (max-width: 1023px) {
  .is-archive .caption__description h1 {
    width: 20rem;
    height: 3rem;
  }

  .is-archive .caption__description p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .is-archive .caption__description h1 {
    width: 15rem;
    height: 2.5rem;
  }

  .is-archive .caption__description p {
    font-size: .8125rem;
  }
}

@media screen and (max-width: 479px) {
  .is-archive .caption__description h1 {
    width: 12rem;
    height: 2rem;
  }
}


/**
 * unit styles
 */
.is-archive .unit {
  overflow: hidden;
  border-radius: .625rem;
}

.is-archive .unit__inner {
  padding-top: 60%;
}

.is-archive .unit__image {
  padding-top: 60%;
}

.is-archive .unit__head {
  display: none;
}

.is-archive .unit__content {
  color: #101010;
  background-color: #fff;
}

.is-archive .unit__content .unit__content-link {
  padding-bottom: .5rem;
}

.is-archive .unit__content .unit__content-link em {
  font-family: 'Montserrat Alternates', sans-serif;
}

.is-archive .unit .unit__content .unit__content-info {
  display: none;
}


/**
 * navigate styles
 */
.is-archive .navigate {
  width: calc(100% - 2rem);
}

.is-archive .navigate a {
  font-family: 'Montserrat Alternates', sans-serif;

  color: #101010;
  background-color: #fff;
  border-color: #fff;
  border-radius: .625rem;
}


/**
 * footer styles
 */
 .is-archive .footer {
  padding: 0;
}
