body {
  background: linear-gradient(37deg, rgba(167,51,158,1) 0%, rgba(243,2,65,1) 50%, rgba(255,204,67,1) 100%);
}

/**
 * caption styles
 */
.caption .caption__description {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;

  max-width: 100%;
  margin: 1rem 0 0;
  padding: 2rem 4rem;
  text-align: center;

  color: #000;
  background: #fff;
  text-transform: uppercase;

  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .25);
  border-radius: .625rem;
}

.caption .caption__description p {
  font-size: 1.125rem;
}

.caption .caption__description h1 {
  margin-bottom: .5rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.125;
  text-transform: uppercase;
}

  @media screen and (max-width: 1023px) {
    .caption .caption__description h1 {
      font-size: 3rem;
    }

    .caption .caption__description p {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 767px) {
    .caption .caption__description {
      padding: 1rem 2rem;
    }

    .caption .caption__description h1 {
      font-size: 2rem;
    }

    .caption .caption__description p {
      font-size: .875rem;
    }
  }

  @media screen and (max-width: 479px) {
    .caption .caption__description {
      padding: 1rem;
    }

    .caption .caption__description h1 {
      font-size: 1.5rem;
    }

    .caption .caption__description p {
      font-size: .75rem;
    }
  }
