.widget-adfox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;

  &.widget-adfox--sidebar {
    flex: 20 1 auto;
    margin-top: 1rem;

    & > div {
      @include sticky-widget;
    }
  }

  &.widget-adfox--loaded {
    visibility: visible;
  }

  &.widget-adfox--hidden {
    display: none;
  }

  &.widget-adfox--billboard > div {
    width: 100%;
  }
}
