.widget-banner {
  display: block;
  position: relative;

  width: 100%;

  a {
    display: block;
    position: relative;

    width: 100%;

    img {
      display: block;
      position: relative;

      max-width: 100%;
      margin: 0 auto;
    }
  }

  &.widget-banner--sidebar {
    margin-top: 1rem;
  }
}
