.widget-banner {
  display: flex;
  justify-content: center;
  position: relative;

  width: 100%;

  .widget-banner__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;
    overflow: hidden;

    border: none;

    &:after {
      content: '';
      @include full-size();
    }

    img {
      display: block;

      max-width: 100%;
      margin: 0 auto;
    }

    &.widget-banner__link--desktop {
      @media screen and (max-width: 1023px) {
        display: none;
      }
    }

    &.widget-banner__link--mobile {
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
  }

  &.widget-banner--entry {
    align-items: center;

    width: #{$width-content + 2rem};
    padding: 3rem 1rem 1rem;
    overflow: hidden;

    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .2);
    border-radius: 3px;

    .widget-banner__link {
      width: auto;
    }

    .widget-banner__title {
      @extend .head;

      position: absolute;
      top: 0;
      left: 0;
      cursor: default;

      width: 100%;
    }

    @media screen and (max-width: 479px) {
      padding: calc(2rem - 1px) 0 0;
    }
  }

  &.widget-banner--sidebar {
    padding-top: 1rem;
  }
}
