.widget-blunt {
  display: block;
  position: relative;

  width: calc(100% - 2rem);
  max-width: $width-site - 2rem;
  margin: 1rem auto -2px;

  .widget-blunt__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    width: 100%;
    overflow: hidden;
  }

  .widget-blunt__inner {
    display: flex;

    width: auto;
    margin-bottom: 2px;
    margin-right: 2px;

    &:nth-child(-n+2) {
      width: 100%;

      .widget-blunt__link {
        font-size: 1.875rem;
        line-height: 1.075;

        @media screen and (max-width: 1023px) {
          font-size: 1.5rem;
          line-height: 1.125;
        }

        @media screen and (max-width: 767px) {
          font-size: 1.25rem;
          line-height: 1.25;
        }
      }
    }

    @media screen and (max-width: 1023px) {
      width: 100%;
      margin-right: 0;
    }
  }

  .widget-blunt__pixel {
    position: absolute;

    img {
      visibility: hidden;
    }
  }

  .widget-blunt__link {
    display: block;
    position: relative;

    height: auto;
    max-width: 100%;
    padding: .625rem 1rem;

    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.25;

    color: $color-text;
    background-color: #f9cf00;

    &:hover {
      filter: brightness(115%);
    }

    @media screen and (max-width: 1023px) {
      width: 100%;
      font-size: 1.25rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.125rem;
    }
  }

  &.widget-blunt--sidebar {
    flex: 1 1 auto;
    width: 100%;

    .widget-blunt__wrapper {
      @include sticky-widget;
    }

    .widget-blunt__inner {
      width: 100%;
      margin-right: 0;

      .widget-blunt__link {
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.25;
      }
    }
  }

  &.widget-blunt--billboard {
    display: none;
  }

  &.widget-blunt--inpost {
    display: none;
  }

  &.widget-blunt--bottom {
    display: none;
  }

  @media screen and (max-width: 1023px) {
    max-width: $width-content;
  }

  @media screen and (max-width: 479px) {
    width: 100%;
  }
}
