.widget-cents {
  display: block;
  position: relative;

  width: calc(100% - 2rem);
  max-width: $width-site - 2rem;
  margin: 1rem auto -2px;

  .widget-cents__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    width: 100%;
    overflow: hidden;
  }

  .widget-cents__title {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: relative;

    width: auto;
    min-height: 3.75rem;
    margin-bottom: 2px;
    margin-right: 2px;
    padding: 0 1rem;

    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25;

    text-transform: uppercase;

    color: $color-text;
    background-color: $color-cents;

    border-radius: .5rem;

    @media screen and (max-width: 1023px) {
      width: 100%;
      min-height: 3rem;

      margin-right: 0;
      font-size: 1.125rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 479px) {
      border-radius: 0;
    }
  }

  .widget-cents__inner {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: relative;

    width: auto;
    min-height: 3.75rem;
    margin-bottom: 2px;
    margin-right: 2px;
    padding: 0 1rem;

    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.25;

    color: $color-text;
    background-color: $color-white;

    border-radius: .5rem;

    @media screen and (max-width: 1023px) {
      display: none;

      width: 100%;

      margin-right: 0;
      padding: 1rem;

      &:first-child {
        display: flex;
      }
    }

    @media screen and (max-width: 479px) {
      border-radius: 0;
    }
  }

  .widget-cents__link {
    display: block;

    height: auto;
    max-width: 100%;

    font-family: $font-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.25;

    &:before {
      content: attr(data-before);
      margin-right: 0.5rem;

      font-size: 1.375rem;
      font-style: normal;
      font-weight: 700;
      font-family: $font-regular;

      line-height: 1.5;

      @media screen and (max-width: 1023px) {
        display: none;
      }
    }

    &:after {
      @include full-pseudo;

      @media screen and (max-width: 1023px) {
        display: none;
      }
    }

    @media screen and (max-width: 1023px) {
      width: 100%;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
    }
  }

  .widget-cents__content {
    display: none;
    position: relative;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    p {
      margin-top: .75rem;
    }

    @media screen and (max-width: 1023px) {
      display: block;
    }

    @media screen and (max-width: 767px) {
      font-size: .9375rem;
    }
  }

  .widget-cents__folded {
    display: none;
    position: relative;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    p {
      margin-top: .75rem;
    }

    strong {
      color: $color-text;
      font-weight: 700;
    }

    & + .widget-cents__content {
      display: none;
    }

    @media screen and (max-width: 1023px) {
      display: block;
    }

    @media screen and (max-width: 767px) {
      font-size: .9375rem;
    }
  }

  &.widget-cents--sidebar {
    display: none;
  }

  &.widget-cents--billboard {
    display: none;
  }

  &.widget-cents--inpost {
    display: none;
  }

  &.widget-cents--bottom {
    display: none;
  }

  @media screen and (max-width: 1023px) {
    max-width: $width-content;
  }

  @media screen and (max-width: 479px) {
    width: 100%;
  }
}
