.widget-club {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-self: flex-start;
  position: relative;

  width: 100%;
  margin-top: 1rem;
  overflow: hidden;

  color: $color-text;
  background-color: $color-white;

  .widget-club__head {
    display: flex;
    position: relative;
    cursor: pointer;
    z-index: 2;

    width: 100%;
    padding: .725rem 1.25rem;

    font-size: .5625rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;

    color: $color-text;
    background-color: $color-bright;

    &:hover {
      filter: brightness(110%);
    }
  }

  .widget-club__content {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
    padding: 1.5rem 0;

    transform: translateY(-1px);

    border-top: solid 1px rgba(0, 0, 0, .125);

    @media screen and (max-width: 767px) {
      padding: 1rem 0;
    }

    .widget-club__content-meta {
      margin-bottom: 1rem;
      color: $color-text;

      .meta__link {
        position: relative;
        z-index: 2;
      }

      a:hover {
        opacity: .75;
      }
    }

    .widget-club__content-link {
      display: block;

      width: 100%;

      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.125;
      letter-spacing: .25px;
      word-wrap: break-word;

      em {
        font-family: $font-serif;
        font-weight: 400;
      }

      @media screen and (max-width: 1023px) {
        font-size: 1.375rem;
        line-height: 1.25;
      }

      @media screen and (max-width: 767px) {
        font-size: 1.125rem;
      }
    }
  }

  .widget-club__more {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    position: relative;

    margin: 0 1rem;
    padding: 0 1rem;

    transform: translateY(-1px);

    border-top: solid 1px rgba(0, 0, 0, .125);

    .widget-club__more-button {
      align-self: flex-start;

      width: 100%;
      max-width: 22rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;

      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0;
      text-transform: none;

      background-color: $color-bright;
      box-shadow: 0 10px 10px -4px silver;

      border: solid 1px $color-bright;
      border-radius: 5px;

      &:hover {
        filter: brightness(110%);
      }

      @media screen and (max-width: 1023px) {
        width: 100%;
        max-width: 100%;
      }

      @media screen and (max-width: 767px) {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }

    @media screen and (max-width: 1023px) {
      padding: 0;
    }
  }

  .widget-club__inner {
    display: flex;
    position: relative;

    width: calc(100% / 3);
    padding: 0 1rem;

    @media screen and (max-width: 1023px) {
      width: 50%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &.widget--sidebar {
    .widget-club__inner {
      width: 100%;
      margin-bottom: 1px;

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (max-width: 1023px) {
        display: none;

        &:nth-child(-n+3) {
          display: flex;
        }
      }
    }

    .widget-club__more {
      padding-left: 0;
      padding-right: 0;
    }

    .widget-club__content {
      padding: 1rem 0;

      .widget-club__content-meta {
        margin-bottom: .5rem;
      }

      .widget-club__content-link {
        font-size: 1.25rem;

        &:after {
          content: "";

          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;

          width: 100%;
          height: 100%;
        }

        @media screen and (max-width: 767px) {
          font-size: 1.125rem;
        }
      }
    }

    @media screen and (max-width: 1023px) {
      .widget__item {
        display: none;

        &:nth-child(-n + 3) {
          display: flex;
        }
      }
    }

    @media screen and (max-width: 767px) {
      padding-bottom: 0;
    }
  }
}
