.widget-feature {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex: 1 1 auto;

  width: 100%;

  color: $color-white;
  background-color: transparent;

  .widget__link {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: relative;

    width: 100%;

    color: $color-white;
    background-color: #6534ff;

    .icon {
      display: block;

      margin-left: auto;
      padding-left: 1rem;
      font-size: 1.5rem;

      transition: transform .25s;

      @media screen and (max-width: 767px) {
        font-size: 1.375rem;
      }
    }

    &:after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }

    &:hover {
      filter: brightness(115%);

      .icon {
        transform: translateX(10px);
      }
    }

    &.widget__link--article {
      color: $color-white;
      background-color: $color-feature-inner;
    }
  }

  .widget__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    width: 100%;
    min-height: 3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .widget__title {
    display: inline-block;

    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.125;

    @media screen and (max-width: 1023px) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }

  .widget__sticker {
    margin-left: 1rem;
    width: 2rem;
    max-height: 2rem;
  }
}
