.widget-informer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex: 1 1 auto;
  position: relative;

  width: 100%;

  color: $color-white;
  background-color: transparent;

  .widget-informer__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;

    width: 100%;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:hover {
      filter: brightness(115%);

      .icon {
        transform: translateX(10px);
      }
    }
  }

  .widget-informer__content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;

    width: 100%;
    max-width: $width-site;
    min-height: 3rem;
    padding: .5rem 4rem .5rem 1rem;

    .icon {
      display: block;
      position: absolute;
      right: 1rem;

      padding-left: 1rem;
      font-size: 1.5rem;

      transition: transform .25s;

      @media screen and (max-width: 767px) {
        font-size: 1.375rem;
      }
    }

    .widget-informer__content-title {
      display: inline-block;
      flex: 1 1 auto;

      font-size: 1.375rem;
      font-weight: 700;
      line-height: 1.125;

      @media screen and (max-width: 1023px) {
        font-size: 1.25rem;
      }

      @media screen and (max-width: 767px) {
        font-size: 1rem;
      }
    }

    .widget-informer__content-remark {
      display: flex;
      align-items: flex-end;
      cursor: default;
      flex: 0 0 auto;
      order: -1;

      margin: 0.375rem 1rem 0.375rem 0;

      font-size: 0.625rem;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
    }

    @media screen and (max-width: 1023px) {
      flex-flow: row wrap;
    }
  }

  &.widget-informer--sidebar {
    flex: 0;
    margin-top: 1rem;

    .widget-informer__content {
      flex-flow: row wrap;
      padding: .75rem 4rem .75rem 1rem;

      .widget-informer__content-remark {
        margin-left: 0;
        margin-bottom: 0.5rem;
      }

      .widget-informer__content-title {
        margin-left: 0;
        font-size: 1.125rem;
      }
    }
  }

  &.widget-informer--entry {
    width: 100%;
    max-width: $width-content;
  }
}
