.widget-recent {
  display: flex;
  position: relative;

  flex: 1 1 auto;

  width: 100%;
  margin: 1rem auto 0;

  .widget-recent__wrapper {
    display: flex;
    position: relative;

    justify-content: space-between;
    flex-flow: column wrap;
    flex: 0 0 auto;

    width: 100%;
    overflow: hidden;
  }

  .widget-recent__content {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    flex: 1 1 auto;
    position: relative;

    width: 100%;
    margin-bottom: 1px;
    padding: 1rem;

    color: $color-text;
    background-color: $color-white;

    .widget-recent__content-info {
      display: block;

      .meta {
        font-size: .5625rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .5px;
        color: $color-primary;

        a.meta__item {
          position: relative;
          z-index: 2;
        }
      }
    }

    .widget-recent__content-link {
      display: inline-block;

      margin-top: .25rem;
      font-size: .875rem;
      line-height: 1.4;
      font-weight: 500;
      letter-spacing: .5px;
      text-decoration: none;

      &:after {
        content: "";
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
      }
    }
  }

  .widget-recent__head {
    width: 100%;
  }

  .widget-recent__more {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;

    width: 100%;
    margin-top: .5rem;
  }

  &.widget-recent--sidebar {
    flex: 1 1 auto;

    .widget-recent__wrapper {
      @include sticky-widget;
    }
  }

  &.widget-recent--inpost {
    width: calc(100% - 2rem);
    max-width: $width-content;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .widget-recent__wrapper {
      box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .2);
      border-radius: 3px;
    }

    .widget-recent__head {
      color: $color-white;
    }

    .widget-recent__content {
      border-bottom: solid 1px rgba(100, 100, 100, .125);

      &:last-of-type {
        border-bottom: none;
      }
    }

    .widget-recent__more {
      display: none;
    }

    @media screen and (max-width: 767px) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    @media screen and (max-width: 479px) {
      width: 100%;
    }
  }

  &.widget-recent--billboard {
    display: none;
  }

  &.widget-recent--bottom {
    display: none;
  }
}
