.widget-script {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;

  overflow: hidden;

  p {
    width: 100%;
  }

  img {
    display: block;
  }

  .widget-script__banner {
    display: flex;
    justify-content: center;

    width: 100%;
    height: auto;
    background: $color-black;
  }

  &.widget-script--sidebar {
    margin-top: 1rem;
  }
}
