.widget-script {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: flex-start;
    position: relative;

    overflow: hidden;

    p {
      width: 100%;
    }
}
