.widget-single {
  display: flex;
  align-items: flex-end;
  position: relative;

  width: 100%;
  min-height: 15.625rem;

  margin-top: 1rem;
  padding-top: 2rem;
  overflow: hidden;

  color: $color-white;

  .widget-single__inner {
    display: block;
    width: 100%;
  }

  .widget-single__head {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .widget-single__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: calc(100% + 1px);
    padding: 0;
    overflow: hidden;

    background-color: $color-white;

    .widget-single__image-thumbnail {
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: right;

      transition: opacity .25s;

      -webkit-backface-visibility: hidden;
    }
  }

  .widget-single__content {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;

    height: auto;
    margin: 0;
    padding: 1rem 1.25rem 1.25rem;

    background-color: transparent;

    .widget-single__content-title {
      display: block;

      width: 42.5rem;

      font-size: 1.875rem;
      font-weight: 700;
      line-height: 1.075;
      letter-spacing: .25px;
      word-wrap: break-word;

      color: $color-white;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;

        width: 100%;
        height: 100%;
      }

      em {
        font-family: $font-serif;
        font-weight: 400;
      }

      @media screen and (max-width: 1199px) {
        font-size: 1.75rem;
        line-height: 1.25;
      }

      @media screen and (max-width: 1023px) {
        width: 100%;
        font-size: 1.375rem;
      }

      @media screen and (max-width: 767px) {
        font-size: 1.125rem;
      }
    }

    .widget-single__content-info {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-end;

      width: 100%;
      margin-top: 1.5rem;

      .meta {
        color: $color-white;

        .meta__link {
          position: relative;
          z-index: 2;
        }
      }
    }

    @media screen and (max-width: 1023px) {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 1rem;
    }
  }

  &:hover {
    .widget-single__image-thumbnail {
      opacity: .9;
    }
  }

  @media screen and (max-width: 479px) {
    padding-top: 25%;
  }
}
