.widget-story {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  width: calc(100% - 2rem);
  max-width: $width-site - 2rem;
  margin: 0 auto;

  .widget-story__inner {
    width: calc(100% / 4 - .75rem);
    margin-top: 1rem;
    overflow: hidden;

    @media screen and (max-width: 1023px) {
      width: calc(50% - .5rem);
    }

    @media screen and (max-width: 479px) {
      width: 100%;
    }
  }

  .widget-story__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    padding-top: 100%;
    overflow: hidden;

    background-color: $color-white;

    .widget-story__image-thumbnail {
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;

      transition: opacity .25s;

      -webkit-backface-visibility: hidden;
    }

    @media screen and (max-width: 1023px) {
      padding-top: 60%;
    }
  }

  .widget-story__title {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: 1rem;

    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.25;

    background-color: $color-primary;

    .widget-story__title-link {
      display: block;

      width: 100%;
      word-wrap: break-word;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;

        width: 100%;
        height: 100%;
      }

      em {
        font-family: $font-serif;
        font-weight: 400;
      }
    }

    @media screen and (max-width: 1023px) {
      min-height: 8rem;
    }

    @media screen and (max-width: 767px) {
      min-height: 6rem;
      font-size: 1.125rem;
      line-height: 1.25;
    }
  }

  .widget-story__content {
    display: block;
    position: relative;

    width: 100%;
    height: 100%;
    padding-top: 100%;

    color: $color-white;

    &:hover {
      .widget-story__image-thumbnail {
        opacity: .9;
      }
    }

    @media screen and (max-width: 1023px) {
      padding-top: 60%;
    }
  }

  &.widget-story--sidebar {
    margin: 0;

    .widget-story__title {
      font-size: 1.25rem;

      @media screen and (max-width: 767px) {
        font-size: 1.125rem;
      }
    }

    .widget-story__inner {
      width: 100%;

      @media screen and (max-width: 1023px) {
        width: calc(50% - .5rem);
      }

      @media screen and (max-width: 479px) {
        width: 100%;
      }
    }
  }

  &.widget-story--entry {
    display: none;
  }

  &.widget-story--billboard {
    display: none;
  }

  @media screen and (max-width: 1023px) {
    max-width: $width-content;
  }

  @media screen and (max-width: 479px) {
    width: 100%;
  }
}
