.widget-televisor {
  display: flex;

  width: calc(100% - 2rem);
  max-width: $width-site - 2rem;
  margin: 0 auto;

  .widget-televisor__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .widget-televisor__content {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex: 1 1 53.25rem;
    position: relative;

    .widget-units {
      width: 100%;
      margin-left: 0;
      margin-right: 0;

      .unit__content-link {
        font-size: 1.375rem;
        line-height: 1.25;

        @media screen and (max-width: 1279px) {
          font-size: 1.5rem;
          line-height: 1.125;
        }

        @media screen and (max-width: 1023px) {
          font-size: 1.375rem;
          line-height: 1.25;
        }

        @media screen and (max-width: 767px) {
          font-size: 1.25rem;
        }

        @media screen and (max-width: 479px) {
          font-size: 1.125rem;
        }
      }
    }

    .widget-single {
      width: 100%;
    }
  }

  .widget-televisor__sidebar {
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 19.75rem;
    justify-content: flex-start;
    align-items: center;

    padding-left: 1rem;

    @media screen and (max-width: 1199px) {
      flex: 1 1 auto;
      padding-left: 0;
    }

    @media screen and (max-width: 1023px) {
      .widget-recent {
        max-width: $width-content;
      }
    }
  }

  &.widget-televisor--sidebar {
    display: none;
  }

  &.widget-televisor--entry {
    display: none;
  }

  &.widget-televisor--billboard {
    display: none;
  }

  @media screen and (max-width: 479px) {
    width: 100%;
  }
}
