.widget-transparent {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: space-between;
  position: relative;

  width: 100%;
  margin-top: 1rem;

  border-top: solid 1px $color-white;

  .widget-transparent__head {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .widget-transparent__emoji {
    display: flex;
    align-self: center;
    cursor: default;

    width: 5rem;
    min-width: 5rem;
    height: auto;
    margin-right: 1rem;

    font-size: 4.25rem;

    @media screen and (max-width: 1023px) {
      align-self: center;

      width: 4rem;
      min-width: 4rem;

      font-size: 3.75rem;
    }

    @media screen and (max-width: 767px) {
      width: 3rem;
      min-width: 3rem;
      margin-left: 1rem;

      font-size: 3rem;
    }

    @media screen and (max-width: 479px) {
      margin-left: .5rem;
      margin-right: .5rem;
    }
  }

  .widget-transparent__content {
    width: 100%;
    padding: 1.5rem 0;

    border-bottom: solid 1px $color-white;

    .widget-transparent__content-link {
      display: block;

      font-size: 1.875rem;
      font-weight: 700;
      line-height: 1.125;
      word-wrap: break-word;

      color: $color-white;

      em {
        font-family: $font-serif;
        font-weight: 400;
      }

      @media screen and (max-width: 1023px) {
        font-size: 1.375rem;
        line-height: 1.25;
      }

      @media screen and (max-width: 767px) {
        font-size: 1.125rem;
      }
    }

    .widget-transparent__content-info {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;

      width: 100%;
      margin-top: 0;
      margin-bottom: 1rem;

      .meta {
        color: $color-white;

        a.meta__item {
          position: relative;
          z-index: 2;

          &:hover {
            filter: brightness(80%);
          }
        }
      }
    }

    @media screen and (max-width: 1023px) {
      padding: 1rem .5rem;

      border-bottom: none;
    }
  }


  .widget-transparent__inner {
    display: flex;
    position: relative;

    width: calc(50% - .5rem);
    margin-bottom: 0;
    overflow: hidden;

    color: $color-white;
    background-color: transparent;


    &:last-child {
      .widget-transparent__content {
        border-bottom: none;
      }
    }

    &:nth-last-child(4) {
      height: 100%;

      .widget-transparent__content {
        position: absolute;
        left: 0;
        bottom: 0;

        margin-right: 2rem;

        border-bottom: none;

        .widget-transparent__content-link {
          font-size: 2.625rem;
          line-height: 1.125;

          @media screen and (max-width: 1199px) {
            font-size: 2rem;
            line-height: 1.125;
          }

          @media screen and (max-width: 1023px) {
            font-size: 1.375rem;
            line-height: 1.25;
          }

          @media screen and (max-width: 767px) {
            font-size: 1.125rem;
          }
        }

        @media screen and (max-width: 1023px) {
          position: relative;

          margin-right: 0;
        }
      }

      .widget-transparent__emoji {
        display: none;

        @media screen and (max-width: 1023px) {
          display: block;
        }
      }

      @media screen and (max-width: 1023px) {
        height: auto;
        padding-top: 2rem;
      }
    }

    @media screen and (max-width: 1023px) {
      width: 100%;

      border-bottom: solid 1px $color-white;
    }
  }
}
