.unit.unit--row {
  width: calc(50% - .5rem);

  .unit__head {
    display: none;
  }

  .unit__link {
    display: flex;
    flex-flow: row-reverse nowrap;

    padding-top: 0;
  }

  .unit__image {
    position: relative;
    flex: 0 0 10rem;

    padding: 0;

    @media screen and (max-width: 767px) {
      flex-basis: 7.5rem;
    }

    @media screen and (max-width: 479px) {
      display: none;
    }
  }

  .unit__title {
    font-size: 1.5rem;
    line-height: 1.25;

    @media screen and (max-width: 1023px) {
      font-size: 1.75rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.125rem;
    }
  }

  &.unit--cover {
    .unit__image {
      position: absolute;

      padding-top: 25%;
    }
  }

  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}
