// Define width vars
$width-content: 40rem;
$width-site: 80rem;
$width-wide: 52.25rem;

// Define font vars
$font-regular: "Formular", sans-serif;
$font-serif: "PT Serif", serif;
$font-monospace: "Monaco", "Roboto Mono", monospace;

// Define color vars
$color-black: #000000;
$color-white: #ffffff;
$color-primary: #1e488f;
$color-text: #111111;
$color-light: #7ab9f9;
$color-sheet: #faf9f3;
$color-layer: #fff3db;
$color-button: #ff0066;

$color-success: #78bb13;
$color-alert: #ab0f0f;

$color-club: #eaa728;
$color-select: #01a849;
$color-mark: #fae596;
$color-quiz: #fff200;
$color-ask: #d8334c;



// Setup default styles
@import "setup/*.scss";

html {
  scroll-behavior: smooth;
}

body {
  display: block;

  color: $color-white;
  background-color: $color-black;
  line-height: 1.4;
  font-weight: normal;
  font-family: $font-regular;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;

  &.is-search {
    position: fixed;
    left: 0;

    width: 100%;
    overflow: hidden;
  }

  &.is-adminbar {
    padding-top: 32px;

    @media screen and (max-width: 782px) {
      padding-top: 46px;
    }
  }

  &.is-navbar {
    @media screen and (max-width: 1023px) {
      position: fixed;
      left: 0;

      width: 100%;
      overflow: hidden;

      &:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;

        width: 100%;
        height: 100vh;

        background: rgba(0, 0, 0, .75);
      }
    }
  }
}

::placeholder {
  color: grey;
}

// Basic element styles
@import "basic/*.scss";

// Parts components styles
@import "parts/*.scss";

// Import block layouts
@import "block/*.scss";

// Import entry styles
@import "entry/*.scss";

// Import widgets styles
@import "widgets/*.scss";

// Import tagline caption styles
@import "tagline/*.scss";
