// Define width vars
$width-content: 40rem;
$width-site: 80rem;
$width-wide: 52.25rem;

// Define font vars
$font-regular: "Formular", sans-serif;
$font-serif: "PT Serif", serif;
$font-monospace: "Monaco", "Roboto Mono", monospace;

// Define color vars
$color-black: #000000;
$color-white: #ffffff;
$color-primary: #1e488f;
$color-text: #111111;
$color-light: #7ab9f9;
$color-sheet: #faf9f3;
$color-layer: #fff3db;
$color-button: #ff0066;

$color-success: #78bb13;
$color-alert: #ab0f0f;

$color-club: #eaa728;
$color-select: #01a849;
$color-mark: #fae596;
$color-quiz: #fff200;


// Setup default styles
@import "setup/*.scss";

body {
  display: block;

  color: $color-white;
  background-color: $color-black;
  line-height: 1.4;
  font-weight: normal;
  font-family: $font-regular;

  -webkit-text-size-adjust: none;

  &.is-adminbar {
    padding-top: 32px;

    @media screen and (max-width: 782px) {
      padding-top: 46px;
    }
  }

  &.is-navbar {
    @media screen and (max-width: 1023px) {
      @include body-overflow;

      &:before {
        content: '';
        cursor: default;

        @include full-size(4);
        background-color: rgba($color-black, .75);
      }
    }
  }

  &.is-search {
    @include body-overflow;
  }
}

::placeholder {
  color: grey;
}

// Basic element styles
@import "basic/*.scss";

// Parts components styles
@import "parts/*.scss";

// Import block layouts
@import "block/*.scss";

// Import entry styles
@import "entry/*.scss";

// Import tagline caption styles
@import "tagline/*.scss";

// Import widgets styles
@import "widgets/*.scss";

// Import adfox banners styles
@import "adfox/*.scss";
