// Define width vars
$width-content: 40rem;
$width-tablet: 42rem;
$width-site: 80rem;

// Define font vars
$font-regular: "Formular", sans-serif;
$font-serif: "PT Serif", serif;

// Define color vars
$color-black: #000000;
$color-white: #ffffff;
$color-primary: #1e488f;
$color-text: #111111;
$color-light: #7ab9f9;
$color-sheet: #faf9f3;
$color-success: #78bb13;
$color-alert: #ab0f0f;
$color-club: #eaa728;


// Setup default styles
@import "setup/*.scss";

body {
  display: block;

  color: $color-white;
  background-color: $color-black;
  line-height: 1.4;
  font-weight: normal;
  font-family: $font-regular;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

// Basic element styles
@import "basic/*.scss";

// Parts components styles
@import "parts/*.scss";

// Import block layouts
@import "block/*.scss";

// Import entry styles
@import "entry/*.scss";

// Import widgets styles
@import "widgets/*.scss";

// Import tagline caption styles
@import "tagline/*.scss";
