.slider {
  display: block;
  opacity: 0;

  width: 100%;
  height: calc(100vh - 8rem);
  min-height: 36rem;

  transition: opacity .3s;

  .slider__background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    max-width: none;
  }

  .slider__item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    cursor: default;

    height: 100%;
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-right: 40%;

    .slider__item-meta {
      position: absolute;
      top: 3rem;

      color: $color-white;
    }

    .slider__item-title {
      display: block;

      width: 100%;
      margin-bottom: 1.5rem;

      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.075;
      letter-spacing: .5px;

      em {
        font-family: $font-serif;
        font-weight: 400;
      }

      @media screen and (max-width: 1023px) {
        margin-bottom: .75rem;
        font-size: 2rem;
        line-height: 1.125;
      }

      @media screen and (max-width: 767px) {
        font-size: 1.625rem;
        line-height: 1.25;
      }
    }

    .slider__item-excerpt {
      display: block;

      width: 100%;
      margin-bottom: 1rem;
      line-height: 1.6;
      font-size: 1.125rem;
      font-weight: 500;
      letter-spacing: .125px;

      a {
        color: $color-primary;

        &:hover {
          filter: brightness(150%);
        }
      }

      @media screen and (max-width: 767px) {
        font-size: 1rem;
      }
    }
  }

  .swiper-slide {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: relative;

    overflow: hidden;
  }
}
