.topline {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: relative;

  width: 100%;
  height: 4rem;

  transition: height .25s;

  .topline__logo {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    background-color: $color-white;

    .topline__logo-link {
      display: block;
    }

    .topline__logo-image {
      display: block;

      width: 6.25rem;
      height: 1.875rem;

      @media screen and (max-width: 1023px) {
        width: 5rem;
        height: 1.5rem;
      }
    }

    @media screen and (max-width: 1023px) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 13;

      width: 100%;
      height: 100%;
    }
  }

  .topline__menu {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 100%;
    align-items: center;
    justify-content: flex-start;
    z-index: 12;

    margin-left: auto;
    margin-right: auto;

    .topline__menu-social {
      margin-right: 1.5rem;

      @media screen and (max-width: 1023px) {
        width: 100%;
        padding: .875rem 1rem;

        font-size: 1.25rem;
        color: $color-white;
      }
    }

    .topline__menu-list {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      margin-left: auto;
      margin-right: auto;

      @media screen and (max-width: 1023px) {
        flex-flow: column nowrap;
        align-items: flex-start;

        width: 100%;
      }
    }

    .topline__menu-item {
      padding: 0 .75rem;

      &.outline {
        padding: 0 .5rem;

        .topline__menu-link {
          padding: .25rem .5rem .375rem;
          color: $color-primary;

          border: solid 1px $color-primary;
          border-radius: 3px;

          @media screen and (max-width: 1023px) {
            padding: .875rem 1rem;
            color: $color-white;

            border: none;
            border-radius: 0;
          }
        }

        @media screen and (max-width: 1023px) {
          padding: 0;
        }
      }

      &.bright {
        padding: 0 .5rem;

        .topline__menu-link {
          padding: .25rem .5rem .375rem;

          color: $color-white;
          background-color: $color-bright;

          border: solid 1px $color-bright;
          border-radius: 3px;

          &:hover {
            filter: brightness(120%);
          }

          @media screen and (max-width: 1023px) {
            padding: .875rem 1rem;
            background-color: transparent;

            border: none;
            border-radius: 0;
          }
        }

        @media screen and (max-width: 1023px) {
          padding: 0;
        }
      }

      &.special {
        padding: 0 .5rem;

        .topline__menu-link {
          padding: .25rem .5rem .375rem;

          color: $color-white;
          background-color: #e05915;

          border: solid 1px #e05915;
          border-radius: 3px;

          &:hover {
            filter: brightness(120%);
          }

          @media screen and (max-width: 1023px) {
            padding: .875rem 1rem;
            background-color: transparent;

            border: none;
            border-radius: 0;
          }
        }

        @media screen and (max-width: 1023px) {
          padding: 0;
        }
      }

      @media screen and (max-width: 1199px) {
        padding: 0 .5rem;
      }

      @media screen and (max-width: 1023px) {
        width: 100%;
        padding: 0;

        border-bottom: solid 1px rgba( $color-white, .25);
      }
    }



    .topline__menu-link {
      display: block;

      font-size: 1.125rem;
      line-height: 1.25rem;
      font-weight: 500;
      text-decoration: none;

      @media screen and (max-width: 1199px) {
        font-size: 1rem;
      }

      @media screen and (max-width: 1023px) {
        padding: .875rem 1rem;
        color: $color-white;

        &:hover {
          color: $color-white;
        }
      }
    }


    @media screen and (max-width: 1023px) {
      display: flex;
      flex-flow: column nowrap;
      position: absolute;
      top: 100%;
      left: 0;
      opacity: 0;

      width: 100%;
      background-color: $color-primary;

      transform: translateY(-100%);

      &.topline__menu--expand {
        opacity: 1;
        transform: translateY(0);
        transition: transform .25s;
      }
    }
  }

  .topline__button {
    position: relative;
    z-index: 15;

    outline: none;
    cursor: pointer;

    &.topline__button--menu {
      display: none;

      height: 1.25rem;
      width: 1.375rem;

      @media screen and (max-width: 1023px) {
        display: block;
      }

      @media screen and (max-width: 767px) {
        height: 1rem;
        width: 1.25rem;
      }
    }

    &.topline__button--search {
      display: flex;
      justify-content: center;

      height: 1.25rem;
      width: 1.375rem;
      font-size: 1rem;
      line-height: 1;
      color: $color-black;

      @media screen and (max-width: 1023px) {
        height: 1.375rem;
        font-size: 1.375rem;
      }

      @media screen and (max-width: 767px) {
        height: 1.25rem;
        width: 1.25rem;

        font-size: 1.125rem;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    height: 3.25rem;
  }
}
