.entry-ask {
  display: block;
  position: relative;

  width: 100%;
  padding: 2rem .5rem 1rem;

  color: $color-text;
  background-color: $color-white;

  .entry-ask__content {
    width: $width-content + 4rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 1.5rem 0;

    background-color: $color-layer;

    & > * {
      max-width: $width-content;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;

      @media screen and (max-width: 767px) {
        margin-bottom: .75rem;
      }
    }

    & > :last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: 767px) {
      padding: 1rem;
    }
  }

  .entry-ask__lead {
    display: block;

    overflow: hidden;
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;

    & > * {
      margin: 1rem 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: .5rem;
      }
    }

    p {
      line-height: 1.5;
      font-size: 1.125rem;
      font-weight: 500;

      @media screen and (max-width: 767px) {
        font-size: 1rem;
      }
    }

    a {
      color: $color-primary;
      border-bottom: 1px solid $color-primary;

      &:hover {
        border-bottom-color: transparent;
      }
    }

    figure {
      width: $width-wide;
      max-width: 100%;
      margin: 2rem 0;

      @media screen and (max-width: 767px) {
        margin: 1rem 0;
      }
    }
  }

  .entry-ask__date {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .meta {
      color: $color-text;
    }
  }

  .entry-ask__asker {
    display: block;

    .meta {
      font-size: 0.875rem;
      font-weight: 300;
      color: $color-text;

      strong {
        display: block;

        line-height: 1.25;
        font-size: 1.125rem;
        font-weight: 700;

        @media screen and (max-width: 767px) {
          font-size: 1rem;
        }
      }

      @media screen and (max-width: 767px) {
        font-size: 0.8125rem;
      }
    }
  }

  .entry-ask__title {
    display: block;

    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.075;

    transform: translateX(-3px);

    @media screen and (max-width: 1023px) {
      margin-bottom: .75rem;
      font-size: 2rem;
      line-height: 1.125;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 1rem;

      font-size: 1.625rem;
      line-height: 1.25;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 1rem .5rem .5rem;
  }
}
