.entry-cents {
  display: block;
  position: relative;

  width: 100%;
  padding: 1rem;
  text-align: center;

  color: $color-white;
  background-color: $color-black;

  background-image: url('images/header-cents.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 4rem;
  background-size: 48rem auto;

  border-radius: .5rem;

  .entry-cents__title {
    display: block;

    width: $width-content;
    max-width: 100%;
    margin: 3rem auto 0.5rem;

    font-size: 5rem;
    font-weight: 700;
    line-height: 1.075;
    text-transform: uppercase;

    @media screen and (max-width: 1023px) {
      margin-top: 2rem;
      font-size: 4rem;
    }

    @media screen and (max-width: 767px) {
      margin-top: 1rem;
      font-size: 3rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 2.5rem;
    }
  }

  .entry-cents__lead {
    display: block;

    width: $width-content;
    max-width: 100%;
    margin: 0 auto 0.5rem;

    font-size: 1rem;

    @media screen and (max-width: 767px) {
      font-size: .875rem;
    }

    @media screen and (max-width: 479px) {
      font-size: .75rem;
    }
  }

  & ~ .entry-content {
    padding: 2rem 1rem;
    border-radius: .5rem;

    h3:before {
      content: attr(data-before);
      display: block;

      font-size: 2rem;
      font-style: normal;
      font-weight: 500;
      font-family: $font-regular;

      line-height: 1.5;

      @media screen and (max-width: 767px) {
        font-size: 1.75rem;
      }

      @media screen and (max-width: 479px) {
        font-size: 1.5rem;
      }
    }

    .figure {
      margin-top: 0;
    }

    .button {
      color: $color-black;
      background-color: $color-cents;

      &:hover {
        background-color: darken($color-cents, 15);
      }
    }

    @media screen and (max-width: 767px) {
      padding: 1.5rem 1rem;
    }

    @media screen and (max-width: 479px) {
      border-radius: 0;
    }
  }

  @media screen and (max-width: 479px) {
    border-radius: 0;
  }
}