.entry-cents {
  display: block;
  position: relative;

  width: 100%;
  padding: 2rem 1rem;

  color: $color-text;
  background-color: $color-white;

  border-radius: .5rem;

  &:first-child {
    padding: 1rem;
    text-align: center;

    color: $color-white;
    background-color: $color-black;

    background-image: url('images/cents-header.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center 0;
    background-size: cover;
  }

  .entry-cents__title {
    display: block;

    width: $width-content;
    max-width: 100%;
    margin: 2.5rem auto 0.5rem;

    font-size: 5rem;
    font-weight: 700;
    line-height: 1.075;
    text-transform: uppercase;

    @media screen and (max-width: 1023px) {
      margin-top: 2rem;
      font-size: 4rem;
    }

    @media screen and (max-width: 767px) {
      margin-top: 1rem;
      font-size: 3rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 2.5rem;
    }
  }

  .entry-cents__lead {
    display: block;

    width: $width-content;
    max-width: 100%;
    margin: 0 auto 0.5rem;

    font-size: 1rem;

    a {
      border-bottom: solid 1px;

      &:hover {
        border-bottom-color: transparent;
      }
    }

    @media screen and (max-width: 767px) {
      font-size: .875rem;
    }

    @media screen and (max-width: 359px) {
      font-size: .75rem;
    }
  }

  .entry-cents__anchor {
    display: block;

    width: $width-content;
    max-width: 100%;
    margin: 0 auto 1rem;

    font-size: 1.5rem;
    line-height: 1.25;

    &:target {
      margin-top: -6rem;
      padding-top: 6rem;

      @media screen and (max-width: 767px) {
        margin-top: -4.75rem;
        padding-top: 4.75rem;
      }
    }

    &:before {
      content: '#' attr(id);
      display: block;

      font-size: 2rem;
      font-style: normal;
      font-weight: 500;
      font-family: $font-regular;

      line-height: 1.25;

      @media screen and (max-width: 767px) {
        font-size: 1.75rem;
      }

      @media screen and (max-width: 479px) {
        font-size: 1.5rem;
      }
    }

    em {
      font-family: $font-serif;
      font-style: italic;
      font-weight: 400;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
    }
  }

  .entry-cents__content {
    display: flex;
    flex-flow: column wrap;
    position: relative;

    min-height: 7.5rem;
    line-height: 1.65;
    font-size: 1rem;
    font-weight: 400;

    & > * {
      max-width: 100%;
      width: $width-content;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;

      @media screen and (max-width: 767px) {
        margin-bottom: .75rem;
      }
    }

    .figure--source {
      margin-top: auto;
      margin-bottom: 0;
    }

    .figure--share {
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      width: 3rem;
      height: 100%;

      @media screen and (max-width: 1023px) {
        position: relative;

        width: $width-content;
        height: auto;
        margin: .75rem auto 0;
      }
    }

    .share {
      position: sticky;
      top: 4rem;
      flex-flow: column nowrap;

      .share__text {
        display: none;
      }

      .share__count {
        display: none;
      }

      .share__link {
        margin: .5rem 0 0;

        @media screen and (max-width: 1023px) {
          margin-right: .625rem;
        }
      }

      @media screen and (max-width: 1023px) {
        position: relative;
        top: auto;

        flex-flow: row nowrap;
      }
    }

    .button {
      color: $color-black;
      background-color: $color-cents;

      &:hover {
        background-color: darken($color-cents, 15);
      }
    }

    @media screen and (max-width: 767px) {
      font-size: .9375rem;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 1.5rem 1rem;
  }

  @media screen and (max-width: 479px) {
    border-radius: 0;
  }
}
