.entry-content {
  display: block;
  position: relative;
  flex: 1 1 auto;

  width: 100%;
  padding: 1rem 1rem 2rem;

  line-height: 1.65;
  font-size: 1rem;
  font-weight: 400;

  color: $color-text;
  background-color: $color-white;

  & > * {
    max-width: 100%;
    width: $width-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

    @media screen and (max-width: 767px) {
      margin-bottom: .75rem;
    }
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  a {
    color: $color-primary;

    border-bottom: 1px solid;

    &:hover {
      border-bottom-color: transparent;
    }
  }

  strong {
    font-weight: 700;
  }

  b {
    font-weight: 700;
  }

  em {
    font-style: normal;
    font-weight: 700;
  }

  i {
    font-style: normal;
    font-weight: 700;
  }

  mark {
    padding: 2px;
    background-color: $color-mark;
  }

  sub {
    vertical-align: sub;
    font-size: smaller;
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }

  h1, h2, h3 {
    margin-top: 2.5rem;
    font-weight: 400;

    &:target {
      margin-top: -4.75rem;
      padding-top: 4.75rem;

      @media screen and (max-width: 767px) {
        margin-top: -4.25rem;
        padding-top: 4.25rem;
      }
    }

    em, i {
      font-family: $font-serif;
      font-style: italic;
      font-weight: 400;
    }

    & + h4 {
      margin-top: -.75rem;

      @media screen and (max-width: 767px) {
        margin-top: -.5rem;
      }
    }

    @media screen and (max-width: 767px) {
      margin-top: 1.5rem;
      margin-bottom: .5rem;
    }
  }

  h4, h5, h6 {
    font-weight: 400;

    em, i {
      font-family: $font-serif;
      font-style: italic;
      font-weight: 400;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: .5rem;
    }
  }

  h1 {
    font-size: 2.25rem;
    line-height: 1.125;

    @media screen and (max-width: 767px) {
      font-size: 1.625rem;
    }
  }

  h2 {
    font-size: 1.75rem;
    line-height: 1.125;

    @media screen and (max-width: 767px) {
      font-size: 1.5rem;
    }
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.25;

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
    }
  }

  h4 {
    font-size: 1.375rem;
    line-height: 1.25;

    @media screen and (max-width: 767px) {
      font-size: 1.125rem;
    }
  }

  h5 {
    margin-bottom: 0;
    font-size: 1.125rem;
    line-height: 1.25;

    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }

  h6 {
    font-size: .8125rem;
    line-height: 1.375;
    text-align: left;

    @media screen and (max-width: 767px) {
      font-size: .75rem;
    }
  }

  hr {
    display: block;

    margin-top: 2rem;
    margin-bottom: 2rem;

    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }

  ol, ul {
    padding-left: 2.5rem;

    li {
      margin: 0 .375rem .5rem;
    }

    @media screen and (max-width: 767px) {
      padding-left: 1.5rem;
    }
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  table {
    display: block;

    overflow-y: hidden;

    tbody {
      display: table;

      width: 100%;
      max-width: 100%;

      border-collapse: collapse;
      border-spacing: 0;
    }

    td {
      min-width: calc(#{$width-content} / 2);
      padding: .5rem;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  pre {
    display: block;

    padding: .5rem 1rem;
    word-wrap: break-word;
    white-space: pre-wrap;

    font-family: $font-monospace;
    font-size: 0.875rem;
    font-weight: 400;
    overflow-x: auto;

    background-color: $color-sheet;
  }

  code {
    padding: .5rem 1rem;

    font-family: $font-monospace;
    font-size: 0.875rem;
    font-weight: 400;
    overflow-x: auto;

    background-color: $color-sheet;
  }

  small {
    display: block;

    font-weight: 400;
    font-size: small;
  }

  figcaption {
    text-align: left;
  }

  figure {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 767px) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  figure + h6 {
    margin-top: -1.25rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 767px) {
      margin-top: -.5rem;
      margin-bottom: 1rem;
    }
  }

  iframe {
    max-width: 100%;
  }

  blockquote {
    display: block;

    padding: 1rem;

    & > * {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    & > :first-child {
      margin-top: 0;
    }

    h6 {
      margin-top: -.5rem;
    }
  }

  details {
    & > * {
      margin-bottom: 1rem;

      @media screen and (max-width: 767px) {
        margin-bottom: .75rem;
      }
    }

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    summary {
      cursor: pointer;
      outline: none;
      user-select: none;

      font-size: 1.375rem;
      font-weight: 700;
      line-height: 1.25;

      @media screen and (max-width: 767px) {
        font-size: 1.125rem;
      }
    }
  }

  span[id] {
    margin: 0;

    &:target {
      margin-top: -4.75rem;
      padding-top: 4.75rem;

      @media screen and (max-width: 767px) {
        margin-top: -4.25rem;
        padding-top: 4.25rem;
      }
    }
  }

  span[data-body] {
    position: relative;
    cursor: pointer;

    padding: 0 4px 2px;
    white-space: pre-wrap;

    background-color: darken($color-white, 6);
    transition: background 0.25s, border 0.25s;

    border: solid 1px rgba(0, 0, 0, .175);
    border-radius: 2px;

    &:hover {
      background-color: darken($color-white, 8);
      border: solid 1px rgba(0, 0, 0, .25);
    }

    &[data-active] {
      background-color: rgba(lighten(desaturate($color-mark, 20), 10), .75);
      border-color: rgba(darken($color-mark, 35), .5);
    }
  }

  @media screen and (max-width: 767px) {
    padding-bottom: 2rem;
    font-size: .9375rem;
  }
}
