.entry-content {
  display: block;
  position: relative;

  width: 100%;
  padding: 0 1rem 2rem;

  color: $color-text;
  background-color: $color-white;

  transform: translate3d(0,0,0);

  .entry-content__inner {
    display: block;

    width: 100%;

    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;

    & > * {
      max-width: $width-content;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;

      @media screen and (max-width: 767px) {
        margin-bottom: .75rem;
        font-size: .875rem;
      }
    }

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  .entry-content__block {
    display: block;

    width: 100%;
    margin-top: 1rem;
    padding: 1.5rem 2rem;
    background-color: $color-white;

    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;

    @media screen and (max-width: 767px) {
      padding: 1rem;
    }
  }

  .entry-content__form {
    display: block;

    width: 100%;
    max-width: $width-content;
    margin: 1rem auto 0;
  }
}
