.entry-content {
  display: block;
  position: relative;

  width: 100%;
  padding: 2rem 1rem .5rem;

  color: $color-text;
  background-color: $color-white;

  & > * {
    width: $width-content;
    max-width: 100%;
    margin: 1.5rem auto 0;

    @media screen and (max-width: 767px) {
      margin: 1rem auto 0;
    }
  }

  & > :first-child {
    margin-top: 0;
  }

  .entry-content__info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;

    min-height: 2rem;
    margin: -.25rem auto;
    padding-right: 2rem;

    color: $color-primary;
  }

  .entry-content__share {
    flex: 0 0 auto;

    .share__link--telegram > .share__text {
      display: none;
    }

    .share__link--twitter > .share__text {
      display: none;
    }
  }

  .entry-content__lead {
    display: block;
    overflow: hidden;

    & > * {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: .5rem;
      }
    }

    p {
      line-height: 1.5;
      font-size: 1.125rem;
      font-weight: 500;

      @media screen and (max-width: 767px) {
        font-size: 1rem;
      }
    }

    a {
      color: $color-primary;
      border-bottom: 1px solid;

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }

  .entry-content__title {
    display: block;

    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.075;

    em {
      font-family: $font-serif;
      font-weight: 400;
    }

    @media screen and (max-width: 1023px) {
      margin-bottom: .75rem;
      font-size: 2rem;
      line-height: 1.125;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 1rem;

      font-size: 1.625rem;
      line-height: 1.25;
    }
  }

  .entry-content__editor {
    display: block;
    position: relative;
    flex: 1 1 auto;

    width: 100%;
  }

  @media screen and (max-width: 767px) {
    padding: 1rem 1rem 0;
  }
}
