.entry-footer {
  display: block;
  position: relative;

  width: 100%;

  .entry-footer__button {
    margin: 1rem 0;

    strong {
      display: inline-block;
      margin-left: .5rem;

      &:before {
        content: "•";
        display: inline-block;

        margin-right: .5rem;
        font-size: .8125rem;
      }
    }
  }

  .entry-footer__inner {
    display: block;
    position: relative;

    width: 100%;
    overflow: hidden;

    color: $color-text;
    background-color: $color-white;

    & > * {
      width: 100%;
      max-width: calc(#{$width-content} + 4rem);
      margin: 1.5rem auto;

      background-color: $color-sheet;
    }
  }

  .entry-footer__tags {
    padding: .75rem 2rem;
  }

  .entry-footer__share {
    justify-content: space-between;
    padding: .75rem 2rem;

    .share__link {
      flex: 1 1 auto;
    }
  }
}
