.entry-form {
  display: block;

  width: 100%;
  padding: 0 1rem 1rem;

  color: $color-text;
  background-color: $color-white;

  transform: translate3d(0,0,0);

  form {
    margin-top: 1rem;
  }

  label {
    display: block;

    width: 100%;
    padding-bottom: .25rem;

    font-size: .875rem;
    font-weight: 500;
  }

  input[type="text"] {
    display: block;

    width: 100%;
    padding: .5rem;

    border: solid 1px silver;
  }

  input[type="submit"] {
    cursor: pointer;
  }

  textarea {
    display: block;

    width: 100%;
    padding: .5rem;

    border: solid 1px silver;
  }
}
