.entry-header {
  display: block;
  position: relative;

  width: 100%;
  padding: 2rem 1rem 1.5rem;

  color: $color-text;
  background-color: $color-white;

  & > * {
    width: $width-content;
    max-width: 100%;
    margin: 0 auto;
  }

  .meta {
    display: block;
    margin-bottom: 1.5rem;
  }

  .title {
    display: block;
    margin-bottom: 1.5rem;
  }
}
