.entry-quiz {
  display: block;
  position: relative;

  width: 100%;
  padding: 2rem 1rem;

  color: $color-text;
  background-color: $color-white;

  & > * {
    width: $width-content;
    max-width: 100%;
    margin: 2rem auto 0;

    @media screen and (max-width: 767px) {
      margin: 1rem auto 0;
    }
  }

  & > :first-child {
    margin-top: 0;
  }

  .entry-quiz__info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;

    min-height: 2rem;
    margin: -.25rem auto;
    padding-right: 2rem;

    color: $color-text;
  }

  .entry-quiz__share {
    flex: 0 0 auto;

    .share__link--telegram > .share__text {
      display: none;
    }

    .share__link--twitter > .share__text {
      display: none;
    }
  }

  .entry-quiz__title {
    display: block;

    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.075;

    em {
      font-family: $font-serif;
      font-weight: 400;
    }

    @media screen and (max-width: 1023px) {
      margin-bottom: .75rem;
      font-size: 2rem;
      line-height: 1.125;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.625rem;
      line-height: 1.25;
    }
  }

  .entry-quiz__content {
    display: block;
    overflow: hidden;

    & > * {
      margin: 1rem 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (max-width: 767px) {
        margin: .5rem 0;
      }
    }

    p {
      line-height: 1.5;
      font-size: 1.125rem;
      font-weight: 500;

      @media screen and (max-width: 767px) {
        font-size: 1rem;
      }
    }

    h5 {
      margin-bottom: 0;
      font-size: 1.125rem;
      line-height: 1.25;

      @media screen and (max-width: 767px) {
        font-size: 1rem;
      }
    }

    h6 {
      font-size: .8125rem;
      line-height: 1.375;
      text-align: left;

      strong {
        font-weight: 600;
      }

      @media screen and (max-width: 767px) {
        font-size: .75rem;
      }
    }

    a {
      color: $color-primary;
      border-bottom: 1px solid $color-primary;

      &:hover {
        border-bottom-color: transparent;
      }
    }

    figure {
      width: $width-content;
      max-width: 100%;
      margin: 2rem 0;

      @media screen and (max-width: 767px) {
        margin: 1rem 0;
      }
    }

    hr {
      display: block;

      border: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.15);
    }

    small {
      display: block;

      font-weight: 400;
      font-size: small;
    }
  }

  .entry-quiz__button {
    display: flex;
    justify-content: center;

    padding: .75rem 2rem;
    color: $color-text;
    background-color: $color-quiz;
    text-align: center;

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.125;

    border: none;
    border-radius: 4px;

    @media screen and (max-width: 767px) {
      margin-top: 1.5rem;
      padding: .75rem 1.5rem;
      font-size: 1.25rem;
      line-height: 1.375;
    }

    @media screen and (max-width: 479px) {
      padding: .5rem 1rem;
      font-size: 1.125rem;
      line-height: 1.5;
    }
  }

  .entry-quiz__vote {
    display: none;
    flex-flow: row wrap;
    text-align: left;

    .entry-quiz__vote-grid {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      margin: -.5rem 0;
    }

    .entry-quiz__vote-attachment {
      display: block;
      position: relative;
      cursor: pointer;

      width: calc(50% + .25rem);
      margin: .125rem -.375rem;
      padding: .375rem;
      transition: opacity .25s;

      border-radius: 2px;

      &:hover > img {
        opacity: .85;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
      }
    }

    .entry-quiz__vote-choice {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;

      width: 100%;
      min-height: 2.5rem;
      margin: 1.5rem .25rem 0;
      padding-left: 3.5rem;

      font-family: $font-serif;
      font-size: 1.25rem;
      color: $color-text;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;

        width: 2rem;
        height: 2rem;
        transform: translateY(-50%);

        border: solid 2px $color-text;
        border-radius: 50%;
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;

        width: 1rem;
        height: 1rem;
        margin-left: .5rem;
        background-color: transparent;

        transform: translateY(-50%);
        transition: background .25s;

        border-radius: 50%;
      }

      &:first-child {
        margin-top: 0;
      }

      &:hover:after {
        background-color: rgba($color-black, .85);
      }

      img {
        pointer-events: none;
      }

      @media screen and (max-width: 767px) {
        min-height: 2rem;
        margin-top: 1rem;
        padding-left: 2.75rem;
        font-size: 1rem;

        &:before {
          width: 1.5rem;
          height: 1.5rem;
        }

        &:after {
          width: .75rem;
          height: .75rem;
          margin-left: .375rem;
        }
      }
    }

    .entry-quiz__vote-message {
      display: block;

      width: 100%;
      margin-top: 1.75rem;
      padding-top: 1.5rem;
      font-family: $font-serif;
      font-size: 1.125rem;
      color: $color-text;

      border-top: solid 1px rgba($color-black, .25);

      & > * {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }

        @media screen and (max-width: 767px) {
          margin-bottom: .5rem;
        }
      }

      a {
        color: $color-primary;
        border-bottom: 1px solid $color-primary;

        &:hover {
          border-bottom-color: transparent;
        }
      }

      img {
        margin: 0 auto;
      }

      small {
        display: block;

        font-weight: 400;
        font-size: small;
      }

      @media screen and (max-width: 767px) {
        margin-top: 1rem;
        padding-top: 1rem;
        font-size: 1rem;
      }
    }

    & ~ .entry-quiz__button {
      display: none;
    }

    &.entry-quiz__vote--attachment {
      margin-top: 1.5rem;

      @media screen and (max-width: 767px) {
        margin-top: .75rem;
      }
    }

    &.entry-quiz__vote--choice {
      margin-bottom: 1rem;

      @media screen and (max-width: 767px) {
        margin-bottom: .5rem;
      }
    }

    &.entry-quiz__vote--complete {
      .entry-quiz__vote-attachment {
        cursor: default;

        & > img {
          opacity: .85;
        }

        &.entry-quiz__vote-attachment--selected {
          & > img {
            opacity: 1;
          }
        }

        &.entry-quiz__vote-attachment--correct {
          background-color: #00efbe;
        }

        &.entry-quiz__vote-attachment--missed {
          background-color: #00efbe;
        }

        &.entry-quiz__vote-attachment--wrong {
          background-color: #ff2640;
        }
      }

      .entry-quiz__vote-choice {
        cursor: default;

        color: rgba($color-text, .625);

        &:hover:after {
          background-color: transparent;
        }

        &.entry-quiz__vote-choice--selected {
          color: $color-text;

          &:after {
            background-color: rgba($color-black, .85);
          }
        }

        &.entry-quiz__vote-choice--correct {
          color: $color-text;

          &:after {
            background-color: $color-success;
          }
        }

        &.entry-quiz__vote-choice--missed {
          &:after {
            background-color: $color-success;
          }
        }

        &.entry-quiz__vote-choice--wrong {
          color: $color-text;

          &:after {
            background-color: $color-alert;
          }
        }
      }

      & ~ .entry-quiz__button {
        display: flex;
      }
    }
  }

  &.entry-quiz--center {
    text-align: center;

    .entry-quiz__info {
      justify-content: center;

      .label {
        margin-left: 1.5rem;
      }
    }

    .entry-quiz__share {
      justify-content: center;
    }
  }


  &.entry-quiz--item {
    .entry-quiz__vote {
      display: flex;
    }

    .entry-quiz__info {
      justify-content: center;

      font-size: 1rem;
      font-weight: 700;
      color: rgba(0, 0, 0, .375);
    }

    .entry-quiz__content {
      & > p {
        line-height: 1.375;
        font-size: 1.375rem;
        font-weight: 700;
        text-align: left;

        @media screen and (max-width: 767px) {
          font-size: 1.125rem;
        }
      }
    }

    .entry-quiz__share {
      display: none;
    }

    .entry-quiz__title {
      display: none;
    }
  }

  &.entry-quiz--results {
    .entry-quiz__share {
      display: flex;
      justify-content: space-between;

      .share__link {
        flex: 1 1 auto;
      }

      .share__text {
        display: block;

        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }

    .entry-quiz__content {
      & > p {
        text-align: left;
      }
    }

    .entry-quiz__title {
      display: none;
    }

    .entry-quiz__vote {
      display: none;
    }

    .entry-quiz__info {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 1rem 1rem 1.5rem;
  }
}
