.entry-select {
  display: block;
  position: relative;

  width: 100%;
  padding: 2rem;

  color: $color-black;
  background-color: $color-white;

  border-top: solid 12px $color-select;

  & > * {
    width: $width-wide;
    max-width: 100%;
    margin: 2rem auto 0;

    @media screen and (max-width: 767px) {
      width: $width-content;
      margin: 1rem auto 0;
    }
  }

  & > :first-child {
    margin-top: 0;
  }

  .entry-select__title {
    display: block;

    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;

    strong {
      display: block;

      font-size: 10rem;
      font-weight: 500;
      line-height: .875;
      color: $color-select;

      transform: translateX(-.025em);

      @media screen and (max-width: 767px) {
        font-size: 6rem;
      }
    }

    @media screen and (max-width: 1023px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.625rem;
      line-height: 1.25;
    }
  }

  .entry-select__lead {
    display: block;

    overflow: hidden;

    -webkit-font-smoothing: auto;

    & > * {
      margin: 1rem 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: .5rem;
      }
    }

    p {
      line-height: 1.5;
      font-size: 1.125rem;
      font-weight: 500;

      @media screen and (max-width: 767px) {
        font-size: 1rem;
      }
    }

    a {
      color: $color-primary;
      border-bottom: 1px solid $color-primary;

      &:hover {
        border-bottom-color: transparent;
      }
    }

    figure {
      width: $width-wide;
      max-width: 100%;
      margin: 2rem 0;

      @media screen and (max-width: 767px) {
        margin: 1rem 0;
      }
    }
  }

  .entry-select__share {
    flex: 0 0 auto;
  }

  .entry-select__units {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    margin-bottom: -1rem;

    .unit {
      width: calc(50% - .5rem);
      margin: 0 0 1rem 0;

      box-shadow: 0 0 20px 1px rgba(0, 0, 0, .125);
      transition: box-shadow .25s;

      .unit__image {
        z-index: 0;
      }

      .unit__content {
        min-height: 7.5rem;

        @media screen and (max-width: 767px) {
          min-height: 6rem;
        }
      }

      &:hover {
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, .25);
      }

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding: 1rem;
  }
}
