.entry-select {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;

  width: 100%;
  padding: 2rem;

  color: $color-black;
  background-color: $color-white;

  border-top: solid 12px $color-select;

  & > * {
    width: $width-wide;
    max-width: 100%;
    margin-top: 2rem;
  }

  .entry-select__title {
    display: block;

    margin-top: 0;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .5px;

    strong {
      display: block;

      font-size: 10rem;
      font-weight: 500;
      line-height: .875;
      color: $color-select;

      transform: translateX(-.025em);
    }

    @media screen and (max-width: 1023px) {
      margin-bottom: .75rem;
      font-size: 3rem;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 1rem;

      font-size: 2rem;
      line-height: 1.25;
    }

    @media screen and (max-width: 479px) {
      font-size: 2rem;
      line-height: 1.25;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.75rem;
    }
  }

  .entry-select__lead {
    display: block;

    overflow: hidden;

    p {
      margin-bottom: 1rem;
      line-height: 1.375;
      font-size: 1.25rem;
      font-weight: 500;
      letter-spacing: .25px;

      &:last-child {
        margin-bottom: 0;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: .5rem;
        line-height: 1.5;
        font-size: 1.125rem;
      }
    }

    a {
      color: $color-primary;
      border-bottom: 1px solid $color-primary;

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }

  .entry-select__share {
    flex: 0 0 auto;
  }


  @media screen and (max-width: 1023px) {
    padding: 2rem;
  }

  @media screen and (max-width: 767px) {
    padding: 2rem 1rem;
  }
}
