.entry-widgets {
  display: none;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  z-index: 2;

  width: 100%;
  padding: 0 1rem 1rem;
  background-color: $color-white;

  &.entry-widgets--expand {
    display: flex;

    & > * {
      margin-top: 1rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
