.entry-widgets {
  display: none;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  z-index: 2;

  width: 100%;
  padding-bottom: 1rem;
  background-color: $color-white;

  &.entry-widgets--expand {
    display: flex;
  }
}
