.button {
  display: inline-block;

  width: 100%;
  padding: 1rem 3rem;

  font-size: .75rem;
  font-weight: 700;
  line-height: 1.375;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;

  color: $color-white;
  background-color: $color-primary;

  border: solid 1px $color-primary;

  &:hover {
    filter: brightness(125%);
  }
}
