@font-face {
  font-family: 'Formular';
  src: url('fonts/Formular/Formular-Bold.eot');
  src: url('fonts/Formular/Formular-Bold.eot?#iefix') format('embedded-opentype'),
	url('fonts/Formular/Formular-Bold.woff2') format('woff2'),
	url('fonts/Formular/Formular-Bold.woff') format('woff'),
	url('fonts/Formular/Formular-Bold.ttf') format('truetype'),
	url('fonts/Formular/Formular-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('fonts/Formular/Formular-Black.eot');
  src: url('fonts/Formular/Formular-Black.eot?#iefix') format('embedded-opentype'),
	url('fonts/Formular/Formular-Black.woff2') format('woff2'),
	url('fonts/Formular/Formular-Black.woff') format('woff'),
	url('fonts/Formular/Formular-Black.ttf') format('truetype'),
	url('fonts/Formular/Formular-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('fonts/Formular/Formular.eot');
  src: url('fonts/Formular/Formular.eot?#iefix') format('embedded-opentype'),
	url('fonts/Formular/Formular.woff2') format('woff2'),
	url('fonts/Formular/Formular.woff') format('woff'),
	url('fonts/Formular/Formular.ttf') format('truetype'),
	url('fonts/Formular/Formular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('fonts/Formular/Formular-Medium.eot');
  src: url('fonts/Formular/Formular-Medium.eot?#iefix') format('embedded-opentype'),
	url('fonts/Formular/Formular-Medium.woff2') format('woff2'),
	url('fonts/Formular/Formular-Medium.woff') format('woff'),
	url('fonts/Formular/Formular-Medium.ttf') format('truetype'),
	url('fonts/Formular/Formular-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('fonts/Formular/Formular-Italic.eot');
  src: url('fonts/Formular/Formular-Italic.eot?#iefix') format('embedded-opentype'),
	url('fonts/Formular/Formular-Italic.woff2') format('woff2'),
	url('fonts/Formular/Formular-Italic.woff') format('woff'),
	url('fonts/Formular/Formular-Italic.ttf') format('truetype'),
	url('fonts/Formular/Formular-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
