.meta {
  color: $color-primary;
  font-size: .8125rem;
  font-weight: 500;
  letter-spacing: .25px;

  .meta__link {
    display: inline-block;
    cursor: pointer;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:after {
      content: "•";
      display: inline-block;

      margin-left: .5rem;
      margin-right: .5rem;

      font-size: .5625rem;
    }

    &:last-child {
      flex: 1;
    }

    &:last-child:after {
      display: none;
    }

    &:hover {
      filter: brightness(150%);
    }
  }

  .meta__item {
    display: inline-block;
    cursor: default;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:after {
      content: "•";
      display: inline-block;

      margin-left: .5rem;
      margin-right: .5rem;

      font-size: .5625rem;
    }

    &:last-child {
      flex: 1;
    }

    &:last-child:after {
      display: none;
    }
  }
}
