.social {
  display: flex;
  flex-flow: row nowrap;

  .social__item {
    display: block;

    margin: 0 .75rem;

    .social__item-link {
      display: block;

      font-size: 1.125em;
      line-height: 1;
      color: inherit;

			.icon {
				display: block;

				&.icon--facebook:hover {
        	color: #3b5998;
				}

				&.icon--vkontakte:hover {
        	color: #5186bd;
				}

				&.icon--twitter:hover {
        	color: #36ade1;
				}

				&.icon--telegram:hover {
        	color: #0088cc;
				}
			}
    }
  }
}
