.wrap {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  background-color: $color-black;

  &.wrap--background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
}
