$color-special-common: #00acff;
$color-special-white: #fff;
$color-special-caption: #98ce26;


/**
 * caption styles
 */
.caption .caption__description {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;

  max-width: 100%;
  margin: 1rem 0 0;
  padding: 0 1rem;
  text-align: center;

  color: $color-special-white;
  background: $color-special-caption;
  text-transform: uppercase;

  border-radius: .625rem;
}

.caption .caption__description h1 {
  margin-bottom: 1rem;

  font-size: 1.125rem;
  line-height: 1.125;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 479px) {
    font-size: .875rem;
  }
}

.caption .caption__description img {
  width: 2.5rem;
  height: auto;
  margin: .75rem 0;

  @media screen and (max-width: 767px) {
    width: 5rem;
  }

  @media screen and (max-width: 479px) {
    width: 4rem;
  }
}

.content .figure.figure--promo {
  display: block;

  .button {
    display: block;
    padding: 1.5rem 2rem 1.5rem 6rem;

    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.375;
    color: #000;

    text-transform: uppercase;
    text-align: left;

    color: $color-special-white;
    background-color: $color-special-common;
    border-radius: 0.5rem;

    &:hover {
      filter: brightness(95%);

      color: $color-special-white;
      background-color: $color-special-common;

      border-color: transparent;
    }

    &:after {
      content: '';

      position: absolute;
      top: 0;
      left: 0.25rem;
      width: 6rem;
      height: 100%;

      background-image: url('images/button-logo.png');
      background-size: 2rem 2rem;
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (max-width: 479px) {
        display: none;
      }
    }

    @media screen and (max-width: 767px) {
      padding: 1rem;
      font-size: 0.875rem;
      line-height: 1.5;
    }
  }
}