$color-special-common:#10384F;
$color-special-white: #fff;

.footer {
  &>* {
    position: relative;
    z-index: 2;
  }

  .footer__copy a {
    color: $color-special-white;
    border-bottom: solid 1px;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}


/**
 * caption styles
 */
.caption .caption__description {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;

  max-width: 100%;
  margin: 1rem 0 0;
  padding: 0 1rem;
  text-align: center;

  color: $color-special-common;
  background: $color-special-white;
  text-transform: uppercase;

  border-radius: .625rem;
}

.caption .caption__description h1 {
  margin-bottom: 1rem;

  font-size: 1.125rem;
  line-height: 1.125;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 479px) {
    font-size: .875rem;
  }
}

.caption .caption__description img {
  width: 6rem;
  height: auto;
  margin: .75rem 0;

  @media screen and (max-width: 767px) {
    width: 4rem;
  }

  @media screen and (max-width: 479px) {
    width: 3rem;
  }
}
