@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


/**
 * content and post styles
 */
.content {
  width: calc(100% - 2rem);
  max-width: 78rem;
  margin-top: 1rem;

  font-family: 'Fira Sans', sans-serif;
  background-color: #202032;

  border-radius: .625rem;
}
  @media screen and (max-width: 479px) {
    .content {
      width: calc(100% - 1rem);
      padding-left: .5rem;
      padding-right: .5rem;
    }
  }

.content .post {
  flex: 0 1 58rem;
  background-color: #f0efed;

  border-radius: .625rem;
}

.content .post > * {
  background-color: transparent;
}


/**
 * caption styles
 */
.caption {
  width: 100%;
}

.caption .caption__description {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;

  max-width: 100%;
  margin: 1rem 0;
  text-align: center;

  color: #f0efed;
}
  .is-archive .caption .caption__description {
    flex-flow: column wrap;
  }

.caption .caption__description h1 {
  max-width: 60rem;
  margin-bottom: 1rem;

  font-size: 3rem;
  font-weight: 700;
  line-height: 1.125;
}
  @media screen and (max-width: 1023px) {
    .caption .caption__description h1 {
      font-size: 2.5rem;
    }
  }

  @media screen and (max-width: 767px) {
    .caption .caption__description h1 {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 479px) {
    .caption .caption__description h1 {
      font-size: 1.625rem;
    }
  }

.caption .caption__description p {
  display: block;

  width: 100%;
  font-size: 1.625rem;
  font-weight: 400;
  font-style: italic;

  @media screen and (max-width: 767px) {
      font-size: 1.25rem;
  }
}

.caption .caption__description a {
  font-size: 1.75rem;
  font-weight: 500;

  color: inherit;

  @media screen and (max-width: 1023px) {
    font-size: 1.375rem;
  }

  @media screen and (max-width: 479px) {
    font-size: 1rem;
  }
}

.caption .caption__description img {
  width: 4.25rem;
  height: auto;
  margin-right: 1rem;
}
  .is-archive .caption .caption__description img {
    width: 6rem;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 767px) {
    .is-archive .caption .caption__description img {
      width: 4.5rem;
    }
  }


/**
 * entry-header styles
 */
.entry-header .entry-header__image {
  display: block;

  margin-top: -1rem;
}

.entry-header .entry-header__image img {
  display: block;

  width: 3rem;
  height: auto;
}

  @media screen and (max-width: 767px) {
    .entry-header .entry-header__image img {
      width: 2rem;
    }
  }

.entry-header .entry-header__title {
  font-size: 2rem;
  line-height: 1.25;

  em {
    padding: .075rem 0;

    font-family: inherit;
    font-weight: 500;
    font-style: italic;

    background-color: #fff;
    box-shadow: .5rem 0 0 #fff, -.5rem 0 0 #fff;
  }

  @media screen and (max-width: 1023px) {
    font-size: 1.75rem;
  }

  @media screen and (max-width: 767px) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 479px) {
    font-size: 1.375rem;
  }
}

.entry-header .entry-header__lead {
  p {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.375;

    @media screen and (max-width: 767px) {
      font-size: 1.125rem;
    }
  }

  a {
    color: #202032;
  }
}

/**
 * entry-content styles
 */
.entry-content {
  font-size: 1.125rem;
  line-height: 1.375;

  h4 {
    line-height: 1.375;
    font-style: italic;

    & > * {
      padding: .25em 0;

      background-color: #fff;
      box-shadow: .5rem 0 0 #fff, -.5rem 0 0 #fff;
    }
  }

  h5 {
    display: block;

    margin-top: 2rem;
    line-height: 1.5;
    font-size: .875rem;

    background-color: transparent;

    a {
      display: block;

      font-size: 1.375em;
      font-weight: 700;

      border-bottom: none;
    }
  }

  a {
    color: #202032;
  }

  @media screen and (max-width: 767px) {
    font-size: 1rem;
  }
}

/**
 * entry-content author styles
 */
.entry-content__author {
  display: block;

  margin-top: 2rem;
  font-size: .875rem;

  background-color: transparent;
}
  @media screen and (max-width: 479px) {
    .entry-content__author {
      font-size: .75rem;
    }
  }

.entry-content__author .meta {
  font-size: inherit;
}

.entry-content__author .meta__item {
  font-size: 1.25em;
  font-weight: 700;

  border-bottom: none;
}


/**
 * archive styles
 */
.archive {
  margin-bottom: 2rem;
}

.archive::after {
  content: '';
  width: calc(100% / 3 - .625rem);
}


/**
 * unit styles
 */
.unit {
  background-color: #f0efed;
  border-radius: .625rem;
}

.unit .unit__inner {
  padding-top: 90%;
}

.unit .unit__image {
  padding-top: 100%;
  transform: scale(.8);
  background-color: transparent;

  border-radius: 50%;
}

.unit .unit__content {
  align-items: center;
  justify-content: flex-start;

  padding: 2rem 0;
  background-color: transparent;
}

.unit .unit__content .unit__content-link {
  font-size: 2.5rem;
  line-height: 120%;
  text-align: center;
}
  @media screen and (max-width: 767px) {
    .unit .unit__content .unit__content-link {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 479px) {
    .unit .unit__content .unit__content-link {
      font-size: 1.75rem;
    }
  }

.unit .unit__content .unit__content-link span {
  padding: .075rem 0;

  color: #333;
  background-color: #fff;
  box-shadow: .5rem 0 0 #fff, -.5rem 0 0 #fff;
}

.unit .unit__content .unit__content-info {
  display: block;

  margin-top: .5rem;
  padding-right: 0;

  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;

  color: #333;
}
  @media screen and (max-width: 767px) {
    .unit .unit__content .unit__content-info {
      margin-top: .875rem;
      font-size: .9375rem;
    }
  }

  @media screen and (max-width: 479px) {
    .unit .unit__content .unit__content-info {
      margin-top: .75rem;
      font-size: .875rem;
    }
  }


/**
 * footer styles
 */
.footer {
  flex-flow: row nowrap;
  max-width: 58rem;
  margin-top: 1.5rem;
  padding-top: 0;
}
  @media screen and (max-width: 767px) {
    .footer {
      flex-flow: row wrap;
      padding: 0;
    }
  }

.footer .footer__logo {
  flex-flow: row nowrap;
  align-items: center;

  flex: 0 0 auto;
  width: auto;
  margin: auto;
}
  @media screen and (max-width: 1023px) {
    .footer .footer__logo {
      display: flex;
      margin: auto;
    }
  }

.footer .footer__logo .footer__logo-image {
  width: auto;
  height: 2.5rem;
}
  @media screen and (max-width: 1023px) {
    .footer .footer__logo .footer__logo-image {
      height: 2rem;
    }
  }


/**
 * navigate styles
 */
.navigate {
  flex: 0 1 58rem;
  max-width: 100%;
  margin-bottom: 2rem;
}
  @media screen and (max-width: 1023px) {
    .navigate {
      margin-bottom: 1rem;
    }
  }

.navigate a {
  padding: 1rem;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;

  background: #fff;
  color: #202032;

  border: none;
  border-radius: .625rem;
}
  @media screen and (max-width: 1023px) {
    .navigate a {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 767px) {
    .navigate a {
      font-size: .875rem;
    }
  }

  @media screen and (max-width: 479px) {
    .navigate a {
      font-size: .75rem;
    }

    .navigate a:last-child {
      display: none;
    }
  }
