// Setup variables
@import "../setup/variables";

$color-special-common: #434446;
$color-special-white: #fff;
$color-special-footer: #0095da;

.backdrop {
  background-size: 8rem !important;
}

.footer {
  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 50%;

    width: 100vw;
    height: 100%;

    background-color: $color-special-footer;
    transform: translateX(-50%);
  }

  &>* {
    position: relative;
    z-index: 2;
  }

  .footer__copy a {
    color: $color-special-white;
    border-bottom: solid 1px;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}


/**
 * caption styles
 */
.caption .caption__description {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;

  max-width: 100%;
  margin: 1rem 0 0;
  padding: 0 1rem;
  text-align: center;

  color: $color-special-common;
  background: $color-special-white;
  text-transform: uppercase;

  border-radius: .625rem;
}

.caption .caption__description h1 {
  max-width: 40rem;
  margin-bottom: 1rem;

  font-size: 1.125rem;
  line-height: 1.125;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 479px) {
    font-size: .875rem;
  }
}

.caption .caption__description img {
  width: 7rem;
  height: auto;
  margin: .75rem 0;

  @media screen and (max-width: 767px) {
    width: 5rem;
  }

  @media screen and (max-width: 479px) {
    width: 4rem;
  }
}


/**
 * promo button styles
 */
.content .figure--promo {
  display: block;

  .button {
    display: block;
    padding-left: 6rem;

    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.375;
    color: $color-special-common;

    text-transform: uppercase;
    text-align: left;

    background-color: #ddd;
    background-image: url('images/logo-transparent.png');
    background-size: 4rem auto;
    background-repeat: no-repeat;
    background-position: 1rem center;

    border-radius: .5rem;

    &:hover {
      filter: none;
      background-color: #ccc;
    }

    @media screen and (max-width: 767px) {
      padding-left: 1rem;
      font-size: 0.875rem;
      line-height: 1.5;

      background-image: none;
    }
  }
}
