// Setup variables
@import "../setup/variables";

$color-special-title: #f1bb0c;

body.is-archive {
  min-height: 100vh;
  background-image: linear-gradient(to left bottom, #261a42, #483968);
}

/**
 * archive styles
 */
.archive {
  margin-top: 4rem;
  font-weight: 500;

  .archive__caption {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    width: calc(50% - .5rem);
    margin: 1rem 0;

    h1 {
      display: block;

      font-size: 1.75rem;
      font-weight: 700;
      line-height: 1.25;

      text-transform: uppercase;

      strong {
        color: $color-special-title;
      }

      @media screen and (max-width: 1023px) {
        font-size: 1.625rem;
        line-height: 1.125;
      }

      @media screen and (max-width: 767px) {
        font-size: 1.375rem;
      }

      @media screen and (max-width: 479px) {
        font-size: 1.125rem;
        line-height: 1.25;
      }
    }

    img {
      display: block;

      width: 7rem;
      height: auto;
      margin-right: 2rem;

      @media screen and (max-width: 1023px) {
        width: 6rem;
      }

      @media screen and (max-width: 767px) {
        width: 4.5rem;
        margin-right: 1rem;
      }

      @media screen and (max-width: 479px) {
        margin-bottom: 1rem;
      }
    }

    @media screen and (max-width: 1023px) {
      width: 100%;
    }

    @media screen and (max-width: 479px) {
      flex-flow: row wrap;
      justify-content: center;
      text-align: center;
    }
  }

  @media screen and (max-width: 1023px) {
    margin-top: 0;
  }

  @media screen and (max-width: 479px) {
    padding: 1rem;
  }
}

/**
 * unit styles
 */
.archive .unit {
  display: flex;
  flex-flow: column nowrap;

  min-height: 12rem;
  padding: 1.5rem;

  border: solid 1px $color-white;
  border-radius: 1rem;

  transition: filter 0.25s;

  .unit__emoji {
    font-size: 4rem;
    margin-bottom: auto;

    @media screen and (max-width: 767px) {
      font-size: 3.25rem;
    }
  }

  .unit__content {
    height: auto;
    padding: 0;

    background-color: transparent;

    .unit__content-link {
      font-weight: 500;
      line-height: 1.25;

      text-transform: uppercase;
      color: $color-special-title;

      em {
        font-family: $font-regular;
        font-weight: 500;

        color: $color-white;
      }
    }
  }

  &:hover {
    filter: brightness(90%);
  }

  @media screen and (max-width: 767px) {
    min-height: auto;
    padding: 1rem;
  }
}


/**
 * promo button styles
 */
.content .figure--promo {
  display: block;

  .button {
    display: block;
    padding-left: 4.5rem;

    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375;
    color: $color-white;

    text-transform: uppercase;
    text-align: left;

    background-color: #261a42;
    background-image: url('images/profi-logo.png');
    background-size: 2.5rem auto;
    background-repeat: no-repeat;
    background-position: 1rem center;

    border-radius: .5rem;

    @media screen and (max-width: 767px) {
      padding-left: 1rem;
      font-size: 0.875rem;
      line-height: 1.5;

      background-image: none;
    }
  }
}
