@import url('https://fonts.googleapis.com/css?family=Rubik:500,700&subset=cyrillic');

// Setup variables
@import "../setup/variables";

$color-special-background: #4f9dcf;
$color-special-secondary: #155c8a;
$font-special: 'Rubik', sans-serif;


/**
 * content and post styles
 */
.content {
  margin: 1rem auto 2rem;
  font-family: $font-special;

  @media screen and (max-width: 767px) {
    margin: 1rem auto 2rem;
    padding: 0 1rem;
  }

  .post {
    flex: 0 1 56.25rem;
  }
}

/**
 * archive styles
 */
.archive {
  width: 100%;

  &::after {
    width: calc(100% / 3 - 1.5rem);
  }
}

/**
 * caption styles
 */
.caption {
  width: 100%;
}

.caption .caption__description {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  max-width: 100%;
  margin: 1rem 0;
  text-align: center;

  text-transform: uppercase;

  h1 {
    display: block;
    cursor: default;

    max-width: 64rem;
    margin: 0 2rem 0 0;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.125;
    text-align: left;
    text-transform: uppercase;

    @media screen and (max-width: 1023px) {
      font-size: 1.875rem;
      line-height: 1.25;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.75rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 359px) {
      font-size: 1.25rem;
    }
  }

  a {
    max-width: $width-content;
    margin-bottom: -.5rem;
    color: $color-white;
    font-size: 1.5rem;

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.125rem;
    }
  }

  @media screen and (max-width: 767px) {
    margin: 0;
  }
}

.is-single .caption .caption__description {
  justify-content: center;
}


/**
 * entry-content styles
 */
.entry-content {
  font-family: $font-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;

  border-radius: 0 0 0.5rem 0.5rem;

  a {
    color: $color-special-secondary;
    text-decoration: none;
    border-bottom: solid 2px;
  }

  h2, h3, h4, h5 {
    font-family: $font-special;
  }

  h3 {
    font-size: inherit;
    line-height: 1.5;
  }

  h4 {
    display: block;

    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;

    &::before {
      content: '';
      display: block;

      width: 12.5rem;
      height: .5625rem;
      max-width: 50%;
      margin-bottom: 1.5rem;

      background-color: $color-special-secondary;
    }

    @media screen and (max-width: 767px) {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      font-size: 1.25rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.125rem;
    }
  }

  h5 {
    display: block;

    margin-top: 2rem;
    line-height: 1.5;
    font-size: 1rem;

    background-color: transparent;

    a {
      display: block;

      font-size: 1.375em;
      font-weight: 500;

      border-bottom: none;
    }
  }

  @media screen and (max-width: 767px) {
    font-size: 1rem;
  }
}


/**
 * entry-header styles
 */
.entry-header {
  border-radius: 0.5rem 0.5rem 0 0;

  .entry-header__lead {
    display: block;

    margin-top: 2rem;
    margin-bottom: 2rem;

    p {
      font-family: $font-special;
      font-size: 1.25rem;

      @media screen and (max-width: 767px) {
        font-size: 1rem;
      }
    }

    a {
      color: $color-special-secondary;
      text-decoration: none;
      border-bottom: solid 2px;
    }
  }
}


/**
 * unit styles
 */
.unit {
  will-change: transform;
  width: calc(100% / 3 - 1.5rem);
  margin-top: 2rem;
  padding: 1.5rem;
  transition: transform .25s;

  box-shadow: 0 0 2rem $color-special-secondary;
  border-radius: 0.5rem;

  @for $i from 1 through 10 {
    &:nth-child(#{$i})::before {
      content: "#{$i}";
    }
  }

  &:hover {
    transform: scale(1.03);
  }

  &::before {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;

    width: 2rem;
    height: 2rem;
    margin: .75rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: $color-white;
    background-color: $color-special-secondary;

    border-radius: 50%;
  }

  .unit__cover {
    padding: 2rem 1rem;
    font-size: 10rem;
    line-height: 1;
    text-align: center;

    animation: pulse 1s infinite;

    @media screen and (max-width: 767px) {
      font-size: 8rem;
    }

    @media screen and (max-width: 479px) {
      padding: 1rem;
      font-size: 6rem;
    }
  }

  .unit__content {
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    height: auto;
    padding: 0;

    background-color: transparent;

    .unit__content-link {
      font-size: 1.75rem;
      font-weight: 500;

      @media screen and (max-width: 767px) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 479px) {
        font-size: 1.25rem;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    width: 100%;
    padding: 2rem 1rem;
  }

  @media screen and (max-width: 479px) {
    flex-flow: column wrap;
    padding: 1rem;
  }
}


/**
 * footer styles
 */
.footer {
  flex-flow: row nowrap;
  justify-content: center;

  padding: 0;
  margin: 4rem auto 2rem;

  .footer__logo {
    display: block;

    width: auto;
    padding: 0;

    .footer__logo-image {
      width: auto;
      height: 2.5rem;
      margin: auto;

      @media screen and (max-width: 1023px) {
        height: 2rem;
      }
    }
  }

  @media screen and (max-width: 767px) {
    margin: 2rem auto;
  }
}

.is-single .footer {
  margin: 2rem auto;
}


@keyframes pulse {
  0% {
      transform: scale(1.05)
  }
  50% {
      transform: scale(1)
  }
}
