// Setup variables
@import "../setup/variables";

$font-special: 'Formular', sans-serif;
$color-special-button: #E07C7C;
$color-special-common: #36374C;
$color-special-background: #f7f5f1;


body.is-archive {
  background-image: url('images/background.jpg');
  background-size: $width-site;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-color: $color-special-background;

  @media screen and (max-width: 768px) {
    background-image: none;
  }
}


.archive {
  font-family: $font-special;
  font-weight: 500;

  @media screen and (max-width: 479px) {
    width: calc(100% - 2rem);
  }
}


.footer {
  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 50%;

    width: 100vw;
    height: 100%;

    background-color: $color-special-common;
    transform: translateX(-50%);
  }

  &>* {
    position: relative;
    z-index: 2;
  }

  .footer__copy a {
    color: $color-white;
    border-bottom: solid 1px;

    &:hover {
      border-bottom-color: transparent;
    }
  }
}


/**
 * caption styles
 */
.caption {
  font-family: $font-special;
  font-weight: 700;

  .caption__description {
    display: block;

    width: 100%;
    max-width: 38rem;
    margin: 2.5rem auto 1.5rem;
    text-align: center;

    color: $color-special-common;

    h1 {
      display: block;

      margin: 2rem auto;
      font-size: 1.375em;
      font-weight: 500;
      line-height: 1.125;

      @media screen and (max-width: 479px) {
        margin: 1.5rem auto;
      }
    }

    img {
      display: block;

      width: 20rem;
      height: auto;
      margin: 0 auto;
    }

    p {
      font-size: 1rem;
    }

    @media screen and (max-width: 767px) {
      flex-flow: row wrap;
      margin: 1.5rem 0 0.5rem;
    }

    @media screen and (max-width: 479px) {
      text-align: left;
    }
  }

  .caption__button {
    display: block;

    width: 100%;
    margin: 1.5rem auto 1.5rem;
    text-align: center;

    .button {
      background-color: #E07C7C;

      border: none;
      border-radius: 2rem;

      @media screen and (max-width: 479px) {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 767px) {
    width: calc(100% - 2rem);
  }
}

/**
 * unit styles
 */
.archive .unit {
  overflow: hidden;
  border-radius: 1rem;

  transition: filter 0.25s;

  .unit__head {
    display: none;
  }

  .unit__content {
    padding: 1.5rem 1.5rem 2.5rem;
  }

  .unit__content-link {
    color: #36374C;
    font-weight: 500;

    em {
      font-family: inherit;
      font-weight: inherit;
    }
  }

  .unit__content-info {
    display: none;
  }
}


/**
 * promo button styles
 */
.content .figure--promo {
  display: block;

  img {
    display: block;

    width: 10rem;
    height: auto;
    margin: 0 auto 1rem;
  }

  .button {
    display: block;

    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.375;
    color: $color-special-common;

    text-align: center;

    background-color: $color-special-background;
    border-radius: .5rem;

    &:hover {
      background-color: darken($color-special-background, 5);
      filter: none;
    }

    @media screen and (max-width: 767px) {
      padding-left: 1rem;
      font-size: 0.875rem;
      line-height: 1.5;

      background-image: none;
    }
  }
}
