.about {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  min-height: 2rem;
  font-size: .8125rem;
  font-weight: 500;
  letter-spacing: .25px;

  color: $color-primary;

  & > * {
    margin: .25rem 0;
    padding: .1875rem 0;
  }

  .about__club {
    flex: 0 0 auto;
    cursor: default;

    margin-right: .75rem;
    padding-left: .375rem;
    padding-right: .375rem;

    color: $color-white;
    background-color: $color-club;

    border-radius: 3px;

    @at-root #{selector-unify(&, a)} {
      cursor: pointer;

      &:hover {
        filter: brightness(120%);
      }
    }

    @media screen and (max-width: 767px) {
      margin-right: .5rem;
    }
  }

  .about__promo {
    flex: 0 0 auto;
    cursor: default;

    margin-right: .75rem;
    padding-left: .375rem;
    padding-right: .375rem;

    color: $color-white;
    background-color: #3b577c;

    border-radius: 3px;

    @at-root #{selector-unify(&, a)} {
      cursor: pointer;

      &:hover {
        filter: brightness(120%);
      }
    }

    @media screen and (max-width: 767px) {
      margin-right: .5rem;
    }
  }
}
