.aside {
  display: block;
  position: relative;
  z-index: 2;

  &.aside--widget {
    width: 100%;

    & > * {
      margin-top: 2rem;

      @media screen and (max-width: 767px) {
        margin-top: 1rem;
      }
    }

    &:not(:last-child) > * {
      margin-bottom: 2rem;

      @media screen and (max-width: 767px) {
        margin-bottom: 1rem;
      }
    }

    a {
      color: inherit;
      border: none;
    }
  }
}
