.author {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;

  padding: .5rem 0 .25rem;

  .author__photo {
    display: block;

    width: 3.75rem;
    height: 3.75rem;
    margin-right: 1rem;

    border-radius: 50%;

    @media screen and (max-width: 767px) {
      width: 3.25rem;
      height: 3.25rem;
    }

    @media screen and (max-width: 479px) {
      width: 3rem;
      height: 3rem;

      margin-right: .75rem;
    }
  }

  .author__name {
    display: block;
    order: 2;

    margin-bottom: .125rem;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.25;

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
      line-height: 1.375;
    }

    @media screen and (max-width: 479px) {
      font-size: 1rem;
    }
  }

  .author__description {
    display: block;

    margin-top: .25rem;
    font-size: .9375rem;
    font-weight: 300;
    line-height: 1.5;

    @media screen and (max-width: 767px) {
      font-size: .875rem;
    }

    @media screen and (max-width: 479px) {
      font-size: .8125rem;
    }
  }
}
