.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;

  width: 100%;
  height: 100vh;
  opacity: 0;

  animation: .25s forwards fade-in;

  background-repeat: repeat;
  background-position: center center;

  transform: translateZ(0);
}
