.button {
  display: inline-block;

  width: 100%;
  padding: 1rem 3rem;

  font-size: 1rem;
  font-weight: 500;
  line-height: 1.125;
  text-align: center;

  color: $color-white;
  background-color: $color-primary;

  border: solid 1px $color-primary;
  border-radius: 2px;

  &:hover {
    filter: brightness(125%);
  }

  @media screen and (max-width: 767px) {
    font-size: .9375rem;
  }
}
