.comments {
  display: block;

  width: 100%;
  background-color: $color-sheet;

  .hcc {
    font-family: $font-regular, sans-serif;
  }

  .hc__right {
    padding: 0 16px;
  }

  .hc__menu__comment {
    font-size: 18px;
  }

  .hc__message  {
    margin-bottom: 24px;
  }

  .hc__menu__line {
    display: none;
  }

  .hc__reply__box__textarea {
    padding-right: 9px;
    font-size: 14px;
  }

  .hc__footer {
    display: none;
  }

  .hc__showmore {
    margin-bottom: 20px;
  }

  .hc__parent__toggle {
    display: block;
  }

  .hc__nodisqus {
    padding: 15px 0 5px;
    background: none;
    font-size: 16px;
    font-weight: 500;
  }

  .hc__menu__settings__popup {
    height: 60px !important;
    padding: 2px 0;

    div {
      line-height: 20px;
    }
  }

  .hc__menu__comment__popup {
    height: 90px !important;
    padding: 2px 0;

    div {
      line-height: 20px;
    }
  }

  .hc__message__popup {
    height: 65px !important;

    .hc__message__popup__item {
      padding: 1px 12px;
      line-height: 20px;
    }
  }

  .hc__form__send {
    padding: 8px 20px;
    background-color: $color-primary;
    box-shadow: none;

    transition: .25s;

    &:hover {
      background-color: $color-primary;
      box-shadow: none;

      filter: brightness(120%);
    }
  }
}
