.comments {
  display: none;
  position: relative;

  width: 100%;
  overflow: hidden;

  max-width: calc(40rem + 4rem);
  margin: 1.5rem auto 0;
  padding: 0 2rem;

  color: $color-text;
  background-color: $color-sheet;

  .comments__form {
    display: block;
    position: relative;

    margin: 2rem 0;

    .comments__form-footer {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      pointer-events: none;

      position: absolute;
      right: 0.75rem;
      bottom: 0.75rem;

      width: calc(100% - 1.5rem);

      & > * {
        pointer-events: all;
      }

      @media screen and (max-width: 479px) {
        bottom: 0.5rem;
        right: 0.5rem;

        width: calc(100% - 1rem);
      }
    }

    .comments__form-submit {
      order: 5;

      width: auto;
      padding: 0.625rem 1.5rem;

      font-size: 0.875rem;
      border-radius: 4px;

      @media screen and (max-width: 479px) {
        padding: 0.5rem 0.75rem;
        font-size: 0.8125rem;
      }
    }

    .comments__item-cancel {
      display: flex;
      align-items: center;

      width: auto;
      padding: 0.5rem 0;
      margin-right: 1rem;

      font-size: 0.8125rem;
      color: rgba($color-text, 0.5);
      transition: color 0.25s;

      &:hover {
        color: $color-primary;
      }

      @media screen and (max-width: 479px) {
        padding: 0.375rem 0;
        font-size: 0.75rem;
      }
    }

    .comments__form-text {
      display: block;
      resize: none;
      outline: none;

      width: 100%;
      height: auto;
      padding: 0.75rem 2.5rem 3.5rem 0.75rem;

      font-size: 0.875rem;

      border: solid 1px $color-primary;
      border-radius: 5px;

      &:focus {
        box-shadow: inset 0 0 0 1px $color-primary;
      }

      @media screen and (max-width: 479px) {
        padding: 0.625rem 2.5rem 3rem 0.5rem;
      }
    }

    .comments__form-badge {
      display: flex;
      flex: 0 1 auto;
      align-items: center;

      cursor: default;

      margin-right: auto;
      padding-right: 0.5rem;

      color: $color-primary;

      img {
        display: block;

        width: 1.875rem;
        height: 1.875rem;
        object-fit: cover;

        border-radius: 50%;
        box-shadow: 0 0 1px $color-black;

        &[loading] {
          visibility: hidden;
        }
      }

      span {
        display: block;

        margin-left: .875rem;
        overflow: hidden;

        font-size: 0.8125rem;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media screen and (max-width: 479px) {
          margin-left: 0.625rem;
        }
      }
    }

    .comments__form-exit {
      display: block;
      position: absolute;
      top: 0.75rem;
      right: 0.75rem;

      color: rgba($color-black, 0.375);
      transition: color 0.25s;

      &:hover {
        color: rgba($color-black, 0.5);
      }

      @media screen and (max-width: 479px) {
        right: 0.5rem;
      }
    }
  }

  .comments__item {
    display: block;
    position: relative;

    margin: 2.25rem 0;
    font-size: 0.875rem;

    .comments__item-form {
      margin: 1rem 0 1rem 3.5rem;

      .comments__form-text {
        padding-right: 0.75rem;

        @media screen and (max-width: 479px) {
          padding-right: 0.5rem;
        }
      }

      @media screen and (max-width: 1023px) {
        margin-left: 0;
      }
    }

    .comments__item-header {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;

      position: relative;
      margin-left: 3.5rem;

      @media screen and (max-width: 1023px) {
        margin-left: 2.75rem;
      }
    }

    .comments__item-name {
      display: block;
      cursor: default;

      overflow: hidden;

      font-weight: 500;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .comments__item-replied {
      display: flex;
      align-items: center;

      margin-left: 0.75rem;
      overflow: hidden;
      font-size: 0.75rem;

      white-space: nowrap;
      text-overflow: ellipsis;

      color: rgba($color-text, 0.5);
      transition: color 0.25s;

      span {
        margin-right: 0.25rem;
      }

      &:hover {
        color: $color-primary;
      }
    }

    .comments__item-time {
      display: inline-flex;

      margin-top: 0.25rem;
      margin-left: 3.5rem;
      font-size: 0.75rem;

      color: rgba($color-text, 0.5);
      transition: color 0.25s;

      &:hover {
        color: $color-primary;
      }

      @media screen and (max-width: 1023px) {
        margin-left: 2.75rem;
      }

      @media screen and (max-width: 479px) {
        font-size: 0.6875rem;
      }
    }

    .comments__item-avatar {
      display: block;
      position: absolute;

      top: 0;
      left: 0;

      width: 2.5rem;
      height: 2.5rem;

      img {
        display: block;

        width: 100%;
        height: 100%;
        object-fit: cover;

        border-radius: 50%;
        box-shadow: 0 0 1px $color-black;

        &[loading] {
          visibility: hidden;
        }
      }

      @media screen and (max-width: 1023px) {
        top: 0.25rem;

        width: 2rem;
        height: 2rem;
      }
    }

    .comments__item-warning {
      display: block;

      font-weight: 500;
      color: rgba($color-text, 0.5);
    }

    .comments__item-content {
      display: block;

      margin-top: 0.5rem;
      margin-left: 3.5rem;
      word-break: break-word;

      a {
        color: $color-primary;
        transition: filter 0.25s;

        &:hover {
          filter: brightness(120%);
        }
      }

      @media screen and (max-width: 1023px) {
        margin-left: 0;
      }
    }

    .comments__item-footer {
      display: flex;
      flex-flow: row wrap;

      margin-top: 0.75rem;
      margin-left: 3.5rem;

      & > * {
        margin: 0.25rem 0.5rem;

        @media screen and (max-width: 479px) {
          margin: 0.25rem 0.375rem;
        }
      }

      & > :last-child {
        margin-right: 0;
      }

      & > :first-child {
        margin-left: 0;
      }

      @media screen and (max-width: 1023px) {
        margin-top: 0.5rem;
        margin-left: 0;
      }
    }

    .comments__item-vote {
      display: flex;
      align-items: center;

      cursor: default;
      user-select: none;

      font-size: 0.875rem;
      color: rgba($color-text, 0.75);

      button {
        padding: 0 0.25rem;

        font-size: 1rem;
        color: rgba($color-text, 0.75);

        &:hover {
          color: $color-primary;
        }
      }

      button:last-child {
        transform: translateY(2px) rotate(180deg);
      }

      span {
        min-width: 1.25rem;
        text-align: center;
        line-height: 1;
      }

      &.comments__item-vote--plus {
        color: green;
      }

      &.comments__item-vote--minus {
        color: red;
      }

      &.comments__item-vote--voted {
        .icon--vote {
          pointer-events: none;
        }
      }

      @media screen and (max-width: 479px) {
        order: 2;
        font-size: 0.8125rem;
        margin: -2px 0 0 auto;
      }
    }

    .comments__item-button {
      display: block;

      font-size: 0.8125rem;
      color: rgba($color-text, 0.5);
      transition: color 0.25s;

      &:hover {
        color: $color-primary;
      }

      @media screen and (max-width: 479px) {
        font-size: 0.75rem;
      }
    }

    .comments__item-children {
      flex: 1 1 100%;
      margin-left: 3.5rem;

      &.comments__item-children--deepest {
        margin-left: 0;
      }

      @media screen and (max-width: 1023px) {
        margin-left: 2.5rem;
      }

      @media screen and (max-width: 767px) {
        margin-left: 1.5rem;
      }

      @media screen and (max-width: 479px) {
        margin-left: 1.25rem;
      }

      @media screen and (max-width: 359px) {
        margin-left: 0.75rem;
      }
    }

    @media screen and (max-width: 1023px) {
      margin: 2rem 0;
    }

    @media screen and (max-width: 359px) {
      margin: 1.5rem 0;
    }
  }

  .comments__expand {
    display: none;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;

    width: 100%;
    padding: 0 2rem;

    &::before {
      content: '';
      display: block;

      width: 100%;
      height: 4rem;

      background: linear-gradient(to top, $color-sheet, rgba($color-sheet, 0));
    }

    &::after {
      content: '';
      display: block;

      width: 100%;
      height: 2rem;

      background: $color-sheet;
    }

    .comments__expand-button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      padding: 0.75rem 1rem;

      font-size: 0.875rem;

      color: rgba($color-black, 0.75);
      color: $color-primary;
      background: $color-sheet;

      border: solid 1px rgba($color-black, 0.5);
      border: solid 1px $color-primary;
      border-radius: 3px;

      &:hover {
        color: $color-white;
        background: $color-primary;
      }
    }

    @media screen and (max-width: 767px) {
      padding: 0 1rem;
    }
  }

  .comments__error {
    display: block;
    cursor: default;

    margin: -1.125rem 0 0;
    padding: 0 0.125rem;
    font-size: 0.8125rem;

    color: $color-alert;
  }

  &.comments--folded {
    max-height: 64rem;

    .comments__expand {
      display: block;
    }
  }

  &.comments--expand {
    display: block;
    animation: fade-in .5s linear forwards;
  }

  @media screen and (max-width: 767px) {
    margin-top: 1rem;
    padding: 0 1rem;
  }
}