.figure {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;

  width: auto;
  max-width: 100%;

  & > * {
    max-width: 100%;
  }

  .figure__caption {
    display: block;

    width: $width-content;
    max-width: 100%;
    margin: 0 auto;
    padding-top: .75rem;

    color: $color-text;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.375;
    text-align: left;

    @media screen and (max-width: 767px) {
      padding-top: .5rem;
      font-size: .75rem;
    }
  }

  &.figure--full {
    align-items: flex-start;
  }

  &.figure--embed {
    align-items: flex-start;
    width: $width-content;

    .instagram-media {
      min-width: auto !important;
      opacity: 0;

      &.instagram-media-rendered {
        opacity: 1;
      }
    }

    .twitter-tweet {
      min-width: auto !important;
      opacity: 0;

      &.twitter-tweet-rendered {
        opacity: 1;
      }
    }
  }

  &.figure--quote {
    width: $width-content + 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 .5rem;

    blockquote {
      width: calc(100% + 2rem);
      max-width: $width-content + 2rem;

      background-color: lighten(desaturate($color-mark, 20), 10);
    }
  }

  &.figure--toc {
    width: $width-content + 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 .5rem;

    blockquote {
      width: calc(100% + 2rem);
      max-width: calc(#{$width-content} + 2rem);

      background-color: lighten(desaturate($color-mark, 20), 10);
    }

    ul, ol {
      padding-left: 1.5rem;
      list-style-position: outside;
    }

    li {
      margin-top: 1rem;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.25;

      @media screen and (max-width: 767px) {
        margin-top: .75rem;
        font-size: 1rem;
      }
    }
  }

  &.figure--inner {
    width: $width-content;

    img {
      width: 100%;
    }
  }

  &.figure--outer {
    width: calc(100% + 2rem);
    max-width: none;
    margin-left: -1rem;
    margin-right: -1rem;

    img {
      width: 100%;
    }

    .figure__caption {
      max-width: calc(100% - 2rem);
    }
  }
}
