.figure {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;

  width: auto;
  max-width: 100%;

  & > * {
    max-width: 100%;
  }

  .figure__caption {
    width: $width-content;
    max-width: 100%;
    margin: 0 auto;
    padding-top: .75rem;
    padding-bottom: .75rem;

    text-align: left;

    @media screen and (max-width: 767px) {
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
  }

  &.figure--full {
    align-items: flex-start;
  }

  &.figure--embed {
    align-items: flex-start;
    width: $width-content;

    .instagram-media {
      min-width: auto !important;
    }

    .twitter-tweet {
      min-width: auto !important;
    }
  }

  &.figure--quote {
    width: $width-content;
    margin-top: 0;
    margin-bottom: 1rem;

    blockquote {
      width: calc(100% + 2rem);
      max-width: calc(#{$width-content} + 2rem);

      background-color: lighten(desaturate($color-mark, 20), 10);
    }
  }

  &.figure--inner {
    width: $width-content;

    img {
      width: 100%;
    }
  }

  &.figure--outer {
    width: calc(100% + 2rem);
    max-width: none;
    margin-left: -1rem;
    margin-right: -1rem;

    img {
      width: 100%;
    }

    .figure__caption {
      max-width: calc(100% - 2rem);
    }
  }
}
