.figure {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;

  width: $width-content;
  max-width: 100%;

  .figure__caption {
    width: $width-content;
    max-width: 100%;
    margin: 0 auto;
    padding-top: .75rem;
    padding-bottom: .75rem;

    text-align: left;

    @media screen and (max-width: 767px) {
      padding-top: .5rem;
      padding-bottom: .5rem;
    }
  }

  &.figure--full {
    align-items: flex-start;
    width: auto;
  }

  &.figure--embed {
    align-items: flex-start;

    width: $width-content;
  }

  &.figure--quote {
    width: $width-content;

    blockquote {
      width: calc(100% + 4rem);
      max-width: calc(#{$width-content} + 4rem);
    }
  }


  &.figure--inner {
    width: $width-content;

    img {
      width: 100%;
    }
  }

  &.figure--outer {
    width: calc(100% + 2rem);
    max-width: none;
    margin-left: -1rem;
    margin-right: -1rem;

    img {
      width: 100%;
    }

    .figure__caption {
      max-width: calc(100% - 2rem);
    }
  }
}
