.figure {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  z-index: 2;

  width: auto;
  max-width: 100%;

  & > * {
    max-width: 100%;
  }

  .figure__caption {
    display: block;

    width: $width-content;
    max-width: 100%;
    margin: 0 auto;
    padding-top: .75rem;

    color: $color-text;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.375;
    text-align: left;

    @media screen and (max-width: 767px) {
      padding-top: .5rem;
      font-size: .75rem;
    }
  }

  &.figure--full {
    align-items: flex-start;

    .alignleft {
      align-self: flex-start;
    }

    .alignright {
      align-self: flex-end;
    }

    .aligncenter {
      align-self: center;
    }
  }

  &.figure--embed {
    align-items: flex-start;
    width: $width-content;

    .instagram-media {
      min-width: auto !important;
      opacity: 0;

      &.instagram-media-rendered {
        opacity: 1;
      }
    }

    .twitter-tweet {
      min-width: auto !important;
      opacity: 0;

      &.twitter-tweet-rendered {
        opacity: 1;
      }
    }

    audio {
      width: 100%;
    }

    video {
      width: 100%;
    }
  }

  &.figure--script {
    width: $width-content;
  }

  &.figure--quote {
    width: $width-content + 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 .5rem;

    blockquote {
      width: calc(100% + 2rem);
      max-width: $width-content + 2rem;

      background-color: lighten(desaturate($color-mark, 20), 10);
    }
  }

  &.figure--remark {
    width: $width-content + 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 .5rem;

    blockquote {
      width: calc(100% + 2.125rem);
      max-width: $width-content + 2.125rem;

      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.5;

      border: solid 2px $color-primary;
      border-radius: 8px;

      @media screen and (max-width: 767px) {
        font-size: 1rem;
      }
    }

    ul, ol {
      padding-left: 1rem;
    }
  }

  &.figure--toc {
    width: $width-content + 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 .5rem;

    blockquote {
      width: calc(100% + 2rem);
      max-width: calc(#{$width-content} + 2rem);

      background-color: lighten(desaturate($color-mark, 20), 10);
    }

    ul, ol {
      padding-left: 2rem;
      list-style-position: outside;

      @media screen and (max-width: 767px) {
        padding-left: 1.5rem;
      }
    }

    li {
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5;

      @media screen and (max-width: 767px) {
        margin-top: .75rem;
      }
    }

    h2 + ul, h2 + ol {
      margin-top: 1.5rem;
      padding-left: 2.5rem;

      & > li {
        font-size: 1.25rem;

        @media screen and (max-width: 767px) {
          font-size: 1rem;
        }
      }

      @media screen and (max-width: 767px) {
        margin-top: 1rem;
        padding-left: 1.5rem;
      }
    }
  }

  &.figure--inner {
    width: $width-content;

    img {
      width: 100%;
    }
  }

  &.figure--outer {
    width: calc(100% + 2rem);
    max-width: none;
    margin-left: -1rem;
    margin-right: -1rem;

    img {
      width: 100%;
    }

    .figure__caption {
      max-width: calc(100% - 2rem);
    }
  }

  &.figure--club {
    display: block;
    position: relative;

    width: $width-content;
    max-width: 100%;

    .button {
      margin: 0;

      color: $color-white;
      background-color: $color-club;

      &:hover {
        filter: brightness(125%);
      }
    }
  }

  &.figure--card {
    width: calc(100% + 2rem);
    max-width: none;
    margin: 0 -1rem;
    padding: 2rem 1rem;

    background-color: lighten(desaturate($color-mark, 20), 10);

    &:first-child {
      margin-top: -3rem;
    }

    &:last-child {
      margin-bottom: -3rem;
    }

    @media screen and (max-width: 767px) {
      margin: -1.5rem -1rem;
      padding: .5rem 1rem;

      &:first-child {
        margin-top: -1.5rem;
      }

      &:last-child {
        margin-bottom: -1.5rem;
      }
    }
  }

  &.figure--similar {
    display: block;
    cursor: default;

    width: #{$width-content + 2rem};
    overflow: hidden;
    background: $color-white;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .25);

    border-radius: 3px;

    @for $i from 1 through 4 {
      h#{$i} {
        @extend .head;
        margin-bottom: 0;
      }
    }

    p {
      display: block;
      position: relative;

      padding: 1rem;

      border-bottom: solid 1px rgba(100, 100, 100, .125);

      a {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.25;

        color: $color-primary;

        &:after {
          content: '';
          @include full-size();
        }

        @media screen and (max-width: 767px) {
          font-size: 1rem;
        }
      }

      em {
        font-family: $font-serif;
        font-weight: 400;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &.figure--stretch {
    width: 100%;
  }

  &.figure--flipper {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    cursor: pointer;

    transition: .5s transform;
    transform-style: preserve-3d;

    & + .figure--flipper {
      margin-top: -1rem;

      @media screen and (max-width: 767px) {
        margin-top: 0;
      }
    }

    aside {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;

      user-select: none;
      position: relative;
      z-index: 4;

      min-width: 100%;
      padding: 1.5rem 3rem;
      overflow: hidden;

      font-size: 1.375rem;
      font-weight: 500;
      line-height: 1.25;

      backface-visibility: hidden;
      background-color: $color-white;
      box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .25);

      border-radius: 6px;

      & > * {
        margin-bottom: 1rem;
      }

      & > :first-child {
        margin-top: 0;
      }

      & > :last-child {
        margin-bottom: 0;
      }

      &:last-child {
        transform: rotateX(180deg) translateX(-100%);
      }

      @media screen and (max-width: 767px) {
        padding: 1.5rem;
        font-size: 1.25rem;
      }

      @media screen and (max-width: 479px) {
        font-size: 1.125rem;
      }
    }

    @for $i from 1 through 4 {
      h#{$i} {
        margin-top: 0;
        line-height: 1;
      }
    }

    h2 {
      font-size: 4rem;

      @media screen and (max-width: 767px) {
        font-size: 3.5rem;
      }

      @media screen and (max-width: 479px) {
        font-size: 3rem;
      }
    }

    h3 {
      font-size: 2rem;

      @media screen and (max-width: 767px) {
        font-size: 1.75rem;
      }

      @media screen and (max-width: 479px) {
        font-size: 1.5rem;
      }
    }

    h5 {
      width: 100%;

      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      color: lighten($color-text, 70);

      &:before {
        content: '';
        display: block;

        width: 75%;
        margin: 1rem 0;
        transform: translateX(15%);

        border-top: solid 1px rgba($color-text, .5);

        @media screen and (max-width: 479px) {
          margin-top: 0.5rem;
        }
      }

      @media screen and (max-width: 767px) {
        font-size: .875rem;
      }

      @media screen and (max-width: 479px) {
        font-size: .8125rem;
      }
    }

    &.figure--rotate {
      transform: rotateX(-180deg);
    }
  }

  &.figure--source {
    display: block;
    position: relative;

    width: $width-content;
    max-width: 100%;

    .button {
      display: flex;
      align-items: center;
      position: relative;

      width: 100%;
      margin: 0;
      height: 3.25rem;
      padding: 0 1.5rem;

      text-align: left;
      text-transform: uppercase;

      font-size: 1rem;
      font-weight: 500;

      border: solid 1px $color-white;
      border-radius: .5rem;

      &:before {
        content: attr(data-before);
        display: flex;
        align-items: center;

        height: 100%;
        margin-right: 1.5rem;
        padding-right: 1.5rem;

        font-size: .75rem;

        border-right: solid 2px $color-white;

        @media screen and (max-width: 767px) {
          height: auto;
          margin: 0 0 .25rem;
          border-right: 0;
        }

        @media screen and (max-width: 479px) {
          font-size: .625rem;
        }
      }

      @media screen and (max-width: 767px) {
        display: block;

        height: auto;
        padding: .75rem 1rem;

        line-height: 1.375;
      }

      @media screen and (max-width: 479px) {
        font-size: .875rem;
      }
    }
  }

  &.figure--promo {
    display: block;
    position: relative;

    width: $width-content;
    max-width: 100%;

    .button {
      margin: 0;

      color: $color-white;
      background-color: $color-primary;

      &:hover {
        filter: brightness(125%);
      }
    }
  }

  &.figure--frame {
    display: block;
    position: relative;

    .button {
      display: inline-block;

      width: auto;

      color: $color-white;
      background-color: $color-primary;

      border-radius: 4px;

      &:hover {
        filter: brightness(125%);
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 1rem;
      }
    }

    iframe {
      display: block;
      position: relative;

      width: 100%;
      margin: 0;
      overflow: hidden;
    }
  }
}
