.form {
  display: block;
  position: relative;

  width: 100%;
  margin-top: 2.5rem;

  .entry-content & {
    width: $width-content + 4rem;
    max-width: 100%;
    margin: 2.5rem auto 0;
    padding: 1.5rem 0;

    background-color: $color-layer;

    -webkit-font-smoothing: antialiased;

    & > * {
      max-width: 100%;
      width: $width-content;
      margin: .75rem auto 0;
    }

    & > :first-child {
      margin-top: 0;
    }

    @media screen and (max-width: 767px) {
      margin-top: 1.5rem;
      padding: 1rem;
    }
  }

  .form__heading {
    display: block;
    position: relative;

    margin-top: 0;
    font-weight: 700;
  }

  .form__field {
    display: block;
    position: relative;

    .form__field-input {
      display: block;
      outline: none;
      appearance: none;

      width: 100%;
      padding: .625rem .75rem;

      font-size: 1rem;
      line-height: 1.5;

      background-color: $color-white;

      border: solid 1px darken($color-white, 10);
      border-radius: 2px;

      &::placeholder {
        color: darken($color-white, 25);
      }

      @media screen and (max-width: 767px) {
        font-size: .9375rem;
      }
    }

    .form__field-textarea {
      display: block;
      outline: none;
      appearance: none;
      resize: vertical;

      width: 100%;
      height: 10rem;
      min-height: 4.25rem;
      padding: .625rem .75rem;

      font-size: 1rem;
      line-height: 1.5;

      background-color: $color-white;

      border: solid 1px darken($color-white, 10);
      border-radius: 2px;

      &::placeholder {
        color: darken($color-white, 25);
      }

      @media screen and (max-width: 767px) {
        font-size: .9375rem;
      }
    }
  }

  .form__control {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    animation: fade-in .5s forwards;

    .form__control-button {
      flex: 0 0 auto;

      min-width: 0;
      width: 12.5rem;
      margin: 0 0 0 1rem;

      font-size: 1rem;
      font-weight: 500;

      color: $color-white;
      background-color: $color-primary;
      box-shadow: none;

      &:hover {
        filter: brightness(125%);
      }

      @media screen and (max-width: 767px) {
        flex: 0 0 100%;
        order: -1;

        margin-left: 0;
        margin-bottom: 1rem;
        padding: 1rem;
      }
    }

    .form__control-loader {
      display: flex;
      visibility: hidden;

      opacity: 0;
      line-height: 1rem;

      transition: opacity .25s;

      &.icon--loop {
        visibility: visible;

        color: $color-black;
        opacity: 1;
        animation: rotate .75s linear infinite;
      }

      &.icon--alert {
        visibility: visible;

        color: $color-alert;
        opacity: 1;
      }

      &.icon--done {
        visibility: visible;

        color: $color-success;
        opacity: 1;
      }
    }

    .form__control-notice {
      display: flex;
      flex: 1;
      cursor: default;

      margin-left: .5rem;

      font-size: .875rem;
      line-height: 1rem;
      color: $color-text;
    }

    @media screen and (max-width: 767px) {
      flex-flow: row wrap;
    }
  }

  &.form--fold {
    .form__field, .form__control {
      display: none;
    }

    .form__field:first-of-type {
      display: block;
    }
  }

  &.form--club {
    .form__field-textarea {
      height: 20rem;
    }

    .form__control-button {
      background-color: $color-club;
    }
  }
}
