.glide {
  position: relative;
  width: 100%;

  .glide__track {
    overflow: hidden;
  }

  .glide__slides {
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
    position: relative;

    width: 100%;
    padding: 0;

    backface-visibility: hidden;
    transform-style: preserve-3d;
    overflow: hidden;
    white-space: nowrap;

    touch-action: pan-Y;

    .glide__slides--dragging {
      user-select: none;
    }
  }

  .glide__slide {
    flex-shrink: 0;

    width: 100%;
    height: 100%;
    white-space: initial;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

    a {
      user-select: none;
    }
  }

  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none;
  }

  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none;
  }

  .glide--rtl {
    direction: rtl;
  }
}
