.head {
  display: flex;
  align-items: center;
  cursor: default;

  height: 2rem;
  padding: 0 1.25rem;

  font-size: .5625rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-white;
  background-color: $color-primary;

  @at-root a#{&} {
    cursor: pointer;

    &:hover {
      filter: brightness(120%);
    }
  }
}
