.horror {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 8;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 4rem 0;
  opacity: 0;

  transform: translate3d(0);
  will-change: transform;

  background: radial-gradient(ellipse at center, #262b34 0%, #090b0e 100%);
  animation: fade-in 0.25s forwards;

  &.horror--hide {
    animation: fade-out 0.25s forwards;
  }

  .horror__inner {
    display: block;
    position: relative;

    width: 55rem;
    max-width: calc(100% - 4rem);
    margin: 0 auto;
    padding: 4rem 2rem;

    background-color: #111118;
    border-radius: 0.5rem;

    p {
      display: block;

      max-width: 35rem;
      margin: 0 auto;
      font-size: 1.5rem;
      text-align: center;

      @media screen and (max-width: 767px) {
        font-size: 1.25rem;
      }

      @media screen and (max-width: 479px) {
        font-size: 1.125rem;
      }
    }

    button {
      display: block;

      margin: 1.5rem auto 0;
      padding: 0.5rem 2.5rem;
      font-size: 2.25rem;
      text-transform: uppercase;

      color: #EED462;
      border: solid 1px;
      border-radius: 2.5rem;

      transition: filter 0.25s;

      &:hover {
        filter: brightness(120%);
      }

      @media screen and (max-width: 767px) {
        font-size: 1.75rem;
      }

      @media screen and (max-width: 479px) {
        font-size: 1.375rem;
      }
    }

    @media screen and (max-width: 767px) {
      max-width: calc(100% - 2rem);
      padding: 2rem 1rem;
    }
  }

  .horror__stars {
    position: absolute;
    top: 0;
    left: 0;

    width: 1px;
    height: 1px;
    opacity: 0.5;

    background: transparent;
    box-shadow: multiple-box-shadow(400);

    will-change: transform;

    &.horror__stars--small {
      width: 1px;
      height: 1px;
      box-shadow: multiple-box-shadow(400);
      animation: horror-stars 50s linear infinite;
    }

    &.horror__stars--medium {
      width: 2px;
      height: 2px;
      box-shadow: multiple-box-shadow(200);
      animation: horror-stars 100s linear infinite;
    }

    &.horror__stars--large {
      width: 3px;
      height: 3px;
      box-shadow: multiple-box-shadow(75);
      animation: horror-stars 150s linear infinite;
    }

    @media (prefers-reduced-motion) {
      display: none;
    }
  }
}

#stars2 {
  position: absolute;
  top: 0;
  left: 0;

  width: 2px;
  height: 2px;
  opacity: 0.5;

  background: transparent;
  box-shadow: multiple-box-shadow(200);


  will-change: transform;
}
#stars3 {
  position: absolute;
  top: 0;
  left: 0;

  width: 3px;
  height: 3px;
  opacity: 0.5;

  background: transparent;
  box-shadow: multiple-box-shadow(75);
  animation: horror-stars 150s linear infinite;

  will-change: transform;
}