.info {
  display: flex;
  width: 100%;

  .info__wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    min-height: 2rem;
    font-size: .8125rem;
    font-weight: 500;
    letter-spacing: .25px;

    color: $color-primary;

    .meta {
      margin: .375rem 0;
    }
  }
}
