.label {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  height: 1rem;
  font-size: 1.25rem;
  line-height: 1;

  .label__link {
    display: block;
    position: relative;
    cursor: pointer;

    margin-left: .25rem;

    @media screen and (max-width: 1023px) {
      margin-left: .5rem;
    }
  }
}
