.login {
  @include popup-center(20);
  background: rgba($color-black, .75);


  .login__popup {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;

    width: 30rem;
    margin: 1rem;
    padding: 1.25rem;

    color: $color-text;
    background-color: $color-white;

    border-radius: 4px;

    animation: upswing .25s ease-out;

    .login__popup-button {
      display: flex;
      align-items: center;

      width: calc(50% - 0.5rem);
      margin: 0.5rem 0;
      padding: 0.75rem 1rem;

      font-size: 0.875rem;

      border: 1px solid rgba($color-black, .25);
      border-radius: 3px;

      color: $color-white;

      .icon {
        display: block;
        order: -1;

        margin-right: 0.75rem;
        font-size: 1.25rem;
      }

      &.login__popup-button--vkontakte {
        background-color: #5186bd;
      }

      &.login__popup-button--facebook {
        background-color: #3b5998;
      }

      &.login__popup-button--google {
        background-color: #4285F4;
      }

      &.login__popup-button--yandex {
        background-color: #e61400;
      }

      &:hover {
        filter: brightness(120%);
      }

      @media screen and (max-width: 479px) {
        width: 100%;
      }
    }

    .login__popup-heading {
      display: block;
      cursor: default;

      width: 100%;
      margin-bottom: 0.5rem;
      padding-right: 1rem;

      font-size: 1.25rem;
      font-weight: 500;

      @media screen and (max-width: 479px) {
        font-size: 1.125rem;
      }
    }

    .login__popup-helper {
      display: block;
      cursor: default;

      width: 100%;
      margin-bottom: 1rem;
      font-size: 0.875rem;
    }

    .login__popup-policy {
      display: block;
      cursor: default;

      width: 100%;
      margin-top: 1rem;
      font-size: 0.8125rem;

      color: lighten($color-text, 35);

      a {
        color: $color-primary;
        transition: filter 0.25s;

        &:hover {
          filter: brightness(120%);
        }
      }
    }

    .login__popup-close {
      @include cross-button(1rem);

      position: absolute;
      top: 1rem;
      right: 1rem;

      width: 1.25rem;
      height: 1.25rem;

      transition: filter 0.25s;

      &:hover {
        filter: brightness(150%);
      }

      @media screen and (max-width: 479px) {
        top: 0.5rem;
        right: 0.5rem;
      }
    }

    @media screen and (max-width: 479px) {
      padding: 0.75rem;
    }
  }
}