.menu {
    .menu__item {
      padding: 0 .75rem;

      &.outline {
        padding: 0 .5rem;

        .topline__menu-link {
          padding: .25rem .5rem .375rem;
          color: $color-primary;

          border: solid 1px $color-primary;
          border-radius: 3px;

          @media screen and (max-width: 1023px) {
            padding: .875rem 1rem;
            color: $color-white;

            border: none;
          }
        }

        @media screen and (max-width: 1023px) {
          padding: 0;
        }
      }

      &.bright {
        padding: 0 .5rem;

        &:before {
          content: '';
          width: 100%;
        }

        .topline__menu-link {
          padding: .25rem .5rem .375rem;

          color: $color-white;
          background-color: $color-club;

          border: solid 1px $color-club;
          border-radius: 3px;

          &:hover {
            filter: brightness(120%);
          }
        }

        @media screen and (max-width: 1023px) {
          padding: 0;
        }
      }

      @media screen and (max-width: 1199px) {
        padding: 0 .5rem;
      }

      @media screen and (max-width: 1023px) {
        margin: .5rem .25rem;
      }
    }

    .menu__item-link {
      display: block;

      font-size: 1.125rem;
      line-height: 1.25rem;
      font-weight: 500;
      text-decoration: none;

      @media screen and (max-width: 1199px) {
        font-size: 1rem;
      }

      @media screen and (max-width: 1023px) {
        color: $color-white;

        &:hover {
          color: $color-white;
        }
      }
    }
}
