.meta {
  display: block;

  color: $color-primary;
  font-size: .8125rem;
  font-weight: 500;
  letter-spacing: .25px;

  & > * {
    display: inline-block;
    white-space: nowrap;

    &:after {
      content: "•";
      display: inline-block;

      margin-left: .5rem;
      margin-right: .5rem;

      font-size: .75em;
    }

    &:last-child:after {
      display: none;
    }
  }

  .meta__link {
    cursor: pointer;
    border-bottom: none;

    &:hover {
      filter: brightness(150%);
    }
  }

  .meta__item {
    cursor: default;
  }

  .meta__club {
    padding: .125rem .375rem;
    color: $color-white;
    background-color: $color-club;

    border-radius: 3px;

    &:hover {
      filter: brightness(120%);
    }
  }

  .meta__promo {
    cursor: default;

    padding: .125rem .375rem;
    color: $color-white;
    background-color: #3b577c;

    border-radius: 3px;
  }

  .meta__emoji {
    cursor: default;

    &:after {
      display: none;
    }
  }
}
