.meta {
  color: $color-primary;
  font-size: .8125rem;
  font-weight: 500;
  letter-spacing: .25px;

  .meta__link {
    display: inline-block;
    cursor: pointer;

    &:after {
      content: "•";
      display: inline-block;

      margin-left: .5rem;
      margin-right: .5rem;

      font-size: .5625rem;
    }

    &:last-child {
      flex: 1;
    }

    &:last-child:after {
      display: none;
    }

    &:hover {
      filter: brightness(150%);
    }

    &.meta__link--club {
      position: absolute;

      padding: .125rem .375rem;
      color: $color-white;
      background-color: $color-club;
      transform: translateY(-.125rem);

      border-radius: 3px;

      &:hover {
        filter: brightness(120%);
      }
    }
  }

  .meta__item {
    display: inline-block;
    cursor: default;

    &:after {
      content: "•";
      display: inline-block;

      margin-left: .5rem;
      margin-right: .5rem;

      font-size: .5625rem;
    }

    &:last-child:after {
      display: none;
    }
  }
}
