.promo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  cursor: default;

  min-height: 2.5rem;
  margin-top: 1rem;
  padding: .25rem 0;
  padding-left: calc(50% - #{$width-content / 2} - 1rem);
  overflow: hidden;

  .promo__text {
    display: block;

    margin: 0 1rem;
    margin-right: 1.25rem;
    padding: .25rem 0;

    font-size: .625rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }

  .promo__partner {
    display: flex;
    align-items: center;
    flex-flow: row wrap;

    padding: 0 1rem;
    margin-left: 1rem;
    margin-left: -1px;

    border-left: solid 1px;

    .promo__partner-title {
      display: block;

      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.25;
      text-transform: uppercase;
    }

    .promo__partner-logo {
      display: block;

      width: auto;
      max-height: 1.5rem;
      margin: 0.25rem 0;
      margin-right: 1rem;
    }
  }

  &.promo--logo {
    .promo__text {
      margin-right: 0;
    }

    .promo__partner {
      margin-left: 0;
      border-left: none;
    }
  }

  @at-root #{selector-unify(&, a)} {
    cursor: pointer;

    &:hover {
      filter: brightness(120%);
    }
  }
}
