.promo {
  display: block;
  position: relative;

  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.375;
  text-decoration: none;

  will-change: transform;
  -webkit-font-smoothing: antialiased;

  &:hover {
    filter: brightness(120%);
  }

  .entry-content & {
    margin-top: 2rem;

    color: $color-white;
    background-color: $color-primary;

    border-bottom: none;
    border-radius: 3px;
  }

  &.promo--club {
    color: $color-text;
    background-color: $color-club;
  }

  &.promo--news {
    padding-right: 6rem;

    color: $color-white;
    background-color: #f33;
    background-image: url('images/yandex-news-button.svg');
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    background-position: right 2rem center;
  }

  &.promo--skyeng {
    padding-right: 7rem;
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 1.25;

    color: $color-white;
    background: linear-gradient(to bottom, #3f76ea 0%, #3e71e0 100%);

    strong {
      display: block;

      font-weight: 700;
    }

    img {
      position: absolute;
      top: 2rem;
      right: 2rem;

      width: 60px;
      height: auto;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
      line-height: 1.375;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 1rem;
    font-size: 1.125rem;
  }
}
