.reference {
  display: block;
  position: absolute;
  left: calc(95% - 18.75rem);
  z-index: 3;

  &:before {
    content: '';

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
  }

  .reference__content {
    display: block;
    position: relative;

    width: 18.75rem;
    height: auto;
    padding: 1rem 1.5rem 1rem 1rem;

    font-size: 0.875rem;
    line-height: 1.5;

    color: $color-text;
    background-color: lighten(desaturate($color-mark, 20), 10);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .2);

    border-radius: 3px;

    animation: upswing .25s ease-out;


    @for $i from 1 through 6 {
      h#{$i} {
        margin: 0 0 .5rem;
        font-size: .9375rem;
        font-weight: 700;
      }
    }

    a {
      color: $color-primary;
      border-bottom: solid 1px;

      &:hover {
        border-bottom-color: transparent;
      }
    }

    strong {
      font-weight: 700;
    }

    @media screen and (max-width: 1023px) {
      position: absolute;
      bottom: -0.5rem;
      left: 50%;

      width: calc(100% - 2rem);
      max-width: 30rem;
      padding-bottom: 2.5rem;
      transform: translateX(-50%);

      animation: fade-in .25s ease-out;
    }
  }

  .reference__content-close {
    display: block;
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;

    width: 1rem;
    height: 1rem;

    @include cross-button(.75rem);

    &:hover {
      opacity: .85;
    }
  }

  &.reference--push {
    left: calc(50% + 12rem);

    @media screen and (max-width: 1023px) {
      left: 0;
    }
  }

  @media screen and (max-width: 1023px) {
    position: fixed;
    top: auto !important;
    left: 0;
    bottom: 0;

    height: 100%;
    width: 100%;

    &:before {
      height: calc(100% + 100px);
      transform: translateY(-100px);
      background-color: rgba(0, 0, 0, .75);
    }
  }
}
