.scroller {
  display: none;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 2.5rem;
  left: 2.5rem;
  z-index: 10;

  width: 4rem;
  height: 4rem;
  font-size: 1.25rem;

  color: #999;

  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.25rem;

  transform: rotate(90deg);
  transition: opacity 0.125s;

  span {
    position: absolute;

    visibility: hidden;
    opacity: 0;
  }

  &.scroller--visible {
    display: flex;
  }
}