.share {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  user-select: none;

  .share__link {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    position: relative;

    margin-right: .75rem;
    padding: .375rem .5rem;
    color: $color-white;
    background: $color-black;

    border-radius: 2px;

    .icon {
      font-size: 1.25rem;
    }

    &.share__link--vkontakte {
      background-color: #5186bd;
    }

    &.share__link--facebook {
      background-color: #3b5998;
    }

    &.share__link--twitter {
      background-color: #1da1f2;
    }

    &.share__link--telegram {
      background-color: #0088cc;
    }

    &:after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      filter: brightness(120%);
    }
  }

  .share__count {
    margin-left: auto;
    padding-left: .5rem;

    font-size: .875rem;
    font-weight: 400;
    line-height: 1rem;

    border-left: 1px solid rgba(255,255,255,.5);

    .share__count {
      margin-left: .5rem;
    }
  }

  .share__text {
    margin-left: .25rem;
    padding: 0 .5rem;
    font-size: .875rem;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1rem;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
