.social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  .social__item {
    display: block;

    margin: 0 .75rem;

    .social__item-link {
      display: block;

      font-size: 1.125em;
      line-height: 1;
      color: inherit;

      transition: none;

      .icon {
        display: block;

        transition: .25s;

        &.icon--facebook:hover {
          color: #3b5998;
        }

        &.icon--vkontakte:hover {
          color: #5186bd;
        }

        &.icon--twitter:hover {
          color: #1da1f2;
        }

        &.icon--telegram:hover {
          color: #0088cc;
        }
      }
    }

    @media screen and (max-width: 1023px) {
      margin: 0 1rem;
      font-size: 1.25rem;
    }

    @media screen and (max-width: 767px) {
      margin: 0 .75rem;
      font-size: 1.125rem;
    }
  }
}
