.tagline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: default;

  min-height: 2.5rem;
  padding: .25rem 1rem;
  overflow: hidden;

  color: $color-text;
  background-color: $color-white;

  .tagline__text {
    display: block;

    margin: 0 1rem;
    margin-right: 1.25rem;
    padding: .25rem 0;

    font-size: .625rem;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
  }

  .tagline__name {
    display: block;

    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25;
    text-transform: uppercase;
  }

  .tagline__partner {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    padding: 0 1rem;
    margin-left: 1rem;
    margin-left: -1px;

    border-left: solid 1px;

    .tagline__partner-title {
      display: block;

      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.25;
      text-transform: uppercase;
    }

    .tagline__partner-logo {
      display: block;

      width: auto;
      max-height: 1.5rem;
      margin: 0.25rem 0;
      margin-right: 1rem;
    }
  }

  &.tagline--logo {
    justify-content: flex-start;
    padding-left: calc(50% - $width-content / 2 - 1rem);

    .tagline__text {
      margin-right: 0;
    }

    .tagline__partner {
      margin-left: 0;
      border-left: none;
    }
  }

  &.tagline--title {
    justify-content: flex-start;
    padding-left: calc(50% - $width-content / 2 - 1rem);
  }

  @at-root #{selector-unify(&, a)} {
    cursor: pointer;

    &:hover {
      filter: brightness(120%);
    }
  }
}
