.tags {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  .tags__link {
    display: inline;

    margin-right: 2rem;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: .25px;

    &:before {
      content: "#";

      padding-right: .125rem;
      font-size: 1rem;
      color: rgba(0, 0, 0, .9);
    }

    em {
      font-family: $font-serif;
      font-weight: 400;
    }

    @media screen and (max-width: 479px) {
      margin-right: 1.5rem;
      font-size: 1rem;
    }
  }

  .tags__item {
    display: block;

    width: 100%;
    margin-top: 2px;
    padding: 1rem 2rem;

    background-color: $color-sheet;
  }
}
