$color-black: #000;
$color-white: #fff;

$color-text: #111;
$color-primary: #1e488f;
$color-sheet: #faf9f3;
$color-accent: #8bb847;
$color-special: #6aa535;
$color-feature: #a7397d;
$color-light: #2f72e1;

$color-title-start: #fbcb34;
$color-title-finish: #ed4f71;
$color-author-start: #7ce568;
$color-author-finish: #67e3d6;

$font-regular: "Formular", "Helvetica Neue Light", "Arial", sans-serif;


body {
  display: block;

  color: $color-white;
  background-color: $color-black;
  line-height: 1.4;
  font-weight: normal;
  font-family: $font-regular;

  &.body--search {
    overflow: hidden;

    .wrap {
      filter: blur(1.5px);
    }

    .footer {
      filter: blur(1.5px);
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: .2s;

  cursor: pointer;
  outline: none;

  &:hover {
    color: $color-primary;
  }
}

button {
  background-color: transparent;

  outline: none;
}

input {
  background-color: transparent;

  outline: none;
}

time {
  cursor: default;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: silver;
}

::placeholder {
  color: grey;
}

h1, h2, h3 {
  font-weight: 600;
}
