#knife-authors-box {
  display: block;
  position: relative;

  width: 400px;
  padding-top: 5px;
  max-width: 100%;
}

#knife-authors-box .authors-input {
  display: block;
  width: 100%;
}

#knife-authors-box .authors-item {
  display: block;
  position: relative;
  cursor: default;

  margin: 15px 0 0;
  padding-left: 25px;
  font-weight: 600;
}

#knife-authors-box .authors-delete {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

#knife-authors-box .authors-delete:before {
    content: "\f153";
    display: block;

    height: 20px;
    width: 20px;

    color: #0073aa;
    font: normal 16px/20px dashicons;
    text-align: center;
    -webkit-font-smoothing: antialiased;

    border-radius: 50%;
}

.knife-authors-suggest {
    display: none;
    position: absolute;
    z-index: 10000;

    width: 246px;
    margin: 0 3px;
    padding: 0;
    overflow: hidden;

    list-style: none;
    background-color: #fff;

    border: 1px solid #007cba;
}

.knife-authors-suggest li {
    margin: 0;
    padding: 5px 10px;
    white-space: nowrap;
    text-align: left;
}

.knife-authors-suggest li b {
  display: none;
}

.knife-authors-select {
    cursor: pointer;

    background-color: #0073aa;
    color: #fff;
}
