#knife-term-background {
	width: 95%;
}

#knife-term-background .knife-image {
	width: 50%;
	max-width: 100%;
	margin: 10px 0;
}

#knife-term-background .knife-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 50%;
}

#knife-term-background .knife-size {
	display: none;
}

#knife-term-background .knife-delete {
	display: none;
}

#knife-term-background select {
	width: 50%;
	margin-top: 10px;
}


@media screen and (max-width: 782px) {
	#knife-term-background {
	    width: 100%;
	}

	#knife-term-background .knife-image {
		width: 100%;
	}

	#knife-term-background .knife-actions {
		width: 100%;
	}

	#knife-term-background select {
		width: 100%;
	}
}
