#knife-generator-box .box {
  display: block;
}

#knife-generator-box .box--manage {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: -6px -12px 15px -12px;
  padding: 0 15px;
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

#knife-generator-box .box--items {
  display: none;

  margin: 0;
  padding: 0;
}

#knife-generator-box .box--expand {
  display: block;
}

#knife-generator-box .box--actions {
  margin-top: 15px;
}

#knife-generator-box .manage {
  box-sizing: border-box;
}

#knife-generator-box .manage--colors {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 360px;
  max-width: 100%;
  margin: 10px 0;
}

#knife-generator-box .manage--layers {
  display: block;

  width: 100%;
  margin-top: 10px;
}

#knife-generator-box .manage--general {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  align-items: flex-start;
  flex: 1 1 400px;

  margin: 10px 30px 10px 0;
}

@media screen and (max-width: 1023px) {
  #knife-generator-box .manage--general {
    flex: 1 1 100%;
  }
}

#knife-generator-box .manage__title {
    display: block;

    width: 100%;
    margin: auto 0 10px;
    font-size: 13px;
    font-weight: 600;
    color: #333;
  }
    #knife-generator-box .manage__title:first-child {
      margin-top: 0;
    }

  #knife-generator-box .manage__check {
    display: block;
    margin: 0 0 12px;
  }
    #knife-generator-box .manage__check label {
      user-select: none;
    }

    #knife-generator-box .manage__check input[type="checkbox"] {
      margin-right: 8px;
    }

  #knife-generator-box .manage__input {
    display: block;
    width: 100%;
    margin: 0 0 10px;
  }
    #knife-generator-box .manage__input:last-child {
      margin-bottom: 0;
    }

    #knife-generator-box .manage__input strong {
      display: block;
      margin-bottom: 4px;
    }

    #knife-generator-box .manage__input input {
      display: block;
      width: 80%;
    }

    @media screen and (max-width: 782px) {
      #knife-generator-box .manage__input input {
        width: 100%;
      }
    }

#knife-generator-box .manage__color {
  display: block;
  width: 50%;
  margin: 5px 0 0;
}

@media screen and (max-width: 479px) {
  #knife-generator-box .manage__color {
    width: 100%;
  }
}

#knife-generator-box .manage__option > p {
  display: block;
  margin: 4px 0;
}

#knife-generator-box .manage__option label {
  display: block;
  margin: 8px 0;
}

#knife-generator-box .manage__option input[type="checkbox"] {
  margin-right: 8px;
}

#knife-generator-box .manage__color > p {
  display: block;
  margin: 4px 0;
}

#knife-generator-box .wp-picker-holder {
  position: absolute;
  z-index: 100;
}


#knife-generator-box .manage__option input[type="text"] {
  display: block;

  width: 100%;
}

#knife-generator-box .item {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  box-sizing: border-box;

  width: 100%;
  margin: 15px 0 0;
  background: #f5f5f5;

  border: 1px solid #ddd;
  border-radius: 3px;
}
  #knife-generator-box .item:first-child {
    display: none;
  }

#knife-generator-box .item__text {
  display: flex;
  flex: 1 1 320px;
  flex-flow: column wrap;

  margin: 10px;
}
  #knife-generator-box .item--blank .item__text {
    margin-right: 30px;
  }

  #knife-generator-box .item__text:last-child {
    flex: 1;
    margin-bottom: 0;
  }

  @media screen and (max-width: 1023px) {
    #knife-generator-box .item__text {
      flex: 1 1 100%;
    }
  }

#knife-generator-box .item__image {
  display: block;
  flex: 0 1 300px;

  margin: 10px;
}
  @media screen and (max-width: 782px) {
    #knife-generator-box .result__image {
      flex: 1 1 100%;
    }
  }

  #knife-generator-box .item--blank .item__image {
    display: none;
  }

#knife-generator-box .item__delete {
  position: absolute;
  right: 5px;
  bottom: 10px;
  cursor: pointer;

  font-size: 18px;
  line-height: 1;
  color: #a00;
}

#knife-generator-box .item__text-heading {
  display: flex;
  flex-flow: column wrap;

  margin: 0;
}

#knife-generator-box .item__text-heading strong {
  display: block;
  margin-bottom: 5px;
}

#knife-generator-box .item__text-heading input {
  display: block;
  width: 100%;
}

#knife-generator-box .item__text-description {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 auto;

  margin: 10px 0 0;
}

#knife-generator-box .item__text-description strong {
  display: block;
  margin-bottom: 5px;
}

#knife-generator-box .item__text-description textarea {
  display: block;
  flex: 1;

  width: 100%;
  min-height: 100px;
}

#knife-generator-box .item__image-poster {
  display: flex;
  position: relative;
  cursor: pointer;

  width: 300px;
  max-width: 100%;
  margin: 0 0 8px;
  padding-top: 52.5%;
  overflow: hidden;

  border-radius: 3px;
}
@media screen and (max-width: 1023px) {
  #knife-generator-box .item__image-poster {
    width: 100%;
  }
}

#knife-generator-box .item__image-poster img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

#knife-generator-box .item__image-footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
}

#knife-generator-box .item__image-generate {
  margin-right: 10px;
}

  #knife-generator-box .item__image-settings {
    margin-right: 10px;
  }

  #knife-generator-box .item__image-template {
    display: block;

    width: 100%;
    margin: 0 0 8px;
  }

  #knife-generator-box .item__image-spinner {
    float: none;
    margin: 0;
  }

  #knife-generator-box .item__image-warning {
    display: none;
    position: relative;
    box-sizing: border-box;

    width: 100%;
    margin: 12px 0;
    padding: 10px;

    color: #a00;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);

    border-left: 3px solid;
  }

#knife-generator-box .item__image-caption {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;

  width: calc(100% - 4px);
  height: calc(100% - 4px);

  text-align: center;
  font-size: 48px;
  font-weight: 300;
  color: #ccc;
  transition: border .25s;

  border: dashed 2px #ddd;
}
  #knife-generator-box .item__image-caption--error {
    border-color: #a00;
  }

#knife-generator-box .item__image-caption:hover {
  border-color: #0073aa;
}

#knife-generator-box img + .item__image-caption {
  z-index: 1;

  width: 100%;
  height: 100%;

  text-indent: -9999rem;

  border: none;
}

