/**
 * Box styles
 */
#knife-quiz-box .box {
  display: block;
}

#knife-quiz-box .box--manage {
  margin: -6px -12px 0;
  padding: 15px;
  background: #f5f5f5;

  border-bottom: 1px solid #ddd;
}

#knife-quiz-box .box--items {
  margin: 0;
  padding: 0;
}

#knife-quiz-box .box--results {
  margin: 15px -12px -12px;
  padding: 15px;
  background: #f5f5f5;

  border-top: 1px solid #ddd;
}


/**
 * Item styles
 */
#knife-quiz-box .item {
  display: block;
  position: relative;
  box-sizing: border-box;

  width: 100%;
  margin: 15px 0;
  padding: 0 10px;
  background: #f5f5f5;

  border: 1px solid #ddd;
  border-radius: 3px;
}


/**
 * Item question
 */
#knife-quiz-box .question {
  display: block;
  position: relative;
  box-sizing: border-box;

  width: 100%;
  margin: 10px 0;
}
  #knife-quiz-box .question__title {
    display: block;

    width: 100%;
    margin: 0 0 10px;
    font-size: 13px;
    font-weight: 600;
    color: #000;
  }

  #knife-quiz-box .question__field {
    display: block;

    width: 100%;
    height: 122px;
    min-height: 122px;
  }

  #knife-quiz-box .question .mce-edit-area {
    padding: 2px 0 3px;
  }


/**
 * Item answer
 */
#knife-quiz-box .answer {
  display: block;
  position: relative;

  margin: 10px 0;
  padding: 5px 30px 10px 10px;
  background-color: #e5e5e5;

  border: solid 1px #ccc;
  border-radius: 2px;
}
  #knife-quiz-box .answer__choice {
    display: block;
    position: relative;

    min-height: 40px;
    margin: 0 0 15px;
  }

  #knife-quiz-box .answer__choice-title {
    position: relative;

    margin: 0;
    font-weight: 600;
  }

  #knife-quiz-box .answer__choice-field {
    display: block;

    width: 100%;
    height: 80px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  #knife-quiz-box .answer__message {
    display: block;
    position: relative;

    min-height: 40px;
    margin: 0 0 15px;
  }

  #knife-quiz-box .answer__message-title {
    position: relative;

    margin: 0;
    font-weight: 600;
  }

  #knife-quiz-box .answer__message-field {
    display: block;

    width: 100%;
    height: 80px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  #knife-quiz-box .answer__message-field.expand {
    margin-top: 0;
  }

  #knife-quiz-box .answer--loaded .answer__choice-title {
    position: absolute;
    top: 10px;
  }

  #knife-quiz-box .answer--loaded .answer__message-title {
    position: absolute;
    top: 10px;
  }

  #knife-quiz-box .answer__options {
    display: block;
    position: relative;
  }

  #knife-quiz-box .answer__options-title {
    display: block;

    margin: 0 0 2px;
    font-weight: 600;
  }

  #knife-quiz-box .answer__options-points {
    width: 50px;
    padding: 4px 2px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: none;
  }

  #knife-quiz-box .item__answer .dashicons-editor-expand {
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;

    font-size: 18px;
    line-height: 1;
    color: #777;
  }

  #knife-quiz-box .item__answer .dashicons-trash {
    position: absolute;
    right: 5px;
    bottom: 10px;
    cursor: pointer;

    font-size: 18px;
    line-height: 1;
    color: #a00;
  }


/**
 * Item manage
 */
#knife-quiz-box .item__manage {
  display: block;

  width: 100%;
  margin: 10px 0;
}
  #knife-quiz-box .item__manage > button {
    margin-right: 8px;
  }

  #knife-quiz-box .item:first-child .item__manage-move {
    display: none;
  }

