#knife-similar-options .form-field {
  max-width: 500px;
  margin-bottom: 40px;
}

#knife-similar-options .form-field label {
  display: inline-block;

  margin-bottom: 3px;
  font-weight: 600;
}

#knife-similar-options .form-items .item {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  position: relative;

  max-width: 800px;
  margin-top: 15px;
  padding: 15px;
  padding-right: 30px;
  background: #fff;

  border: solid 1px #ddd;
  border-radius: 2px;
}

#knife-similar-options .form-items .item-title {
  display: block;

  font-size: 16px;
  line-height: 1.375;
}

#knife-similar-options .form-items .item-link {
  display: block;

  width: auto;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

#knife-similar-options .form-items .item-pixel {
  display: block;

  width: 100%;
  margin-top: 5px;
  overflow: hidden;

  font-size: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: #999;
}
#knife-similar-options .form-items .item-erid {
  display: block;

  width: 100%;
  margin-top: 5px;
  overflow: hidden;

  font-size: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: #a00;
}

#knife-similar-options .form-items .item-delete {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 8px;
  bottom: 8px;

  font-size: 16px;
  color: #a00;
}
