.knife-special-image {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  width: 50%;
}

.knife-special-image p {

}

.knife-special-image > img {
  max-width: 100%;
  margin: 10px 0;
}

.knife-special-image > a {
  display: none;
}

@media screen and (max-width: 782px) {
  .knife-special-image {
      width: 100%;
  }

  .knife-special-image > img {
    width: 100%;
  }
}
