.caption {
  display: block;

  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0;

  .caption__title {
    display: inline-block;
    cursor: default;

    font-size: 3rem;
    line-height: 1.25;
    color: transparent;

    background: linear-gradient(90deg, $color-title-start, $color-title-finish);
    background-clip: text;
    -webkit-background-clip: text;

    &:first-letter {
      text-transform: uppercase;
    }

    @media screen and (max-width: 1023px) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.875rem;
    }

    &.caption__title--author {
      background: linear-gradient(90deg, $color-author-start, $color-author-finish);
      background-clip: text;
      -webkit-background-clip: text;
    }
  }

  .caption__text {
    display: block;
    cursor: default;

    margin: .75rem 0;
    max-width: 54rem;

    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.5;
    color: $color-white;
    letter-spacing: .25px;

    @media screen and (max-width: 1023px) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.125rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1rem;
    }
  }
}
