.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  padding-top: 1rem;
  padding-bottom: 0;

  &.content--feature {
    flex-flow: row nowrap;
  }

  @media screen and (max-width: 479px) {
    padding-left: 0;
    padding-right: 0;
  }
}
