.entry {
	display: block;

  .entry__title {
    display: block;

    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    line-height: 1;

    @media screen and (max-width: 767px) {
      font-size: 1.5rem;
    }
  }

  .entry__header {
    display: block;

    width: 100%;
    margin-bottom: 1.5rem;
    color: $color-primary;
    font-size: .625rem;
    font-weight: 500;
    text-transform: uppercase;

    .entry__header-item {
      display: inline-block;

      white-space: nowrap;
      text-transform: uppercase;

      &:before {
        content: "•";
        display: inline-block;

        margin-left: .5rem;
        margin-right: .5rem;
      }
    }
  }

  .entry__excerpt {
    line-height: 1.6;
    font-size: 1.125rem;
    font-weight: 500;
  }

  .entry__share {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
    justify-content: space-between;

    min-width: 100%;
    margin-left: -2rem;
    margin-right: -2rem;
    padding: .5rem 2rem;

    .entry__share-title {
      display: none;

      margin: .5rem 0;
      padding-right: 1rem;

      font-size: 1.375rem;
      font-weight: 600;
      line-height: 1.25;
    }

    .entry__share-list {
      display: flex;
      flex-flow: row nowrap;

      margin: .5rem 0;
    }

		.entry__share-item {
			display: flex;
			align-items: center;

			margin-right: .75rem;
			padding: .375rem .375rem;
			font-size: .875rem;
			color: $color-fg;

			border-radius: 3px;

			.icon {
				margin-right: .5rem;
				font-size: 1.25rem;

				&:last-child {
					margin-right: 0;
				}
			}

			&.entry__share-item--vk {
				background-color: #5186bd;
			}

 			&.entry__share-item--fb {
				background-color: #3b5998;
			}

 			&.entry__share-item--twitter {
				background-color: #55acee;
			}

 			&.entry__share-item--telegram {
				background-color: #36ade1;
			}

      &:last-child {
        margin-right: 0;
      }
		}
	}

  .entry__content + .entry__share {
    margin-top: 1.5rem;
    background-color: $color-sheet;

    .entry__share-title {
      display: block;
    }
  }

  .entry__content {
    margin-bottom: 2.5rem;
  }

  .entry__related {
    display: flex;
    flex-flow: column wrap;

		min-width: 100%;
    margin-top: 1.5rem;
    margin-left: -2rem;
    margin-right: -2rem;

    .entry__related-title {
      display: block;

      padding: 1rem 2rem;
      font-size: 1.375rem;
      font-weight: 600;
      line-height: 1.25;

      background-color: $color-sheet;
    }

    .entry__related-item {
      display: block;

      margin-top: 2px;
      padding: 1rem 2rem;

      background-color: $color-sheet;
    }

    .entry__related-link {
      display: inline;

      font-size: 1.25rem;
      line-height: 1.25;

      border-bottom: solid 1px $color-bg;

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }

  .entry__terms {
    display: flex;
    flex-flow: row wrap;

    min-width: 100%;
    margin-top: 1.5rem;
    margin-left: -2rem;
    margin-right: -2rem;
    padding: .5rem 2rem;

    background-color: $color-sheet;

    .entry__terms-link {
      display: inline;

      margin: .5rem 1.5rem .5rem 0;
      font-size: 1.25rem;
      line-height: 1.25;

      border-bottom: solid 1px $color-bg;

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}
