.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  width: 100%;
  padding: 2rem 0;

  .footer__inner {
    display: flex;
    flex-flow: row wrap;
  }

  .footer__copy {
    width: 50%;
    padding-right: 0;

    @media screen and (max-width:1023px) {
      width: 100%;
      padding-top: 1rem;
    }

    @media screen and (max-width:767px) {
      padding: 0;
    }
  }

  .footer__logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    width: 25%;
    padding-right: 1rem;

    .footer__logo-desc {
      display: block;
      cursor: default;

      max-width: 15rem;
      padding-top: 1rem;
      line-height: 1.4;
      font-size: .8125rem;
      font-weight: 400;
      letter-spacing: .5px;
    }

    .footer__logo-link {
      display: block;
      align-self: flex-start;
    }

    .footer__logo-image {
      display: block;

      width: 6.25rem;
      height: 1.875rem;

      @media screen and (max-width: 1023px) {
        width: 5rem;
        height: 1.5rem;
      }
    }

    @media screen and (max-width: 1023px) {
      width: 50%;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .footer__menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    width: 25%;
    padding-right: 1rem;

    .footer__menu-list {
      display: block;
    }

    .footer__menu-item {
      display: block;

      padding: .125rem 0;
    }

    .footer__menu-link {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1;
    }

    .footer__menu-social {
      display: block;

      padding-top: 1rem;

      .social__item:first-child {
        margin-left: 0;
      }
    }

    @media screen and (max-width: 1023px) {
      width: 50%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      padding-bottom: 1rem;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 1rem 0;
  }
}
