.header {
  .header__inner {
    display: flex;
    align-items: center;
  }

  .header__nav {
    display: flex;
    align-items: center;
  }

  .header__socials {
    display: flex;
    align-items: center;
  }
}
