.mindmap {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  width: 100%;
  color: $color-text;
  background: transparent;

  .mindmap__item {
    display: flex;

    width: auto;
    margin-bottom: 2px;
    margin-right: 2px;

    &:last-child {
      margin-bottom: 1rem;
    }

    &:nth-child(-n+2) {
      width: 100%;

      .mindmap__link {
        font-size: 1.875rem;
      }
    }
  }

  .mindmap__link {
    position: relative;

    height: auto;
    padding: .75rem 1rem .75rem 2rem;

    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1;

    background: $color-white;

    &:before {
      content: "•";
      display: inline-block;
      position: absolute;
      top: 50%;
      left: .75rem;

      width: 1rem;
      font-size: 1.5rem;
      transform: translateY(-50%);
    }

    &:hover {
      background: $color-primary;
      color: $color-white;
    }
  }
}
