.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  cursor: default;

  width: 100%;

  .nav__link {
    display: block;
  }

  &.nav--logbook {
    max-width: 46rem;
    margin-bottom: 3rem;
  }
}
