.post {
  display: block;
  position: relative;
  flex: 0 0 75%;

  width: 100%;
  max-width: 75%;
  padding: 2rem 2rem 2.5rem;
  overflow: hidden;
  background-color: $color-fg;


  .post__inner {
    display: block;

    max-width: 40.625rem;
    margin-left: auto;
    margin-right: auto;
  }


  @media screen and (max-width: 1023px) {
    flex: 0 0 100%;
    max-width: 100%;
  }

  @media screen and (max-width: 767px) {
    padding: 1rem 1rem 1.5rem;
  }
}
