.tagline-link {
  display: inline-block;
  cursor: pointer;

  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.25;
  color: $color-white;

  &:first-letter {
    text-transform: uppercase;
  }

  &.tagline-link--special {
    display: block;

    width: 100%;
    padding: .5rem;
    font-size: 2.5rem;
    text-align: center;

    background: $color-white;
    color: $color-text;

    @media screen and (max-width: 1023px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.875rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.5rem;
    }
  }

  &:hover {
    filter: brightness(110%);
  }
}
