@font-face {
  font-family: 'Formular';
  src: url('fonts/formular/formular-black.woff2') format('woff2'),
  url('fonts/formular/formular-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('fonts/formular/formular-bold.woff2') format('woff2'),
  url('fonts/formular/formular-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('fonts/formular/formular-regular.woff2') format('woff2'),
  url('fonts/formular/formular-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('fonts/formular/formular-medium.woff2') format('woff2'),
  url('fonts/formular/formular-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('fonts/ptserif/ptserif-regular.woff2') format('woff2'),
  url('fonts/ptserif/ptserif-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('fonts/ptserif/ptserif-italic.woff2') format('woff2'),
  url('fonts/ptserif/ptserif-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
