@font-face {
  font-family: 'Formular';
  src: url('fonts/formular/formular-bold.eot');
  src: url('fonts/formular/formular-bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/formular/formular-bold.woff2') format('woff2'),
  url('fonts/formular/formular-bold.woff') format('woff'),
  url('fonts/formular/formular-bold.ttf') format('truetype'),
  url('fonts/formular/formular-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('fonts/formular/formular-regular.eot');
  src: url('fonts/formular/formular-regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/formular/formular-regular.woff2') format('woff2'),
  url('fonts/formular/formular-regular.woff') format('woff'),
  url('fonts/formular/formular-regular.ttf') format('truetype'),
  url('fonts/formular/formular-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Formular';
  src: url('fonts/formular/formular-medium.eot');
  src: url('fonts/formular/formular-medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/formular/formular-medium.woff2') format('woff2'),
  url('fonts/formular/formular-medium.woff') format('woff'),
  url('fonts/formular/formular-medium.ttf') format('truetype'),
  url('fonts/formular/formular-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('fonts/pt-serif/pt-serif.eot');
  src: url('fonts/pt-serif/pt-serif.eot?#iefix') format('embedded-opentype'),
  url('fonts/pt-serif/pt-serif.woff2') format('woff2'),
  url('fonts/pt-serif/pt-serif.woff') format('woff'),
  url('fonts/pt-serif/pt-serif.ttf') format('truetype'),
  url('fonts/pt-serif/pt-serif.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
