@font-face {
  font-family: 'knife-icons';
  src:
    url('fonts/knife-icons/knife-icons.ttf') format('truetype'),
    url('fonts/knife-icons/knife-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'knife-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--search:before {
  content: "\e900";
}
.icon--left:before {
  content: "\e901";
}
.icon--vkontakte:before {
  content: "\e903";
}
.icon--facebook:before {
  content: "\e90f";
}
.icon--zen:before {
  content: "\e904";
}
.icon--odnoklassniki:before {
  content: "\e902";
}
.icon--instagram:before {
  content: "\e905";
}
.icon--twitter:before {
  content: "\e906";
}
.icon--telegram:before {
  content: "\e907";
}
.icon--right:before {
  content: "\e908";
}
.icon--notify:before {
  content: "\e909";
}
.icon--loop:before {
  content: "\e90a";
}
.icon--alert:before {
  content: "\e90b";
}
.icon--done:before {
  content: "\e90c";
}
.icon--next:before {
  content: "\e90d";
}
.icon--prev:before {
  content: "\e90e";
}
