@font-face {
  font-family: 'knife-icons';
  src:
    url('fonts/knife-icons/knife-icons.ttf') format('truetype'),
    url('fonts/knife-icons/knife-icons.woff') format('woff'),
    url('fonts/knife-icons/knife-icons.svg#knife-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'knife-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--next:after {
  content: "\e90d";
}
.icon--prev:after {
  content: "\e90e";
}
.icon--odnoklassniki:after {
  content: "\e902";
}
.icon--notify:after {
  content: "\e909";
}
.icon--search:after {
  content: "\e900";
}
.icon--vkontakte:after {
  content: "\e903";
}
.icon--facebook:after {
  content: "\e904";
}
.icon--instagram:after {
  content: "\e905";
}
.icon--twitter:after {
  content: "\e906";
}
.icon--telegram:after {
  content: "\e907";
}
.icon--zen:after {
  content: "\e90f";
}
.icon--left:after {
  content: "\e901";
}
.icon--right:after {
  content: "\e908";
}
.icon--loop:after {
  content: "\e90a";
}
.icon--alert:after {
  content: "\e90b";
}
.icon--done:after {
  content: "\e90c";
}
