@mixin full-size($zindex: 2) {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zindex;

  width: 100%;
  height: 100%;
}

@mixin submit-button( $color: #000 ) {
  will-change: transform;

  &[data-loading] {
    pointer-events: none;

    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 4rem;
    animation: loading-button 0.5s linear infinite;
  }

  &[disabled] {
    pointer-events: none;
    color: rgba($color, 0.5);
  }
}

@mixin full-pseudo($zindex: 2) {
  content: '';

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $zindex;

  width: 100%;
  height: 100%;
}

@mixin popup-center($zindex: 20) {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex;

  width: 100%;
  height: 100%;
}

@mixin body-overflow {
  position: fixed;
  left: 0;

  width: 100%;
  overflow: hidden;
}

@mixin sticky-widget {
  position: sticky;
  top: 4.5rem;
  align-self: flex-start;
}

@mixin cross-button($width, $height: 2px, $color: #444) {
  width: $width;
  height: $width;

  &:after, &:before {
    content: '';
    position: absolute;
    top: calc(50% - $height / 2);
    left: calc(50% - $width / 2);

    height: $height;
    width: $width;

    background-color: $color;
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:before {
    transform: rotate(45deg);
  }
}

@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';

  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }

  @return unquote($value);
}