html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, select, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: none;

  transition: filter .25s;

  cursor: pointer;
  outline: none;

  time {
    cursor: pointer;
  }
}

button {
  background-color: transparent;
  transition: .25s;

  cursor: pointer;
  outline: none;

  &[disabled] {
    pointer-events: none;
  }
}

input {
  background-color: transparent;

  outline: none;
}

time {
  cursor: default;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

.screen-reader-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  overflow: hidden;
  word-wrap: normal !important;

  border: 0;
}

.screen-reader-text:focus {
  display: block;
  top: 5px;
  left: 5px;
  z-index: 100000;
  clip: auto !important;
  clip-path: none;

  width: auto;
  height: auto;
  padding: 15px 23px 14px;

  color: #444;
  font-size: 1rem;
  line-height: normal;
  text-decoration: none;
  background-color: #eee;
}
