.block-caption {
  display: block;
  position: relative;

  width: calc(100% - 2rem);
  max-width: $width-site - 2rem;

  margin: 0 auto;

  @media screen and (max-width: 1023px) {
    max-width: $width-content;
  }
}
