.block-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  z-index: 1;

  width: 100%;
  max-width: $width-site;

  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @media screen and (max-width: 1023px) {
    max-width: 100%;
  }

  @media screen and (max-width: 479px) {
    padding-left: 0;
    padding-right: 0;
  }
}
