.block-navigate {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  width: calc(100% - 2rem);
  max-width: $width-site - 2rem;
  margin: 1rem auto 0;

  @media screen and (max-width: 1023px) {
    max-width: $width-content;
  }

  @media screen and (max-width: 479px) {
    width: 100%;
  }
}
