.block-poster {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  z-index: 8;

  width: 100%;

  body.is-search & {
    display: none;
  }

  body.is-navbar & {
    display: none;
  }

  body.is-reference & {
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }
}
