// Setup variables
@import "../setup/variables";

$color-custom-header: #46376f;
$color-custom-content: #b6a3cf;
$color-custom-aside: #ece9f1;


.entry-header {
  color: $color-white;
  background-color: $color-custom-header;

  .entry-header__info {
    color: $color-white;
  }

  .entry-header__lead a {
    color: $color-white;
  }
}

.entry-content {
  background-color: $color-custom-content;
  padding-bottom: 2rem;

  .figure--flipper aside:first-child {
    text-align: center;
  }

  .figure--flipper aside h3 {
    font-size: 1.375rem;
    line-height: 1.25;

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
      line-height: 1.375;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.125rem;
    }
  }

  .figure--flipper aside {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.65;

    @media screen and (max-width: 767px) {
      font-size: 0.9375rem;
    }
  }

  .figure--quote {
    width: 100%;
    padding: 0;

    blockquote {
      font-weight: 500;
      max-width: 100%;
      padding: 1.5rem 3rem;

      background-color: $color-custom-aside;
      border-radius: 0.375rem;

      @media screen and (max-width: 767px) {
        padding: 1.5rem;
      }
    }
  }

  .figure--promo {
    width: 100%;
  }
}
