.entry-header {
  color: #fff;
  background-image: url('/wp-content/uploads/2020/04/background-buffon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

  .entry-header .entry-header__info {
    color: #fff;
  }

.entry-content {
  background-color: #fadf74;
}

.entry-content .figure--flipper aside {
  text-align: left;
}

.entry-content .figure--flipper aside:last-child {
  background-color: #fff9ed;
}
