// Setup variables
@import "../setup/variables";

$color-custom-content: #24252d;
$color-custom-background: #767578 !important;
$color-custom-links: #1c6bba;


body {
  background-color: $color-custom-background;
  background-attachment: fixed;

  @media screen and (max-width: 767px) {
    background-attachment: scroll;
  }
}

.entry-header {
  color: $color-black;
  background-color: $color-white;

  .entry-header__info {
    color: $color-black;
  }

  .entry-header__lead a {
    color: $color-custom-links;
  }
}

.entry-content {
  background-color: $color-custom-content;
  padding-bottom: 2rem;

  a {
    color: $color-custom-links;
  }

  .figure--flipper aside:first-child {
    text-align: center;
  }

  .figure--flipper aside {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.65;

    p {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 767px) {
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  .figure--quote {
    width: 100%;
    padding: 0;

    blockquote {
      max-width: 100%;
      padding: 1.5rem;

      font-size: 1.125rem;
      line-height: 1.65;

      border-radius: 0.375rem;

      @media screen and (max-width: 767px) {
        padding: 1.5rem;

        font-size: 1rem;
        line-height: 1.5;
      }
    }

    a.button {
      color: #ff644b;
      background: transparent;

      border: 2px solid #ff644b;
      border-radius: 8px;

      transition: none;
    }
  }
}
