// Setup variables
@import "../setup/variables";

$color-custom-header: #0de29b;
$color-custom-content: #8b64fe;
$color-custom-background: linear-gradient(163deg, rgb(253,198,53) 0%, rgb(222,95,108) 50%, rgb(222,95,108) 100%);
$color-custom-footer: rgb(222,95,108);


body {
  background-image: url('logo.png'), $color-custom-background;
  background-repeat: repeat, no-repeat;
  background-size: 200px auto, auto;
}

.entry-header {
  color: $color-black;
  background-color: $color-custom-header;

  .entry-header__info {
    color: $color-black;
  }

  .entry-header__lead a {
    color: $color-black;
  }
}

.entry-content {
  background-color: $color-custom-content;
  padding-bottom: 2rem;

  .figure--flipper aside:first-child {
    text-align: center;
  }

  .figure--flipper aside {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.65;

    p {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 767px) {
      font-size: 0.9375rem;
      line-height: 1.5;
    }
  }

  .figure--quote {
    width: 100%;
    padding: 0;

    blockquote {
      max-width: 100%;
      padding: 1.5rem 3rem;

      border-radius: 0.375rem;

      @media screen and (max-width: 767px) {
        padding: 1.5rem;
      }
    }

    a.button {
      color: #ff644b;
      background: transparent;

      border: 2px solid #ff644b;
      border-radius: 8px;

      transition: none;
    }
  }
}

.footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;

  width: 100vw;
  height: 100%;

  background-color: rgb(222,95,108);
  transform: translateX(-50%);
}

.footer > * {
  position: relative;
  z-index: 2;
}
