// Setup variables
@import "../setup/variables";

$color-custom-header: #9e365b;
$color-custom-content: #dbeafc;


.entry-header {
  color: $color-white;
  background-color: $color-custom-header;

  .entry-header__info {
    color: $color-white;
  }

  .entry-header__lead a {
    color: $color-white;
  }
}

.entry-content {
  background-color: $color-custom-content;
  padding-bottom: 2rem;

  .figure--flipper:last-child aside:last-child {
    background-color: $color-sheet;
  }

  .figure--flipper aside {
    font-size: 1.125rem;
    line-height: 1.375;

    @media screen and (max-width: 767px) {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}
