.post .entry-footer {
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 767px) {
  .post .entry-footer {
    padding-bottom: 1rem;
  }
}

.post .entry-footer .entry-footer__share {
  display: none;
}

.post .entry-header .entry-header__share {
  display: none;
}

