// Setup variables
@import "../setup/variables";

$color-custom-header: #5e5c5e;
$color-custom-content: #f65376;


.entry-header {
  color: $color-white;
  background-color: $color-custom-header;

  .entry-header__info {
    color: $color-white;
  }

  .entry-header__lead a {
    color: $color-white;
  }
}

.entry-content {
  background-color: $color-custom-content;
  padding-bottom: 2rem;

  .figure--flipper aside:first-child {
    text-align: center;
  }

  .figure--flipper aside h3 {
    font-size: 1.5rem;
    line-height: 1.25;

    @media screen and (max-width: 767px) {
      font-size: 1.375rem;
      line-height: 1.375;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
    }
  }

  .figure--flipper aside {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.65;

    @media screen and (max-width: 767px) {
      font-size: 0.9375rem;
    }
  }
}
