// Setup variables
@import "../setup/variables";

$color-custom-header: #332851;
$color-custom-content: #b6a3cf;
$color-custom-aside: #ece9f1;


.entry-header {
  color: $color-white;
  background-color: $color-custom-header;

  .entry-header__info {
    color: $color-white;
  }

  .entry-header__lead a {
    color: $color-white;
  }
}

.entry-content {
  background-color: $color-custom-content;
  padding-bottom: 2rem;

  .figure--flipper aside:first-child {
    text-align: center;
  }

  .figure--flipper aside {
    background-color: $color-custom-aside;

    img {
      border-radius: 4px;
    }

    p {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h3 {
      width: 100%;
      text-align: center;
    }

    @media screen and (max-width: 767px) {
      font-size: 1rem;
      line-height: 1.375;
    }
  }
}
