.entry-header {
  color: #fff;
  background-color: #0189a7;
}

  .entry-header .entry-header__info {
    color: #fff;
  }

.entry-content {
  background-color: #a6cddd;

  .figure--flipper aside {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.65;

    p {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 767px) {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}
