// Setup variables
@import "../setup/variables";
@import "../setup/mixins";

$color-title: gold;
$color-label: #1301ff;

.entry-content {
  color: $color-white;
  background-color: transparent;

  & > * {
    width: 60rem;
  }

  h2 {
    margin-top: 4rem;

    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.25;

    color: $color-title;

    @media screen and (max-width: 767px) {
      margin-top: 2.5rem;
      font-size: 1.875rem;
    }

    @media screen and (max-width: 479px) {
      margin-top: 2rem;
    }
  }

  p {
    font-size: 1.5rem;
    font-family: $font-serif;

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.125rem;
    }
  }

  em {
    display: inline-block;
    position: relative;
    font-weight: 400;

    &::before {
      @include full-pseudo(-1);

      background: $color-label;
      transform: rotate(1deg) translateY(2px);
    }
  }

  figure {
    margin: 0 auto;
  }
}

.section--formats {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);

  margin-top: 3.25rem;

  .button {
    display: flex;
    grid-column: 2;

    margin: 0.5rem auto 1rem;
    font-size: 1rem;

    color: $color-white;
    background-color: $color-primary;

    border-radius: 0.25rem;

    &:hover {
      filter: brightness(120%);
      background-color: $color-primary;
    }
  }

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-row-gap: 1.5rem;

    margin-top: 2.5rem;
  }

  @media screen and (max-width: 479px) {
    grid-row-gap: 1.5rem;
  }
}

.section--projects {
  display: block;
  margin-top: 2.5rem;

  @media screen and (max-width: 767px) {
    margin-top: 1.75rem;
  }

  @media screen and (max-width: 479px) {
    margin-top: 1rem;
  }
}

.section--readers {
  display: block;
}

.figure--ticket {
  display: flex;
  cursor: default;

  width: 100%;
  padding: 0 1rem 2rem;

  border-radius: 0.25rem;

  color: $color-text;
  background-color: $color-white;

  h4 {
    display: flex;
    align-items: center;

    width: calc(100% + 2rem);
    height: calc(2rem - 1px);
    max-width: none;

    margin: 0;
    padding: 0 1rem;

    font-size: 0.5625rem;
    font-weight: 500;
    line-height: 1;

    text-transform: uppercase;
    letter-spacing: 1px;

    color: $color-white;
    background-color: $color-primary;

    border-radius: 0.25rem 0.25rem 0 0;

    transform: translateY(-2px);
  }

  h3 {
    display: flex;
    align-items: center;

    width: 100%;
    margin: 1rem 0;

    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.25;

    @media screen and (max-width: 479px) {
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
    }
  }

  p {
    flex: 1 1 auto;

    font-size: 1rem;
    line-height: 1.5;
    font-family: $font-regular;

    @media screen and (max-width: 479px) {
      font-size: 0.9375rem;
    }
  }

  a {
    font-size: .875rem;
    border-bottom: none;
  }

  &:nth-child(n+7) {
    display: none;
  }
}

.figure--example {
  display: block;
  position: relative;
  cursor: default;

  max-width: 100%;
  padding: 3.25rem 26rem 2rem 1rem;

  color: $color-white;
  background-color: transparent;

  border: solid 1px $color-white;
  border-radius: 0.25rem;

  h3 {
    display: block;

    margin: 1rem 0;

    font-size: 1.375rem;
    font-weight: 700;

    @media screen and (max-width: 479px) {
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
    }
  }

  h4 {
    display: flex;
    align-items: center;

    position: absolute;
    top: 1rem;
    left: 1rem;

    height: calc(2rem - 1px);
    max-width: none;

    margin: 0;
    padding: 0 1rem;

    font-size: 0.5625rem;
    font-weight: 500;
    line-height: 1;

    text-transform: uppercase;
    letter-spacing: 1px;

    color: $color-white;
    background-color: $color-primary;
  }

  h5 {
    margin-top: 2rem;

    font-size: 1rem;
    font-weight: 400;
  }

  picture {
    position: absolute;
    right: 0;
    top: 0;

    width: 24rem;
    height: 100%;
    padding: 1rem;

    img {
      width: auto;
      height: 100%;

      margin: 0 auto;
    }
  }

  a {
    color: $color-white;
  }

  p {
    font-family: $font-regular;
    font-size: 1rem;

    color: rgba($color-white, 0.875);

    img {
      width: auto;
      height: 1.25rem;

      margin: 2rem 0;
    }

    @media screen and (max-width: 479px) {
      font-size: 0.9375rem;
    }
  }
}

.figure--analytics {
  display: block;
  cursor: default;

  dl {
    cursor: default;
    display: grid;
    grid-column-gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -1rem;
    margin-bottom: 4rem;

    @media screen and (max-width:767px) {
        grid-template-columns: 1fr;
        margin-top: -.5rem;
        margin-bottom: 2rem;
    }
  }

  dt {
    grid-column: 1/-1;
    margin-top: 3.25rem;
    font-size: .875rem;

    @media screen and (max-width:767px) {
      margin-top: 2rem;
    }

    @media screen and (max-width:479px) {
      margin-top: 1rem;
    }
  }

  dd {
    display: block;
    font-size: 1.125rem;
    line-height: 1.25;

    &:last-child {
      margin-right: auto;

      @media screen and (max-width:767px) {
        margin-right: 0;
      }
    }

    strong {
      display: block;

      font-size: 6rem;
      font-weight: 700;
      line-height: 1;

      transform: translateX(-.25rem);

      @media screen and (max-width:1023px) {
        font-size: 4.5rem;
      }

      @media screen and (max-width:767px) {
        flex: 0 0 10.5rem;
        font-size: 4rem;
        transform: none;
      }

      @media screen and (max-width:479px) {
        flex: 0 0 8.5rem;
        font-size: 3.25rem
      }
    }

    @media screen and (max-width:1023px) {
      font-size: 1rem;
    }

    @media screen and (max-width:767px) {
      display: flex;
      align-items: center;
      padding: .5rem 0;
    }
  }
}

.figure--interests {
  display: block;
  cursor: default;

  h5 {
    margin-bottom: 1rem;
    font-size: .875rem;
  }

  ul {
    display: flex;
    flex-flow: row wrap;

    max-width: 36rem;
    padding-left: 0;

    li {
      margin: 1px;
      padding: .375rem .75rem;

      font-size: 1.125rem;
      list-style: none;

      color: #fff;
      background-color: $color-primary;

      &::before {
        content: '#';
        margin-right: .125rem;
      }
    }
  }
}

.footer {
  display: none;
}