// Setup variables
@import "../setup/variables";
@import "../setup/mixins";

$color-custom-ticket: #f6e9ff;
$color-custom-background: #fdeff2;
$color-custom-select: #c8ecec;

.entry-content {
  max-width: $width-wide;

  color: $color-text;
  background-color: $color-custom-background;

  border-radius: 0.75rem;

  h1 {
    font-size: 2.75rem;

    @media screen and (max-width: 767px) {
      font-size: 2.25rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.875rem;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 1rem;

    font-size: 2.25rem;
    font-family: $font-regular;
    font-weight: 700;
    line-height: 1.125;

    @media screen and (max-width: 767px) {
      font-size: 1.875rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.625rem;
    }

    @media screen and (max-width: 399px) {
      font-size: 1.5rem;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;

    font-size: 1.5rem;
    font-weight: 700;

    @media screen and (max-width: 767px) {
      font-size: 1.375rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.25rem;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;

    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5;

    @media screen and (max-width: 767px) {
      margin-bottom: 0.75rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1rem;
      line-height: 1.375;
    }
  }

  em {
    display: inline-block;

    padding: 0 0.25rem;

    font-family: $font-regular;
    font-weight: 700;

    background-color: $color-custom-select;
    border-radius: 0.25rem;
  }

  strong {
    font-family: $font-regular;
  }

  section {
    position: relative;

    width: $width-content + 5rem;
    margin-top: 1.5rem;
    padding: 2rem 2.5rem;

    font-family: $font-serif;

    color: $color-text;
    background-color: $color-white;

    border-radius: 0.75rem;

    & > * {
      display: none;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h2 {
      display: block;

      cursor: pointer;
      user-select: none;

      margin-bottom: 0;

      &:after {
        @include full-pseudo;
      }
    }

    .icon--chevron {
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;

      font-size: 2rem;
      color: $color-text;

      transition: transform 0.375s;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &[data-visible] > * {
      display: block;
    }

    &[data-visible] > h2 {
      margin-bottom: 1rem;

      &:after {
        display: none;
      }
    }

    &[data-visible] .icon--chevron {
      transform: rotate(180deg);
    }

    @media screen and (max-width: 767px) {
      margin-top: 1rem;
      padding: 1.25rem 1rem;
    }
  }

  @media screen and (max-width: 767px) {
    max-width: $width-content;
  }
}

.figure--ticket {
  display: block;

  padding: 1.5rem;
  font-family: $font-regular;

  background-color: $color-custom-ticket;
  border-radius: 0.75rem;

  &>*:last-child {
    margin-bottom: 0;
  }

  p {
    font-size: 1.125rem;
    font-weight: 400;

    @media screen and (max-width: 479px) {
      font-size: 1rem;
      line-height: 1.375;
    }
  }

  .entry-content & {
    margin: 0 0 1rem;
  }

  @media screen and (max-width: 767px) {
    padding: 0.75rem;
  }
}