.post .entry-quiz {
  .entry-quiz__content {
    p {
      text-align: center;
    }

    h6 {
      font-weight: 500;

      @media screen and (max-width: 767px) {
        font-size: 0.875rem;
      }
    }
  }

  .entry-quiz__vote .entry-quiz__vote-choice {
    font-size: 1rem;

    @media screen and (max-width: 767px) {
      font-size: 0.875rem;
    }
  }

  .entry-quiz__vote .entry-quiz__vote-message {
    font-size: 1rem;

    @media screen and (max-width: 767px) {
      font-size: 0.875rem;
    }
  }
}
