.widget-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex: 1 1 auto;

  width: 100%;

  color: $color-white;
  background: transparent;

 .widget__link {
    display: block;
    position: relative;

    height: auto;
    max-width: 100%;
    padding: .625rem 1rem;

    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.25;

    color: $color-white;
    background: $color-details-inner;

    border-radius: 2px;

    &:hover {
      filter: brightness(115%);
    }

    @media screen and (max-width: 1023px) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      font-size: 1.125rem;

      border-radius: 0;
    }
  }

  .widget__item {
    display: flex;

    width: auto;
    margin-bottom: 2px;
    margin-right: 2px;

    &:nth-child(-n+2) {
      width: 100%;

      .widget__link {
        font-size: 1.875rem;
        line-height: 1.075;

        background: $color-details-outer;

        @media screen and (max-width: 1023px) {
          font-size: 1.5rem;
          line-height: 1.125;
        }

        @media screen and (max-width: 767px) {
          font-size: 1.25rem;
          line-height: 1.25;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-right: 0;
    }
  }
}
