.widget-logbook {
  display: block;
  position: relative;

  width: 100%;
  max-width: 44rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  color: $color-text;
  background-color: $color-white;

  border-radius: 2px;

  .widget__image {
    display: none;
    position: relative;
    flex: 0 0 15rem;

    min-height: 8rem;
    padding: 0;

    overflow: hidden;

    .widget__image-thumbnail {
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      width: calc(100% + .5px);
      max-width: calc(100% + .5px);
      height: 100%;

      object-fit: cover;
      object-position: center;

      transition: filter .25s;
    }

    @media screen and (max-width: 479px) {
      display: none;
    }
  }

 .widget__footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    z-index: 1;

    width: 100%;
    height: 100%;
    padding: 1rem 1.25rem 1.25rem;

    background-color: $color-white;

    @media screen and (max-width: 1023px) {
      padding: 1rem;
    }
  }

  .widget__title {
    display: block;

    width: 100%;

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: .25px;
    word-wrap: break-word;

    strong {
      color: $color-primary;
    }

    @media screen and (max-width: 1023px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.125rem;
    }
  }

  .widget__meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    width: 100%;
    margin-top: 1rem;

    font-size: .5625rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5px;

    .meta__link {
      position: relative;

      @media screen and (max-width: 767px) {
        &:nth-child(3) {
          flex: 1;
        }

        &:nth-child(n+4) {
          display: none;
        }
      }
    }
  }

  .widget__item {
    display: flex;
    flex-flow: row-reverse nowrap;
    cursor: pointer;

    width: 100%;
    height: 100%;
    padding-top: 0;

    color: $color-text;
    background-color: $color-white;

    &.widget__item--cover {
      .widget__title {
        font-size: 2.25rem;
        line-height: 1.125;

        @media screen and (max-width: 1023px) {
          font-size: 1.75rem;
          line-height: 1.25;
        }

        @media screen and (max-width: 767px) {
          font-size: 1.5rem;
        }
      }

      .widget__image {
        display: block;

        @media screen and (max-width: 479px) {
          display: none;
        }
      }
    }

    &:hover {
      .widget__image-thumbnail {
        filter: brightness(120%);
      }
    }
  }

  .widget__link {
    display: block;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;

      width: 100%;
      height: 100%;
    }

    &:hover {
      color: $color-primary;
    }
  }

  @media screen and (max-width: 479px) {
    margin-bottom: .5rem;
    border-radius: 0;
  }
}
