.widget.widget--logbook {
  display: block;
  position: relative;

  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;

  color: $color-text;
  background-color: $color-white;

  width: calc(50% - .5rem);

  .widget__image {
    position: relative;
    flex: 0 0 10rem;

    padding: 0;

    .widget__image-thumbnail {
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;

      transition: filter .25s;
    }

    @media screen and (max-width: 767px) {
      flex-basis: 7.5rem;
    }

    @media screen and (max-width: 479px) {
      display: none;
    }
  }

 .widget__footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;
    padding: 1rem 1.25rem 1.25rem;

    background-color: $color-white;

    @media screen and (max-width: 1023px) {
      padding: 1rem;
    }
  }

  .widget__title {
    display: block;

    width: 100%;

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: .25px;
    word-wrap: break-word;

    @media screen and (max-width: 1023px) {
      font-size: 1.75rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 479px) {
      font-size: 1.125rem;
    }
  }

  .widget__meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    width: 100%;
    margin-top: 1.5rem;
  }

  .widget__link {
    display: flex;
    flex-flow: row-reverse nowrap;
    cursor: pointer;

    width: 100%;
    height: 100%;
    padding-top: 0;

    &:hover {
      .widget__image-thumbnail {
        filter: brightness(115%);
      }
    }
  }

  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}
