.widget-mindmap {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex: 1 1 auto;

  color: $color-text;
  background: transparent;

  .widget__item {
    display: flex;

    width: auto;
    margin-bottom: 2px;
    margin-right: 2px;

    &:nth-child(-n+2) {
      width: 100%;

      .widget__link {
        font-size: 1.875rem;
        line-height: 1.075;

        @media screen and (max-width: 1023px) {
          font-size: 1.5rem;
          line-height: 1.125;
        }

        @media screen and (max-width: 767px) {
          font-size: 1.25rem;
          line-height: 1.25;
        }
      }
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-right: 0;
    }
  }

  .widget__link {
    display: block;
    position: relative;

    height: auto;
    max-width: 100%;
    padding: .625rem 1rem .625rem 2.5rem;

    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.25;

    background: $color-white;

    &:before {
      content: "•";
      display: inline-block;
      position: absolute;
      top: 50%;
      left: .875rem;

      width: 1rem;
      font-size: 1.5rem;
      transform: translateY(-50%);
    }

    &:hover {
      background: $color-primary;
      color: $color-white;
    }

    @media screen and (max-width: 1023px) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      font-size: 1.125rem;
    }
  }
}
