.widget-recent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-self: flex-start;
  position: relative;

  .widget__item {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;

    width: calc(100% / 3 - .625rem);
    margin-bottom: 1px;
    padding: 1rem;

    color: $color-text;
    background-color: $color-white;


    @media screen and (max-width: 1023px) {
      width: calc(50% - .5rem);
    }

    @media screen and (max-width: 479px) {
      width: 100%;
    }
  }

  .widget__meta {
    display: block;

    width: 100%;
    color: $color-primary;
  }

  .widget__link {
    display: inline-block;

    margin-top: .25rem;
    font-size: .875rem;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: .5px;
    text-decoration: none;
  }

  .widget__more {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;

    width: 100%;
    margin-top: .5rem;
    padding: 1rem 0;

    font-size: .75rem;
    font-weight: 500;

    text-transform: uppercase;
    letter-spacing: 1px;

    color: $color-white;
    background-color: $color-primary;

    border: solid 1px $color-primary;

    &:hover {
      filter: brightness(125%);
    }
  }

  &.widget--split {
    flex: 1 1 auto;

    .widget__item {
      width: 100%;

      @media screen and (max-width: 1199px) {
        width: calc(100% / 3 - .625rem);

        &:nth-child(n+7) {
          display: none;
        }
      }

      @media screen and (max-width: 1023px) {
        width: calc(50% - .5rem);
      }

      @media screen and (max-width: 479px) {
        width: 100%;

        &:nth-child(n+7) {
          display: flex;
        }
      }
    }
  }

  &.widget--sidebar {
    margin-bottom: auto;

    .widget__item {
      width: 100%;

      @media screen and (max-width: 1023px) {
        width: calc(50% - .5rem);
      }

      @media screen and (max-width: 479px) {
        width: 100%;
      }
    }
  }
}
