.widget.widget--recent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-self: flex-start;
  position: relative;

  .widget__item {
    display: block;

    width: 100%;
    margin-bottom: 2px;
    padding: 1rem;

    color: $color-text;
    background-color: $color-white;

    @media screen and (max-width: 1079px) {
      width: calc(50% - 0.5rem);
    }

    @media screen and (max-width: 479px) {
      width: 100%;
    }
  }

  .widget__header {
    display: block;

    width: 100%;
    color: $color-primary;
    font-size: .625rem;
    font-weight: 500;
    letter-spacing: .75px;
    text-transform: uppercase;
  }

  .widget__meta {
    display: inline-block;

    white-space: nowrap;

    &:after {
      content: "•";
      display: inline-block;

      margin-left: .5rem;
      margin-right: .5rem;
    }

    &:last-child:after {
      display: none;
    }
  }

  .widget__link {
    display: inline-block;

    margin-top: .25rem;
    font-size: .8125rem;
    font-weight: 500;
    text-decoration: none;
  }
}
