.widget.widget--single {
  width: 100%;
  min-height: 15rem;

  .widget__link  {
    padding-top: 2rem;

    @media screen and (max-width: 1023px) {
      padding-top: 75%;
    }

    @media screen and (max-width: 767px) {
      padding-top: 50%;
    }
  }

  .widget__image {
    height: 100%;
    padding-top: 0;
  }

  .widget__title {
    font-size: 2rem;
    line-height: 1.125;

    @media screen and (max-width: 1279px) {
      font-size: 1.5rem;
      line-height: 1.25;
    }

    @media screen and (max-width: 1023px) {
      font-size: 1.375rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.125rem;
    }
  }

  .widget__footer {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 1rem;
    bottom: 1rem;

    height: auto;
    width: auto;
    max-width: calc(100% - 2rem);
    padding: 1rem;

    background-color: $color-white;

    @media screen and (max-width: 1023px) {
      justify-content: flex-start;
      position: relative;
      left: 0;
      bottom: 0;

      height: 100%;
      width: 100%;
      max-width: 100%;
    }
  }

  &.widget--cover {
    .widget__footer {
      left: 0;
      bottom: 0;

      max-width: 60%;
      background-color: transparent;

      @media screen and (max-width: 1023px) {
        justify-content: space-between;

        max-width: 100%;
      }
    }
  }

  &.widget--feature {
    .unit__title {
      font-size: 1.75rem;
      line-height: 1.25;

      @media screen and (max-width: 1023px) {
        font-size: 1.375rem;
      }

      @media screen and (max-width: 767px) {
        font-size: 1.125rem;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    width: calc(50% - .5rem);
    min-height: 0;
  }

  @media screen and (max-width: 479px) {
    width: 100%;
  }
}
