.widget-stripe {
  display: block;
  position: relative;

  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;

  .widget__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100% + .5px);
    padding-top: 75%;
    overflow: hidden;

    .widget__image-thumbnail {
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;

      transition: filter .25s;
    }
  }

  .widget__footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;
    padding: 1rem 1.25rem 1.25rem;

    background-color: $color-white;

    @media screen and (max-width: 1023px) {
      padding: 1rem;
    }
  }

  .widget__title {
    display: block;

    width: 100%;

    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: .25px;
    word-wrap: break-word;

    @media screen and (max-width: 1023px) {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.125rem;
    }
  }

  .widget__meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    width: 100%;
    margin-top: 1.5rem;
  }

  .widget__link {
    display: block;
    cursor: pointer;

    width: 100%;
    height: 100%;
    padding-top: 75%;

    &:hover {
      .widget__image-thumbnail {
        filter: brightness(115%);
      }
    }

    @media screen and (max-width: 767px) {
      padding-top: 50%;
    }
  }

  .widget__head {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    padding: .75rem 1rem;
    font-size: .625rem;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .75px;

    color: $color-white;
    background-color: $color-primary;

    &:hover {
      filter: brightness(125%);
    }
  }

  .widget__item {
    display: block;

    width: 100%;
    height: 100%;

    color: $color-text;
    background-color: $color-white;

    &.widget__item--cover {
      color: $color-white;
      background-color: $color-black;

      .widget__footer {
        background-color: transparent;
      }

      .widget__image {
        height: 100%;
        padding-top: 0;
      }

      .widget__meta {
        color: $color-white;
      }

      .widget__link {
        height: 100%;
        color: $color-white;

        .widget__image-thumbnail {
          filter: brightness(55%);
        }

        &:hover {
          .widget__image-thumbnail {
            filter: brightness(80%);
          }
        }

        @media screen and (max-width: 479px) {
          padding-top: 25%;
        }
      }
    }
  }

  &.widget--triple {
    width: calc(100% / 3 - .625rem);

    @media screen and (max-width: 1023px) {
      width: calc(50% - .5rem);
    }

    @media screen and (max-width: 479px) {
      width: 100%;
    }
  }

  &.widget--double {
    width: calc(50% - .5rem);

    @media screen and (max-width: 479px) {
      width: 100%;
    }
  }

  &.widget--single {
    width: 100%;
    min-height: 15rem;

    .widget__link  {
      padding-top: 2rem;

      @media screen and (max-width: 1023px) {
        padding-top: 75%;
      }

      @media screen and (max-width: 767px) {
        padding-top: 50%;
      }
    }

    .widget__image {
      height: 100%;
      padding-top: 0;
    }

    .widget__title {
      font-size: 2rem;
      line-height: 1.125;

      @media screen and (max-width: 1279px) {
        font-size: 1.75rem;
        line-height: 1.25;
      }

      @media screen and (max-width: 1023px) {
        font-size: 1.25rem;
      }

      @media screen and (max-width: 1023px) {
        font-size: 1.125rem;
      }
    }

    .widget__footer {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      left: 1rem;
      bottom: 1rem;

      height: auto;
      width: auto;
      max-width: calc(100% - 2rem);
      padding: 1rem;

      background-color: $color-white;

      @media screen and (max-width: 1023px) {
        justify-content: flex-start;
        position: relative;
        left: 0;
        bottom: 0;

        height: 100%;
        width: 100%;
        max-width: 100%;
      }
    }

    .widget__item {
      display: block;

      &.widget__item--cover {
        .widget__footer {
          left: 0;
          bottom: 0;

          max-width: 60%;
          background-color: transparent;

          @media screen and (max-width: 1023px) {
            justify-content: space-between;

            max-width: 100%;
          }
        }
      }
    }

    @media screen and (max-width: 1023px) {
      width: calc(50% - .5rem);
      min-height: 0;
    }

    @media screen and (max-width: 479px) {
      width: 100%;
    }
  }

  &.widget--feature {
    .widget__title {
      font-size: 1.25rem;
    }

    &.widget--single {
      .widget__title {
        font-size: 1.75rem;
        line-height: 1.25;

        @media screen and (max-width: 1023px) {
          font-size: 1.25rem;
        }
      }
    }
  }

  &.widget--sidebar {
    width: 100%;

    .widget__head {
      display: none;
    }

    &.widget--single {
      .widget__link  {
        @media screen and (max-width: 1023px) {
          padding-top: 5rem;
        }
      }

      .widget__title {
        font-size: 1.25rem;
        line-height: 1.25;

        @media screen and (max-width: 1023px) {
          font-size: 1.25rem;
        }

        @media screen and (max-width: 767px) {
          font-size: 1.125rem;
        }
      }

      .widget__item {
        display: block;

        &.widget__item--cover {
          .widget__footer {
            max-width: 100%;
          }
        }
      }

      @media screen and (max-width: 1023px) {
        width: 100%;
      }
    }

    @media screen and (max-width: 1023px) {
      width: calc(50% - .5rem);
    }

    @media screen and (max-width: 479px) {
      width: 100%;
    }
  }
}
