.widget-stripe {
  display: block;
  position: relative;

  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;

  border-radius: 2px;

  .widget__head {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    font-size: .5625rem;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;

    .widget__head-item {
      display: block;
      cursor: default;

      padding: .725rem 1.25rem;
      color: $color-primary;
      background-color: $color-white;
    }

    .widget__head-link {
      display: block;
      cursor: pointer;

      padding: .725rem 1.25rem;
      color: $color-white;
      background-color: $color-primary;

      &:hover {
        filter: brightness(120%);
      }
    }
  }

  .widget__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    padding-top: 75%;
    overflow: hidden;

    .widget__image-thumbnail {
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      width: calc(100% + .5px);
      height: calc(100% + .5px);

      object-fit: cover;
      object-position: center;

      transition: filter .25s;
    }

    @media screen and (max-width: 767px) {
      padding-top: 50%;
    }
  }

  .widget__footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: 1rem 1.25rem 1.25rem;

    background-color: $color-white;

    @media screen and (max-width: 1023px) {
      padding: 1rem;
    }
  }

  .widget__title {
    display: block;
    position: relative;

    width: 100%;

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.125;
    letter-spacing: .25px;
    word-wrap: break-word;

    strong {
      color: $color-primary;
    }

    @media screen and (max-width: 1023px) {
      font-size: 1.375rem;
      line-height: 1.25;
    }

    @media screen and (max-width: 767px) {
      font-size: 1.125rem;
    }
  }

  .widget__meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    width: 100%;
    margin-top: 1.5rem;

    .meta__link {
      position: relative;
    }
  }

  .widget__link {
    display: block;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;

      width: 100%;
      height: 100%;
    }

    &:hover {
      color: $color-primary;
    }
  }

  .widget__item {
    display: block;

    width: 100%;
    height: 100%;
    padding-top: 75%;

    color: $color-text;

    &.widget__item--cover {

      color: $color-white;

      .widget__footer {
        background-color: transparent;
      }

      .widget__image {
        height: 100%;
        padding-top: 0;
      }

      .widget__meta {
        color: $color-white;
        text-shadow: 1px 1px rgba(0, 0, 0, .65);

        .meta__link {
          color: $color-white;

          &:hover {
            filter: brightness(80%);
          }
        }
      }

      .widget__title {
        color: $color-white;
        text-shadow: 1px 1px rgba(0, 0, 0, .65);

        strong {
          color: $color-white;
        }
      }

      &.widget__item {
        height: 100%;
        color: $color-white;

        .widget__image-thumbnail {
          filter: brightness(70%);
        }

        &:hover {
          .widget__image-thumbnail {
            filter: brightness(90%);
          }
        }

        @media screen and (max-width: 479px) {
          padding-top: 25%;
        }
      }
    }

    &:hover {
      .widget__image-thumbnail {
        filter: brightness(120%);
      }
    }

    @media screen and (max-width: 767px) {
      padding-top: 50%;
    }
  }

  &.widget--triple {
    width: calc(100% / 3 - .625rem);

    @media screen and (max-width: 1023px) {
      width: calc(50% - .5rem);
    }

    @media screen and (max-width: 479px) {
      width: 100%;
    }
  }

  &.widget--double {
    width: calc(50% - .5rem);

    .widget__title {
      font-size: 1.875rem;
      line-height: 1.125;

      @media screen and (max-width: 1023px) {
        font-size: 1.375rem;
        line-height: 1.25;
      }

      @media screen and (max-width: 767px) {
        font-size: 1.125rem;
      }
    }

    @media screen and (max-width: 479px) {
      width: 100%;
    }
  }

  &.widget--single {
    width: 100%;
    min-height: 15.625rem;

    .widget__footer {
      width: 60%;
      height: auto;
      margin: 1rem;

      background-color: $color-white;

      @media screen and (max-width: 1023px) {
        width: 100%;
        height: 100%;
        margin: 0;
      }
    }

    .widget__title {
      font-size: 2rem;
      line-height: 1.125;

      @media screen and (max-width: 1199px) {
        font-size: 1.75rem;
        line-height: 1.25;
      }

      @media screen and (max-width: 1023px) {
        font-size: 1.375rem;
      }

      @media screen and (max-width: 767px) {
        font-size: 1.125rem;
      }
    }

    .widget__item {
      display: flex;
      align-items: flex-end;

      padding-top: 2rem;

      &.widget__item--cover {
        .widget__footer {
          margin: 0;
        }
      }

      @media screen and (max-width: 1023px) {
        padding-top: 75%;
      }

      @media screen and (max-width: 767px) {
        padding-top: 50%;
      }
    }

    @media screen and (max-width: 1023px) {
      width: calc(50% - .5rem);
    }

    @media screen and (max-width: 479px) {
      width: 100%;
    }
  }

  &.widget--split {
    .widget__title {
      font-size: 1.375rem;

      @media screen and (max-width: 1199px) {
        font-size: 1.5rem;
      }

      @media screen and (max-width: 1023px) {
        font-size: 1.375rem;
        line-height: 1.25;
      }

      @media screen and (max-width: 767px) {
        font-size: 1.125rem;
      }
    }

    &.widget--single {
      .widget__title {
        font-size: 2rem;
        line-height: 1.125;

        @media screen and (max-width: 1199px) {
          font-size: 1.75rem;
          line-height: 1.25;
        }

        @media screen and (max-width: 1023px) {
          font-size: 1.375rem;
        }

        @media screen and (max-width: 767px) {
          font-size: 1.125rem;
        }
      }

      .widget__item--cover {
        .widget__footer {
          width: 100%;
        }
      }
    }
  }

  &.widget--sidebar {
    width: 100%;

    .widget__head {
      display: none;
    }

		.widget__title {
			font-size: 1.25rem;
			line-height: 1.25;

			@media screen and (max-width: 1023px) {
				font-size: 1.25rem;
			}

			@media screen and (max-width: 767px) {
				font-size: 1.125rem;
			}
		}

 		&.widget--single {
			min-height: 0;

			.widget__footer {
				width: 100%;
				height: 100%;
				margin: 0;
			}

			.widget__item {
        padding-top: 75%;

 				@media screen and (max-width: 1023px) {
					padding-top: 15%;
				}
			}

			@media screen and (max-width: 1023px) {
				width: 100%;
			}
		}

    @media screen and (max-width: 1023px) {
      width: calc(50% - .5rem);
    }

    @media screen and (max-width: 479px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 479px) {
    border-radius: 0;
  }
}
