.widget-transparent {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: space-between;

  width: 100%;
  margin-bottom: 1rem;

  border-top: solid 1px $color-white;

  .widget__link {
    display: flex;

    height: auto;

    @media screen and (max-width: 1023px) {
      border-bottom: solid 1px $color-white;
    }
  }

  .widget__head {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    padding: .8125rem 1.25rem;
    font-size: .625rem;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .75px;

    color: $color-white;
    background-color: $color-primary;

    &:hover {
      filter: brightness(125%);
    }
  }

  .widget__sticker {
    display: flex;
    align-self: flex-end;

    width: 5rem;
    min-width: 5rem;
    height: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;

    @media screen and (max-width: 1023px) {
      width: 4rem;
      min-width: 4rem;
    }

    @media screen and (max-width: 767px) {
      width: 3rem;
      min-width: 3rem;
      margin-bottom: 1.5rem;
      margin-left: 1rem;
    }

    @media screen and (max-width: 479px) {
      margin-left: .5rem;
      margin-right: .5rem;
    }
  }

  .widget__footer {
    width: 100%;
    padding: 1.5rem 0;

    border-bottom: solid 1px $color-white;

    @media screen and (max-width: 1023px) {
      padding: 1rem 0;

      border-bottom: none;
    }
  }

  .widget__title {
    display: block;

    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: .25px;
    word-wrap: break-word;

    @media screen and (max-width: 767px) {
      font-size: 1.125rem;
    }
  }

  .widget__meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    width: 100%;
    margin-top: 0;
    margin-bottom: 1rem;

    color: $color-white;

    .widget__meta-item {
      display: inline-block;
      cursor: pointer;

      &:after {
        content: "•";
        display: inline-block;

        margin-left: .5rem;
        margin-right: .5rem;
      }

      &:last-child:after {
        display: none;
      }
    }
  }

  .widget__item {
    display: block;
    position: relative;

    width: calc(50% - .5rem);
    margin-bottom: 0;
    overflow: hidden;

    color: $color-white;
    background-color: transparent;


    &:last-child {
      .widget__footer {
        border-bottom: none;
      }
    }

    &:first-child {
      height: 100%;

      .widget__link {
        position: absolute;
        left: 0;
        bottom: 0;

        margin-right: 2rem;

        @media screen and (max-width: 1023px) {
          position: relative;

          margin-top: 3rem;
          margin-right: 0;
        }
      }

      .widget__head {
        display: block;
      }

      .widget__sticker {
        display: none;

        @media screen and (max-width: 1023px) {
          display: block;
        }
      }

      .widget__footer {
        border-bottom: none;
      }

      .widget__title {
        font-size: 2.5rem;
        line-height: 1;

        @media screen and (max-width: 1279px) {
          font-size: 2rem;
          line-height: 1.125;
        }

        @media screen and (max-width: 1023px) {
          font-size: 1.375rem;
          line-height: 1.25;
        }

        @media screen and (max-width: 767px) {
          font-size: 1.125rem;
        }
      }

      @media screen and (max-width: 1023px) {
        height: auto;
      }
    }

    @media screen and (max-width: 1023px) {
      width: 100%;
    }
  }

  &.widget--sidebar {
    .widget__item {
      width: 100%;
    }

    .widget__title {
      font-size: 1.125rem;
    }

    .widget__sticker {
      display: none;
    }

    &:first-child {
      .widget__link {
        position: relative;

        margin-right: 0;
      }

      .widget__title {
        font-size: 1.125rem;
        line-height: 1.25;
      }

      .widget__footer {
        border-bottom: solid 1px #fff;
      }
    }
  }
}
