.widget.widget--triple {
  width: calc(100% / 3 - .625rem);

  &.widget--feature {
    .widget__title {
      font-size: 1.25rem;
    }
  }

  @media screen and (max-width: 1023px) {
    width: calc(50% - .5rem);
  }

  @media screen and (max-width: 479px) {
    width: 100%;
  }
}
