.adfox-informer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  position: relative;

  width: 100%;
  margin: 0 auto;

  color: $color-white;
  background-color: transparent;

  .adfox-informer__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;

    width: 100%;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:hover {
      filter: brightness(115%);
    }
  }

  .adfox-informer__content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;

    width: 100%;
    max-width: $width-site;
    min-height: 3rem;
    padding: 0.5rem 1rem 0.5rem;

    .adfox-informer__content-title {
      display: inline-block;
      flex: 1 1 auto;

      margin-right: auto;
      padding-right: 4rem;

      font-size: 1.375rem;
      font-weight: 500;
      line-height: 1.125;

      .icon {
        display: inline-block;

        padding-left: 1rem;
        font-size: 1.5rem;

        transform: translateY(2px);

        @media screen and (max-width: 767px) {
          font-size: 1.125rem;
        }
      }

      @media screen and (max-width: 1023px) {
        font-size: 1.25rem;
      }

      @media screen and (max-width: 767px) {
        font-size: 1rem;
      }
    }

    .adfox-informer__content-remark {
      display: flex;
      align-items: flex-end;
      cursor: default;
      flex: 0 0 auto;
      order: 1;

      margin: 0.5rem 0;

      font-size: 0.5rem;
      font-weight: 400;
      line-height: 1;
    }

    @media screen and (max-width: 1023px) {
      flex-flow: row wrap;
    }
  }
}
