.stripe.stripe--triple {
  .stripe__item {
    width: calc(100% / 3 - .625rem);

    @media screen and (max-width: 767px) {
      width: calc(50% - .5rem);
    }

    @media screen and (max-width: 479px) {
      width: 100%;
    }
  }
}
