$color-black: #000000;
$color-white: #ffffff;

$color-text: #111111;
$color-primary: #1e488f;

$color-success: #78bb13;
$color-alert: #ab0f0f;

$color-sheet: #faf9f3;
$color-light: #2f72e1;
$color-bright: #eaa728;

$color-feature-inner: #a7397d;
$color-feature-outer: #ffe64e;

$color-details-inner: #8bb847;
$color-details-outer: #6aa535;

$color-title-start: #fbcb34;
$color-title-finish: #ed4f71;
$color-author-start: #7ce568;
$color-author-finish: #67e3d6;

$color-selection: #ffff00;

$font-regular: "Formular", "Helvetica Neue Light", "Arial", sans-serif;
$font-serif: "PT Serif", serif;

$content-width: 40rem;
$site-width: 80rem;


body {
  display: block;

  color: $color-white;
  background-color: $color-black;
  line-height: 1.4;
  font-weight: normal;
  font-family: $font-regular;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.body--search {
    overflow: hidden;

    .wrap {
      filter: blur(1.5px);
    }

    .footer {
      filter: blur(1.5px);
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: .25s;

  cursor: pointer;
  outline: none;

  time {
    cursor: pointer;
  }
}

button {
  background-color: transparent;
  transition: .25s;

  cursor: pointer;
  outline: none;

  &[disabled] {
    pointer-events: none;
  }
}

input {
  background-color: transparent;

  outline: none;
}

time {
  cursor: default;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: $color-selection;
}

::placeholder {
  color: grey;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
